[2018-11-20 20:10] normanmaurer commented on #415
@rkapsi just fixed it... seems like I missed to push it 😢

[2018-11-20 20:10] #415 closed

[2018-12-13 18:34] fzakaria opened #416 "Document how to only statically link APR"
Due to FIPS compliance, we have a weird usecase where we'd like to dynamically link against the system OpenSSL library (FIPS version) but simplify our deployment by having APR statically link.

It's not clear from the _fork documentation_, how to do so. By looking at the parent-pom, the _linkStatic_ variable seems to control both.

Is there an opportunity to perhaps break out that property into tw

[2018-12-14 07:15] normanmaurer commented on #416
@fzakaria its not supported atm... that said I guess we can easily do. I will do a pr

[2018-12-14 17:47] fzakaria commented on #416
@normanmaurer thanks --
I'm pretty proficient with maven however the _hawtjni_ stuff is a bit new to me.

We are currently building the dynamic OpenSSL version against OracleLinux.

I imagine with the changes you might submit, I would just create internally a new child module "openssl-dynamic-apr-static" that sets the correct property values.

Please tag me on any PR I would appreciate to follow a

[2018-12-20 15:58] kennknowles opened #419 "parsePackagePrefix does not correctly unescape JNI package paths"
In JNI, the sequence `_1` stands for an underscore in a package name or class name. However, the logic in [parsePackagePrefix](https://github.com/netty/netty-tcnative/blob/master/openssl-dynamic/src/main/c/jnilib.c#L266) unconditionally converts all underscores to slashes.

This arose in the context of Apache Beam, which relocated it to `org.apache.beam.vendor.grpc.v1_13_1.netty`. Our workaround i

[2018-12-20 16:07] normanmaurer commented on #419
@kennknowles PRs welcome :)

[2018-12-20 16:55] kennknowles commented on #419
@normanmaurer of course! I was just working on it. I don't do a lot of C these days so my emacs config had rotted :-). #420.

[2018-12-20 16:57] normanmaurer commented on #419
@kennknowles 🤣 vi FTW ;)

[2018-12-20 17:05] kennknowles commented on #419
I tried `vim` first, but my config there is even worse and kept wanting to use tabs :-p (just to bring both of the great debates into this...)

[2018-12-31 17:47] amoyag00 opened #423 "Error with openssl version compiling netty-tcnative in raspberry Pi3"
Hello,
I am building ntc-netty-tcnative in my raspberry pi 3 with OS raspbian. I have followed the instructions about building in https://netty.io/wiki/forked-tomcat-native.html#how-to-build
When building OpenSSL - Dynamic I get this error
[code]
However, when I type `openssl version
`  in the command line the output I get is `OpenSSL 3.0.0-dev xx XXX xxxx`.  As far as I know the required version

[2019-01-01 17:18] amoyag00 commented on #423
I managed to solve the previous error by installing openssl 1.1.1a, but then I run into another error with boringSSL. When I try to build it I get this error and I don't know why.

[code]
It's the first time I am doing something like this, so I don't have much experience with these kind of erros.

[2019-01-10 22:08] AnujRajSingh opened #424 "Getting exception on AIX (IBM). SSL looking for binaries for AIX(IBM) platform."
I am trying to use booringSSL on AIX(IBM) platform using java
IBM J9 VM (build 2.9, JRE 1.8.0 AIX ppc64-64-Bit Compressed References 20180626_390413 (JIT enabled, AOT enabled)
and
Maven dependency
[code]
I am getting Exception

INFO   | jvm 1    | 2018/12/06 13:23:26 | 	Suppressed: java.lang.UnsatisfiedLinkError: could not load a native library: netty_tcnative_aix_ppc_64WrapperSimpleApp Error:
INF

[2019-01-11 01:15] normanmaurer commented on #424
Yes... We do not ship AIX support

[2019-01-12 06:39] arssingh1983 commented on #424
Thanks !!

[2019-01-12 06:41] AnujRajSingh commented on #424
Thanks!!

[2019-01-14 07:58] #424 closed

[2019-01-14 11:50] ankit0706 opened #425 "failed to load netty_tcnative_linux_x86_32"
Hi all,
I am creating a gRPC client and server. My code was executed perfectly on my windows machine, but the same code is failing on linux.

My error message :
java.lang.IllegalArgumentException: Failed to load any of the given libraries: [netty_tcnative_linux_x86_32, netty_tcnative_linux_x86_32_fedora, netty_tcnative_x86_32, netty_tcnative]

My Maven dependency in pom.xml
[code]

Upon hitting th

[2019-01-14 11:58] normanmaurer commented on #425
@ankit0706 I think you use a 32bit JVM. What does `java -version` tell you ? Also Java 1.6 is super old I would recommend updating it.

[2019-01-14 12:45] ankit0706 commented on #425
@normanmaurer You're right. I just checked and it's 32 bit JVM. The windows machine where my code ran isusing 64 bit JVM. Actually windows is my mahcine and the linux one is where I have to deploy, so I guess I need to inform the guys maintaining the server about this factor.

[2019-01-14 12:48] normanmaurer commented on #425
Yes...closing

[2019-01-14 12:48] #425 closed

[2019-01-14 12:49] normanmaurer commented on #423
@amoyag00 you may need to update your GCC version.

[code]

Sorry there is not much I can help with here.

[2019-01-14 22:40] amoyag00 commented on #423
I have it updated. Don't worry, I have found another way of doing what I needed. Thank you anyway for your answer

[2019-01-14 22:40] #423 closed

[2019-01-25 03:59] yanp1210 opened #427 "arm version"
Is there a version that supports arm(aarch)?

[2019-01-27 12:18] tigersaggy commented on #404
Thanks a lot for sharing this post, i was facing the same issue and was struggling with it for the last two days. After reading the post and upgrading the netty to version 4.1.32, it worked like a charm.

Kudos @manikantag and @normanmaurer :)

[2019-02-12 16:24] AnitaNayak opened #431 "netty-tcnative on s390x not working: Filebeat is throwing `tls:ServerkeyExchange Error`"
Built netty-tcnative 1.1.33 on s390x using OpenJDK-1.8. boringssl-static jar got built and bundled the Jar with logstash:5.5.1. But filebeat is throwing `tls:ServerkeyExchange Error`.
There are two queries:
1. How to build boringssl-static jar in debug mode. I tried boringssl-static/pom.xml as `-DDEBUG` mode. But getting error with undefined error.
2. While building on s390x, encountered two error

[2019-02-15 17:33] AnitaNayak commented on #431
Can any one give some suggestions from netty-tcnative community if the above build procedure is correct?

[2019-02-18 11:45] marcelloromani commented on #331
I totally second that!

[2019-02-18 16:43] AnitaNayak commented on #431
@normanmaurer , could you please respond to the above queries? Do we need to introduce any s390x platform specific code to make it work? Though netty-tcnative built on s390x as mentioned above, but still the logs are not flowing and filebeat throws `tls: ServerKeyExchange Error`.

[2019-02-19 11:20] sheetal-s commented on #424
Hi Anuj
I am facing the same issue, what did you ultimately do to address this, I need to support HP-UX as well.
Any pointers will be helpful.

[2019-02-19 11:34] ankitshubham97 commented on #424
@AnujRajSingh I am getting similar issue (https://github.com/grpc/grpc-java/issues/5369 and https://github.com/netty/netty/issues/8871). Could you tell how did you do that for AIX?

[2019-02-19 16:27] AnujRajSingh commented on #424
You Need to build binaries on the AIX (Though this one for Linux, you need corresponding packages for AIX https://netty.io/wiki/forked-tomcat-native.html#wiki-h3-13)  Thanks Anuj

[2019-02-21 10:11] ankitshubham97 commented on #424
@AnujRajSingh Did you also make any change in the netty-tcnative code? Or its pom.xml?

[2019-02-21 10:56] ankitshubham97 commented on #424
@AnujRajSingh And which JDK did you use? If I am correct, IBM does not provide its own JDK.

[2019-02-22 01:28] philsttr opened #434 "KeyManagerFactory not supported when using openssl 1.0.2 at runtime"
PR #368 was supposed to enable KeyManagerFactory when the dynamically linked netty-tcnative binary is used with openssl 1.0.2 at runtime, but I'm finding that it is still not working for me.

### Expected behavior

KeyManagerFactory is supported when using the dynamically linked netty-tcnative binary with openssl 1.0.2 at runtime.

### Actual behavior

KeyManagerFactory is NOT supported when using

[2019-02-22 16:52] normanmaurer commented on #431
Sorry I have no idea ... I don't have any experience with building on S390x and also have no access to such a platform to investigate.

[2019-02-22 21:54] AnitaNayak commented on #431
Hi @normanmaurer, could you please help us in building netty-tcnative on s390x. We have many s390x VMs. I can check with my manager on how can we give you the access to. Please let us know, if that can help. Thank  you very much for responding us.

[2019-02-23 18:57] ankitshubham97 opened #436 "error: unknown type name 'Dl_info'; did you mean 'fh_ino'?"
I am trying to build netty-tcnative boringssl on AIX 7.2.
Below is the AIX version detail:
[code]
I cloned the netty-tcnative repo. In the top pom.xml file, I just commented out openssl-dynamic, openssl-static and libressl-static because I was interested in boringssl build. It is around line 458 and the part begins like this:

[code]
Then I did mvn install from the root directory (/home/ankit/nett

[2019-02-23 19:08] normanmaurer commented on #434
Will check but it may take a bit of time as I am quite busy atm.

[2019-02-23 19:13] normanmaurer commented on #436
Keep in mind that I have no AIX host to verify so it will be hard for me to fix this :/

That said I think `Dl_info` is not a thing on AIX and we will need to hand-roll it there. Something like what is done here:

ftp://ftp.fu-berlin.de/unix/NetBSD/NetBSD-current/src/crypto/external/bsd/openssl/dist/crypto/dso/dso_dlfcn.c

That said without be able to test it I will most likely not be able to do i

[2019-02-25 20:13] normanmaurer commented on #434
So I did some digging and this is related to this:

https://bugzilla.redhat.com/show_bug.cgi?id=1497859

This is really unfortunate :/

[2019-02-26 00:10] philsttr commented on #434
*sigh.*  I agree.  That is unfortunate.

What do you think netty-tcnative can/should do for this case?
* Not support KeyManagerFactory in the pre-compiled linux-x86_64-fedora artifact (i.e. require users to compile their own libnetty-tcnative.so against openssl 1.0.2 to get this support)
* Implement some sort of workaround in netty-tcnative similar to what is recommended in the bug.  The workaroun

[2019-02-26 05:54] normanmaurer commented on #434
I need to think about it a bit :/

[2019-02-26 13:01] normanmaurer commented on #434
@philsttr here you go https://github.com/netty/netty-tcnative/pull/437... PTAL and test. I tried this with the docker image you provided and it works as expected.

[2019-02-26 17:45] philsttr commented on #434
@normanmaurer Awesome!  Thank you so much.  You made my day.

I'm looking forward to the next release with this fix included.

[2019-02-26 18:30] #434 closed

[2019-03-01 17:53] fzakaria opened #439 "Issue with latest 2.0.21.Final openssl dynamic"
Hey @normanmaurer

I'm testing out the new 2.0.21.Final openssl dynamic to update https://github.com/netty/netty/pull/8699 however I'm running into some _UnsatisfiedLinkError_ namely when it tries to do `OpenSsl#initializeTcNative`

[code]
If I revert it back to the SNAPSHOT I was using from when my pull-request to netty-tcnative was accepted, it continues to work.

[2019-03-01 17:57] normanmaurer commented on #439
@fzakaria thats strange... what OS you are on ? Also are you sure there is not another version on the class path ?

[2019-03-01 18:02] fzakaria commented on #439
Hmm -- I'm still debugging but stepping through it seems to be finding the correct JAR & dylib
`jar:file:/Users/fmzakari/.m2/repository/io/netty/netty-tcnative/2.0.21.Final/netty-tcnative-2.0.21.Final-osx-x86_64.jar!/META-INF/native/libnetty_tcnative.jnilib`

[2019-03-01 18:04] normanmaurer commented on #439
@fzakaria yeah seems like there is something wrong... let me check.

[2019-03-01 19:16] normanmaurer commented on #439
@fzakaria can you please try 2.0.22.Final ?

[2019-03-01 20:53] fzakaria commented on #439
Looks good.
What was the problem ?

[2019-03-02 05:48] normanmaurer commented on #439
I did somehow mess up the build when doing the release 🤷‍♂️

[2019-03-02 05:48] #439 closed

[2019-03-04 21:24] amandeepgautam opened #441 "Cannot run a file that does not have a valid format while running: CertificateVerifierTest"
I am trying to compile netty-tcnative on AIX. There have been a few issues but I am past all of them and can succesfully generate the artefact `/tmp/apace-maven/apache-maven-3.6.0/bin/mvn install -Dmaven.test.skip=true`.  However, when I run it as: `/tmp/apace-maven/apache-maven-3.6.0/bin/mvn -X install`, the following error is generated.

[code]

Any idea on how to solve this?

[2019-03-04 21:40] philsttr commented on #434
Confirmed working in netty-tcnative 2.0.22.Final

[2019-03-05 05:54] normanmaurer commented on #434
🎉

[2019-03-08 20:13] dhawal96 opened #442 "netty-tcnative-boringssl-static showing CVE-2014-3488 and CVE-2015-2156"
Running the owasp dependency check brings up
(pkg:maven/io.netty/netty-tcnative-boringssl-static@2.0.17.Final, cpe:2.3:netty_project:netty:2.0.17:*:*:*:*:*:*:*) : CVE-2014-3488, CVE-2015-2156

NVD states that Netty versions before 3.9.2 are affected, but the versioning for netty-tcnative is completely different. It's hard to tell if this is a false positive or not. Are these security vulnerabiliti

[2019-03-08 20:26] slandelle commented on #442
Definitely a false positive.

[2019-03-08 20:42] normanmaurer commented on #442
Yeah boringssl is not effected

[2019-03-08 21:53] amandeepgautam opened #443 "java.lang.UnsatisfiedLinkError: io/netty/internal/tcnative/Library.aprMajorVersion()I"
I am trying to build netty-tcnative for AIX and am facing errors. I was able to resovle https://github.com/netty/netty-tcnative/issues/441 and https://github.com/netty/netty-tcnative/issues/436 but cannot figure out the following error. It would be great if someone could explain what it means.

[code]

Follwoing is my environment:
-- builiding tcnative from source.
-- AIX 7.2
-- JVM: IBM J9 VM (bu

[2019-03-09 18:33] gennadylaventman commented on #431
@AnitaNayak Just saw you message while looking for netty-tcnative for system z. Maybe this can help:
https://github.com/linux-on-ibm-z/docs/wiki/Building-netty-tcnative

[2019-03-11 10:00] #442 closed

[2019-03-11 18:48] amandeepgautam commented on #443
@normanmaurer could you please look.

[2019-03-14 17:57] johnou commented on #443
@amandeepgautam I think the stacktrace you pasted is truncated, would you please paste the entire thing.

[2019-03-20 11:56] kwart opened #448 "IBM 8 + BoringSSL and client certificate signature again"
This is a follow up for issue #404.

We experience issues when running on IBM Java (we use version 8) with BoringSSL provider on the server side and JSSE engine on the client side.
The problems started with netty version `4.1.31.Final` and are still present in `4.1.34.Final`. Nevertheless, in my opinion it's only a side effect of a problem in the `netty-tcnative-boringssl-static`.
The native `SSL.

[2019-03-20 13:39] normanmaurer commented on #448
@kwart so you are saying it also not work when you use the exact same versions that reported it fixed in #404 ?

[2019-03-20 14:01] kwart commented on #448
The fix for #404 mentions netty 4.0.32.Final and netty-tcnative 2.0.20.Final. This issue is present in that combination.

On the other hand, the issue #404 is reported against combination 4.1.30.Final + 2.0.18.Final. This issue is not reproducible on that one.

[2019-03-20 14:18] normanmaurer commented on #448
@kwart ok got it... let me have look.

[2019-03-21 13:49] normanmaurer commented on #448
@kwart ok I found the problem... working on a fix + unit test now :)

[2019-03-21 15:14] normanmaurer commented on #448
Should be fixed by https://github.com/netty/netty-tcnative/pull/449. I will add a unit test to netty itself.

[2019-03-22 09:46] #448 closed

[2019-03-22 09:48] normanmaurer commented on #441
Sorry no... I have no AIX system to investigate on.

[2019-03-26 11:10] #387 closed

[2019-04-03 17:18] Moocow9m opened #455 "boringssl-static crashes on Elliptic Curve sect571r1 key"
Most likely similar to #340
Using a sect571r1 key on io.netty:netty-tcnative-boringssl-stati:2.0.24.Final causes this crash:
https://pastebin.com/5u91r3f2
Guessing unsupported but putting this here to confirm.

Code:

`ServerBootstrap bootstrap = new ServerBootstrap().group(new NioEventLoopGroup(1), new NioEventLoopGroup()).channel(NioServerSocketChannel.class);
SslContext context= SslContextBuild

[2019-04-03 17:19] normanmaurer commented on #455
Can you provide a reproducer ?

[2019-04-03 17:26] Moocow9m commented on #455
Code:
`SslContext context= SslContextBuilder.forServer(certificate, privateKey).sslProvider(SslProvider.OPENSSL).build();`

Cert and Key:
`-----BEGIN PRIVATE KEY-----
MIIBCQIBADAQBgcqhkjOPQIBBgUrgQQAJwSB8TCB7gIBAQRIALNClTXqQWWlYDHw
LjNxXpLk17iPepkmablhbxmYX/8CNzoz1o2gcUidoIO2DM9hm7adI/W31EOmSiUJ
+UsC/ZH3i2qr0wn+oAcGBSuBBAAnoYGVA4GSAAQE9hahOOVLakIwYQzY/ypmeZRF
YDl7tfE98iEcDzvqyOaCMmW4+BPQ6TB67Ejhj9

[2019-04-03 17:32] Moocow9m commented on #455
@normanmaurer server code sample provided

[2019-04-03 18:18] davidben commented on #455
BoringSSL does not support sect571r1 or curves over binary fields in general. Of X9.62-style curves, we support P-224, P-256, P-384, and P-521. If unsure, use P-256 as that sees the most performance and hardening work across the ecosystem.

I'm not familiar enough with Netty to know whether that stack trace is the expected error handling for configuring a key it can't use, but the BoringSSL-level

[2019-04-03 18:21] normanmaurer commented on #455
@davidben thanks... I think we should try to fail fast at least

[2019-04-03 20:17] Moocow9m commented on #455
When using a P-521 Key and cert chain I get a BAD_ECC_CERT error.
Server Output: https://pastebin.com/EPesFKT3
Client Output: https://pastebin.com/02fsnGPf

[2019-04-03 20:20] #455 closed

[2019-04-03 20:30] Moocow9m opened #456 "Boringssl-static crashes on Elliptic Curve P-521 key and cert chain with BAD_ECC_CERT (works with JDK impl.)"
Using io.netty:netty-tcnative-boringssl-static:2.0.24.Final

When using a P-521 Key and cert chain I get a BAD_ECC_CERT error.
Works when using JDK impl instead of boringssl impl.
Perhaps Boringssl is ignoring the trust manager?

Server Output: https://pastebin.com/EPesFKT3
Client Output: https://pastebin.com/02fsnGPf
Cert Chain: https://pastebin.com/Gir8iJtz
Cert Chain provided to both client(tru

[2019-04-04 00:28] Moocow9m commented on #456
Perhaps Boringssl is ignoring the trust manager?

[2019-04-04 01:09] davidben commented on #456
Er, right, my bad. The low-level crypto bits support P-224, P-256, P-384, and P-521, but the TLS client, by default, will only accept P-256 and P-384, like Chrome and IE.

Do I guess correctly that you are just picking the curve with the largest number? Do not do that. Use P-256.

[2019-04-04 01:14] Moocow9m commented on #456
@davidben I am not automatically picking the largest number, I was trying to use ones not supported commonly on purpose. I will lower it.

[2019-04-04 01:28] davidben commented on #456
Ah, sorry, my mistake.

It is possible to enable it in BoringSSL, but whether it's worth exposing a Netty option I'll leave to Netty folks. Configuring curves is not that common of a use case, and API surface costs maintenance overhead.

We omit it because we try to keep the set of options supported small, for maintenance and testing reasons. A good implementation of an EC curve is specialized to

[2019-04-04 01:42] davidben commented on #456
By the way, if your goal is to use uncommon stuff for testing purposes, BoringSSL may not be the library for you. We try to be more minimal so that we only need to maintain the stuff that's actually important. TLS has a history of too many unnecessary options. In many cases, this has had negative security consequences.

[2019-04-04 02:10] Moocow9m commented on #456
P-256 and P-384 worked. And thanks for the explanation!

[2019-04-04 02:10] #456 closed

[2019-04-04 10:34] normanmaurer commented on #455
@Moocow9m see https://github.com/netty/netty/pull/9009

[2019-05-13 13:11] User979269852 opened #462 "java.lang.IllegalArgumentException: TLSv1.3java.lang.IllegalArgumentException: TLSv1.3"
when I update netty-tcnative-boringssl-static's version from 2.0.14.Final to 2.0.20.Final.something bad happened:Caused by: java.lang.IllegalArgumentException: TLSv1.3
        at sun.security.ssl.ProtocolVersion.valueOf(ProtocolVersion.java:187)
        at sun.security.ssl.X509TrustManagerImpl.checkTrusted(X509TrustManagerImpl.java:258)
        at sun.security.ssl.X509TrustManagerImpl.checkServerT

[2019-05-14 13:06] zergweak commented on #443
Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.053 sec <<< FAILURE! - in io.netty.internal.tcnative.CertificateVerifierTest
io.netty.internal.tcnative.CertificateVerifierTest  Time elapsed: 0.053 sec  <<< ERROR!
java.lang.UnsatisfiedLinkError: io.netty.internal.tcnative.Library.aprMajorVersion()I
	at io.netty.internal.tcnative.Library.aprMajorVersion(Native Method)
	at io.netty.

[2019-05-14 13:19] normanmaurer commented on #443
@zergweak so it only happens on Java7 but the same works with java8 correct ?

[2019-05-15 02:19] zergweak commented on #443
@normanmaurer yes, used Java 8 is ok.

[2019-05-15 05:26] normanmaurer commented on #443
@zergweak will check... that said I think we generally not support JDK7 with the native implementation in netty.

[2019-05-15 05:41] zergweak commented on #443
@normanmaurer Thank you very much.

[2019-05-16 14:45] TristanPerry opened #463 ""Error setting certificate chain" error on Centos 7 with openssl-static (boringssl-static is fine)"
Using JVM 1.8.0_201 (Oracle), I'm seeing an OpenSSL initialization error in Centos 7.5.1804 with openssl-static, but it works fine in Ubuntu 18.04.2. Both distros work fine with boringssl-static.

**What I'm doing**

Setting up an SslContext within Netty, using OpenSSL (via tc-native) as the provider:

[code]

Due to needing certain TLS_DHE ciphers which aren't provided by boringssl, I have compil

[2019-05-29 10:17] siva461 opened #464 "Failed to load in 32bit jvm Windows"
Failed to load any of the given libraries: [netty-tcnative-windows-x86_64, netty-tcnative]

java.lang.IllegalArgumentException: Failed to load any of the given libraries: [netty_tcnative_windows_x86_32, netty_tcnative_x86_32, netty_tcnative]
        at io.grpc.netty.shaded.io.netty.util.internal.NativeLibraryLoader.loadFirstAvailable(NativeLibraryLoader.java:104)
        at io.grpc.netty.shaded.io

[2019-05-29 10:28] normanmaurer commented on #464
We only support 64 bit.

[2019-05-29 10:28] #464 closed

[2019-05-29 19:34] normanmaurer commented on #463
Thats odd... I will have a look but it may take a bit of time

[2019-05-29 19:35] normanmaurer commented on #462
Please update to latest netty version + netty-tcnative version or use java8.

[2019-05-29 19:35] #462 closed

[2019-05-29 19:39] normanmaurer commented on #463
Can you show what exact openssl-static version you use ?

[2019-05-30 07:46] TristanPerry commented on #463
Okay many thanks. The exact openssl-static versions are c46c351/2.0.25.Final and 957a26c/2.0.26.Final-SNAPSHOT (Ubuntu was fine with both, Centos had the issue with both), with fuller build output below, although please let me know if you meant something else.

**Initial build output for 2.0.25:**

**And for HEAD (2.0.26.Final-SNAPSHOT):**

[2019-05-31 06:21] normanmaurer commented on #463
@TristanPerry any chance this is maybe related to some SELinux setting ? Anything shows up in `dmesg` ?

[2019-05-31 12:28] TristanPerry commented on #463
@normanmaurer I wondered that too but I get the error in all three SELinux modes (enabled, permissive, disabled). I'm afk and unfortunately won't be able to check dmesg for a couple of weeks (long story) sorry.

[2019-06-01 09:27] johnou opened #467 "netty-tcnative-boringssl-static 2.0.25.Final artifact is not static"
[code]

shouldn't libcrypt.so.1 be included?

[2019-06-01 09:37] normanmaurer commented on #467
Hmm will need to have a look. Does it not work when trying to use it ?

[2019-06-01 10:14] johnou commented on #467
Yeah fails on vanilla Fedora 30, I could probably work around it by symlinking libcrypt.so.1 to libcrypt.so.x but it shouldn't be necessary. I can take a peek later today as well but I need to finish up some gardening first.

[2019-06-01 15:21] johnou commented on #467
When building it locally it ends up linking to libcrypt.so.2

✔ ~/Workspaces/netty-tcnative/boringssl-static/target/native-build [master|✔]
17:20 $ ldd ./target/lib/libnetty_tcnative.so
	linux-vdso.so.1 (0x00007ffedd7bb000)
	librt.so.1 => /lib64/librt.so.1 (0x00007f2baac5b000)
	libcrypt.so.2 => /lib64/libcrypt.so.2 (0x00007f2baac20000)
	libpthread.so.0 => /lib64/libpthread.so.0 (0x00007f2baabff000

[2019-06-06 13:51] Ravipatel401 commented on #393
Did you find the answer? I have same Problem.

[2019-06-06 14:20] slandelle commented on #393
netty-tcnative official binaries only ship with native binaries for 64 bits architectures. You run on a 32 bits one.
You would need to compile native binaries yourself. Or don't use tc-native and use JDK provider.

[2019-06-07 08:52] Ravipatel401 commented on #393
Please Elaborate that currently there are no any library name with netty-tcnative in my project my it create runtime,. Please see this **exception**

java.lang.IllegalArgumentException: Failed to load any of the given libraries: [netty_tcnative_windows_x86_32, netty_tcnative_x86_32, netty_tcnative]
	at io.grpc.netty.shaded.io.netty.util.internal.NativeLibraryLoader.loadFirstAvailable(NativeLibrary

[2019-06-07 09:06] slandelle commented on #393
The stacktrace is pretty explicit. Netty computes the name of the native library it needs to load for your architecture.

The `_x86_32` proves that Netty has detected that your platform is x86 **32 bits**.
As I said, Netty only provides natives binaries for x86 **64 bits** platforms.

Now, you use gRPC, so please read [its documentation](https://github.com/grpc/grpc-java/blob/master/SECURITY.md) a

[2019-06-07 22:49] normanmaurer commented on #467
I now remember that @ejona86 also brought this up... You need to use:

[code]

See https://github.com/grpc/grpc-java/commit/2b7269b68c610f2dbabed149ce5f866a3935a647#diff-f1a97ccd40c28e5c0945852559d3903cR349

I will update the docs.

[2019-06-07 22:55] normanmaurer commented on #467
done ... https://github.com/netty/netty/wiki/Forked-Tomcat-Native#prerequisites-for-statically-linked-netty-tcnative--static

[2019-06-07 22:55] #467 closed

[2019-06-08 01:10] johnou commented on #467
Thanks!

[2019-06-08 09:25] Ravipatel401 commented on #371
**I have tried google cloud speech API integration but working my PC, and tried to integrate in server pc and another laptop showing same error.**

INFO: netty-tcnative unavailable (this may be normal)
java.lang.IllegalArgumentException: Failed to load any of the given libraries: [netty_tcnative_windows_x86_32, netty_tcnative_x86_32, netty_tcnative]
	at io.grpc.netty.shaded.io.netty.util.internal.

[2019-06-08 09:46] Ravipatel401 commented on #343
Please Share link for download  io.netty
netty-tcnative-boringssl-static

[2019-06-11 05:31] Ravipatel401 commented on #393
Thanks,

Problem my solved by upgrading jdk 8 32bit to jdk 8 64bit. just installed and changed runtime.  then error gone.

[2019-06-11 16:47] normanmaurer commented on #371
Use a 64 bit JVM

[2019-06-11 16:48] normanmaurer commented on #343
You can find it on maven central

https://repo.maven.apache.org/maven2/io/netty/netty-tcnative-boringssl-static/

[2019-06-17 08:59] TristanPerry commented on #463
Hi @normanmaurer, I'm in a position to look at this more again now - `dmesg` doesn't show anything, neither do some of the more relevant `/var/log/*` logs.

[2019-06-21 06:08] hc-codersatlas commented on #111
Are there any other issues besides glibc? So if we manually install glibc on Alpine it'll still work?

[2019-06-21 18:55] ejona86 commented on #111
I don't think glibc is even an issue now. I think you just need `apk update && apk add libc6-compat`. That's what it seemed like when I tested for grpc: https://github.com/grpc/grpc-java/blob/master/SECURITY.md#netty

[2019-07-08 15:16] NicoK opened #471 "JVM fails with "relocation error" on dynamic openSSL library"
I'm on openSUSE Tumbleweed x86_64 and I'm trying to use dynamically-linked openSSL through `netty-tcnative`. However, it seems that my system library is packaged/built a bit differently than what the official builds expect (similarly to #223). I'm getting this (in case you are wondering, we're using a shaded version for Apache Flink):
[code]

Comparing the released wrapper lib with my system one i

[2019-07-09 19:02] normanmaurer commented on #471
@NicoK thanks for all the details.. Unfortunately I have no idea how we could catch this :/

[2019-07-10 09:58] NicoK commented on #471
I played around with adding more classifiers for suse and arch-based systems, but unfortunately, that won't be enough. Problem seems to be that (in contrast to the special fedora package), JNI wouldn't fail during loading the library (sing the `libssl.so.1.0.0` file is there) but while using the package and I haven't found a way to catch this error (I can only suspect that this is not possible).

[2019-07-11 07:27] lyn1985 commented on #393
for my situation ， I try to construct a Client, use this code :
ManagedChannelBuilder.forAddress(host, port)
                .usePlaintext(true)
                .build();
to solved the problem

[2019-07-12 10:09] normanmaurer commented on #471
@NicoK sounds good.

[2019-07-19 10:31] morvael opened #473 "Problem with building on ppcle_64"
Netty build fails with:
[code]

so I tried to build netty-tcnative locally, but it fails with:
[code]

Am I doing something wrong?

system: CentOS Linux release 7.6.1810 (AltArch)
kernel: 3.10.0-957.1.3.el7.ppc64le
java:
[code]
maven: 3.6.1

[2019-07-19 10:46] normanmaurer commented on #473
Yes because we don not support ppcle_64.

[2019-07-19 10:46] #473 closed

[2019-07-19 10:56] morvael commented on #473
Sure, but shouldn't it build from source?

Anyway, turns out the actual error was a bit earlier:
[code]

My fault, required packages were not installed. It went past this hurdle now.

[2019-07-19 11:48] morvael commented on #473
Had to switch to OpenJDK from RedHat repos, and it compiled properly, will soon check if it works. Had some issues though:
- It's not easy to supply tar.gz sources of OpenSSL manually in case FTP download is blocked (somehow corporate IT security hates FTP), because pom wants to put them into target directory (which is removed on clean install). Please allow placing the download somewhere else (fo

[2019-07-19 12:38] morvael opened #474 "Improve the method of downloading OpenSSL sources for static build"
Currently OpenSSL sources are downloaded using FTP. Somehow corporate IT security doesn't like FTP at all, and disable it completely (at least where I work and worked). It's possible to skip this step by supplying tar.gz of OpenSSL sources manually, but build script wants them placed in target directory, which means they are removed on clean install. Please alter pom.xml to either:
a) place and lo

[2019-07-19 12:40] morvael opened #475 "Detect ninja executable alternate name"
In my system, CentOS 7.6, ninja executable installed in standard way is actually called ninja-build. It would be nice if pom.xml of boringssl-static subproject would be able to detect and handle that.

[2019-07-19 12:41] morvael commented on #473
Build finished and epoll is working.

[2019-07-19 12:46] slandelle commented on #474
Is very unlikely to solve anything for corporate IT where direct access is typically forbidden and you are force to use a proxy with some complicated auth.

[2019-07-19 12:48] morvael commented on #474
Then, option A will be enough.

[2019-07-19 12:52] morvael commented on #474
If going with option a) the same has to be done for boringssl-static and libressl-static subprojects, as they all download to target.

[2019-07-22 20:22] normanmaurer commented on #475
@morvael PTAL. https://github.com/netty/netty-tcnative/pull/477

[2019-07-23 09:36] morvael commented on #475
Project built without problems.

[2019-07-23 12:20] normanmaurer commented on #475
@morvael thanks a lot for verify it

[2019-07-23 12:20] #475 closed

[2019-07-23 12:32] morvael commented on #475
BTW, I was able to install and run ppc64le system on a "normal" Intel machine using Qemu on my Linux Mint. It isn't fast, but it does it job. So it should be possible to build such version of native library somewhere on Netty project's machines :)

[2019-07-23 12:47] normanmaurer commented on #475
@morvael maybe you can write this up ?

[2019-07-23 13:09] normanmaurer commented on #474
@morvael see https://github.com/netty/netty-tcnative/pull/478 for switching to use https

[2019-07-23 13:30] morvael commented on #475
You mean a tutorial to be placed on project wiki? That would be of help to some other people compiling Netty, but would not result in stock netty-all from Maven having proper .so inside.

I'm not a qemu veteran, so now I'm struggling with sharing files between guest and host (recommended 9p filesystem approach is impossible in CentOS 7, and I would have to reconfigure network interface emulation t

[2019-07-23 13:35] morvael commented on #474
From what I see ftp download was retained in build-openssl-windows profile.

[2019-07-23 13:42] morvael commented on #474
Download and build on build-openssl-linux profile was successful.

[2019-07-23 20:14] normanmaurer commented on #474
@morvael changed windows as well

[2019-07-24 07:32] morvael commented on #474
Looks good although I haven't tested it, but it's now similar to other profiles, so it should work.

[2019-07-25 07:01] morvael commented on #475
04:24 h to build tcnative using qemu'ed ppc64le :)

[2019-08-02 18:51] Andrew-Lev opened #481 "Using netty-tcnative with openssl-fips. How can I verify that its running with fips enabled?"
I am running grpc-netty-1.18 with netty-tcnative 2.0.20 on CentOS Linux release 7.6.1810. This is all in a docker. I need to verify that its running in FIPS mode.

I've gone and built the dynamic netty-tcnative with OpenSSL 1.0.2-fips, and I do see it reporting that it using the expected version in the logs.

    DEBUG io.netty.handler.ssl.OpenSsl - netty-tcnative using native library: OpenSSL 1.0

[2019-08-09 18:04] AnitaNayak opened #483 "Logstash log showing “error:1e00007d:Cipher functions:OPENSSL_internal:INVALID_NONCE”"
Hi, we are testing logstash 6.6.1 (netty-tcnative version:  netty-tcnative-boringssl-static-2.0.17.Final-linux-s390_64.jar ) on s390x platform (Linux on Z).

After starting the ELK 6.6.1 stack, everything seems working fine and we can see logs on Kibana UI, but logstash log has following entries from time to time:
[code]

After turning on org.logstash.beats.BeatsHandler debug level tracing, we can

[2019-09-02 09:15] johnou opened #485 "JVM crash caused by memory corruption"
I'll update this further when I get to a keyboard.

Java 1.8.0_172
Netty 4.1.38.Final
netty-tcnative-boringssl-static-2.0.25.Final

*** Error in `java': malloc(): memory corruption: 0x00007f6fdb0f6558 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x82d06)[0x7f6fdedd3d06]
/lib64/libc.so.6(__libc_malloc+0x4c)[0x7f6fdedd621c]
/tmp/libnetty_tcnative_linux_x86_64194951119981733903.so(+0x646f2)[0x7

[2019-09-02 09:17] johnou commented on #485
@normanmaurer is the memory map of any use? Or what additional information can I provide to track down the problem? Memory on the server wasn't particularly tight.

[2019-09-02 09:19] normanmaurer commented on #485
The core dump as well... and the Version etc

[2019-09-03 06:58] ankit0706 opened #486 "Using server alias name in client code for grpc"
Hi all, I am using gRPC for my client/server. This is about using the server's hsotname at client side code.  At server side I used the following code connecting to the service

public static NettyChannelBuilder.forAddress(String host, int port)

Earlier we used the actual hostname and it worked but now we are aked to use alias.
the alias name when put in the same code does not work and I get the

[2019-09-03 06:59] normanmaurer commented on #486
@ankit0706 you should ask on the GRPC issue tracker / mailing list.

[2019-09-03 06:59] #486 closed

[2019-09-03 08:37] normanmaurer commented on #485
@johnou ^^

[2019-09-03 10:12] normanmaurer commented on #481
@Andrew-Lev yeah we could make it return the value... Would this help ?

[2019-09-03 10:16] normanmaurer commented on #481
@Andrew-Lev actually if `SSL.fipsModeSet(1)` did not throw it was successful to enable FIPS. So I don't think we need to change anything.

[2019-09-03 12:14] johnou commented on #485
@normanmaurer unfortunately we had cores disabled because they can fill up the disk really quickly, we have enabled them now using prlimit and are waiting for it to happen again.. I'll keep you posted.

[2019-09-03 13:21] normanmaurer commented on #485
thanks… any other logs from the last time you can share . also how often did this happen so far?

Von meinem iPad gesendet

[2019-09-09 12:22] normanmaurer commented on #485
@johnou ping...

[2019-09-09 12:23] normanmaurer commented on #481
Closing as I think what we have is good enough... @Andrew-Lev Please re-open if you disagree .

[2019-09-09 12:23] #481 closed

[2019-09-09 12:24] normanmaurer commented on #463
hmm... Unfortunately I have no idea :/

[2019-09-09 12:25] normanmaurer commented on #431
@AnitaNayak yes please provide me a VM and I may be able to help... that said I am not sure if BoringSSL supports this platform at all. Are you sure it does ?

[2019-09-09 12:28] normanmaurer commented on #72
I just double checked and we actually do this now... Lets close this one

[2019-09-09 12:28] #72 closed

[2019-09-09 14:47] johnou commented on #485
@normanmaurer pong, apologies for the satellite delay, currently at the seaside.

No crashes since enabling core dumps.. shall we close the issue for now and I'll reopen when we snatch a dump?

[2019-09-09 18:20] #40 closed

[2019-09-09 18:20] normanmaurer commented on #485
@johnou I think it is fine to keep it open...

[2019-09-14 07:59] normanmaurer commented on #485
@johnou question... do you use -Dio.netty.handler.ssl.openssl.useTasks=true ?

[2019-09-14 10:18] johnou commented on #485
@normanmaurer yes we do.

[2019-09-14 10:26] normanmaurer commented on #485
Do you use a custom TrustManager or KeyManager as well ?

[2019-09-14 10:26] johnou commented on #485
@normanmaurer with a fork join pool as the executor if that helps..

[2019-09-14 10:40] johnou commented on #485
Nope, no custom TrustManager or KeyManager.

[2019-09-16 09:17] normanmaurer commented on #485
Will be fixed by netty-4.1.42.Final once released.

[2019-09-16 09:17] #485 closed

[2019-09-24 23:03] ross-t commented on #462
I'm experiencing this with Netty v4.1.35.Final (via Play) and netty-tcnative-boringssl-static v2.0.20.Final on openjdk 8.

If I'm traversing backwards through Netty changeblogs correctly, [4.1.32.Final](https://netty.io/news/2018/11/29/4-1-32-Final.html) is the most recent pre-4.1.35.Final release calling for a tcnative version bump, so 2.0.20.Final _should_ be the right version. I tried on 2.0.26

[2019-10-10 03:40] jiameixie opened #500 "Build error netty-tcnative-parent-2.0.17.Final"
The branch I used is netty-tcnative-parent-2.0.17.Final. When running 'mvn clean install', the following error occured.  How to solve this? If removing CFLAGS,CFLAGS ,LDFLAGS, it could build successfully.

INFO] executing: /bin/sh -c ./configure --disable-ccache --prefix=/home/xjm/netty-tcnative/boringssl-static/target/native-build/target --with-ssl=no --with-apr=/home/xjm/netty-tcnative/boringssl

[2019-10-10 07:41] jiameixie commented on #500
See the config.log,  it had an error during link and can't find libdecrepit.a in boringssl-static/target/boringssl-chromium-stable/build/decrepit.

[2019-10-10 07:41] #500 closed

[2019-10-24 09:15] Nayana-ibm opened #501 "Build support for s390x"
We could build netty-tcnative on s390x platform. Would like to add "[How to build on s390x](https://github.com/linux-on-ibm-z/docs/wiki/Building-netty-tcnative)"  link  on Wiki page here : https://netty.io/wiki/forked-tomcat-native.html#wiki-h2-7

Could you please let us know what is the best way to do it? Should we raise PR on
https://github.com/netty/netty.github.com/blob/master/wiki/forked-tomc

[2019-10-24 10:40] normanmaurer commented on #501
@Nayana-ibm just edit the wiki... Thanks a lot!

[2019-10-24 10:54] #501 closed

[2019-11-01 13:27] normanmaurer commented on #474
I think this is fixed now

[2019-11-01 13:27] #474 closed

[2019-11-01 13:27] normanmaurer commented on #463
@TristanPerry would you be able to share a docker image that reproduce this ?

[2019-11-01 13:28] normanmaurer commented on #443
Let me close this as we not support java7 in netty-tcnative.

[2019-11-01 13:28] #443 closed

[2019-11-01 13:29] normanmaurer commented on #436
@ankitshubham97 any interest in trying to do a PR to add support for AIX ?

[2019-11-01 13:29] normanmaurer commented on #416
@fzakaria is this still something you need ?

[2019-11-01 13:30] normanmaurer commented on #441
As told before AIX is not supported atm. So closing this

[2019-11-01 13:30] #441 closed

[2019-11-01 13:31] normanmaurer commented on #431
@AnitaNayak ping...

[2019-11-01 13:32] normanmaurer commented on #235
I think this can be closed now

[2019-11-01 13:32] #235 closed

[2019-11-01 13:38] normanmaurer commented on #102
These are basically only there to silent compiler warnings about unused parameters. I guess we can just remove all of them.

[2019-11-01 13:39] normanmaurer commented on #180
I think we can close this one

[2019-11-01 13:39] #180 closed

[2019-11-01 18:34] fzakaria commented on #416
No not really. We're making the dynamic linking work it's just more of a
pita.

On Fri, Nov 1, 2019, 6:29 AM Norman Maurer <notifications@github.com> wrote:

[2019-11-01 19:07] normanmaurer commented on #416
ok let me close this one then

[2019-11-01 19:07] #416 closed

[2019-11-01 19:07] #102 closed

[2019-11-07 08:33] Nayana-ibm opened #506 "Build support for s390x - cont #501"
As suggested in https://github.com/netty/netty-tcnative/issues/501, I have updated wiki for s390x support here  https://github.com/netty/netty/wiki/Forked-Tomcat-Native ( see : **Building on Linux (s390x)** section)

However it's not reflecting on main page https://netty.io/wiki/forked-tomcat-native.html#wiki-h3-14

Also `Table of contents `not showing option to build on Linux (s390x)

[2019-11-07 08:43] normanmaurer commented on #506
@Nayana-ibm thanks a lot... I just redeployed the site and now its reflected :)

[2019-11-07 08:43] #506 closed

[2019-11-07 14:34] normanmaurer commented on #223
I think I will just close this for now... @rkapsi if you have more infos please reopen

[2019-11-07 14:34] #223 closed

[2019-11-07 14:34] normanmaurer commented on #431
Closing as no response

[2019-11-07 14:34] #431 closed

[2019-11-07 14:36] normanmaurer commented on #471
So the classifier thing was committed as  34a68c8. Closing

[2019-11-07 14:36] #471 closed

[2019-11-07 14:57] AnitaNayak commented on #431
Sorry for the late response. We can close this. Thank you.

[2019-11-12 11:02] rashmi-ibm opened #507 "Error building BoringSSL in a ubi based docker container."
System Info:-
Linux 56357fb4c265 3.10.0-1062.el7.ppc64le #1 SMP Thu Jul 18 20:29:07 UTC 2019 ppc64le ppc64le ppc64le GNU/Linux

Info:-
main:
     [echo] Building BoringSSL
    [mkdir] Created dir: /test/netty-tcnative/boringssl-static/target/boringssl-chromium-stable/build
     [exec] -- The C compiler identification is GNU 8.3.1
     [exec] -- Check for working C compiler: /usr/bin/cc
     [exec]

[2019-11-18 02:24] NoComments commented on #331
same error to me,how to resovle it

[2019-11-18 02:24] NoComments commented on #331
same error to me,how to resovle it

[2019-11-18 10:08] normanmaurer commented on #507
@rashmi-ibm please provide steps to reproduce... and also please verify with BoringSSL devs that it is supported at all.

[2019-11-19 11:45] rashmi-ibm commented on #507
@normanmaurer Below are the detailed steps that i followed.

1. Created a docker container using ubi8 image
eg. docker run --name test_container -it registry.access.redhat.com/ubi8:latest  /bin/bash

2. Install necessary libraries
yum update -y
yum -y install gcc-c++.ppc64le wget git openssl-devel.ppc64le cmake.ppc64le cmake3.ppc64le

yum -y install java-11-openjdk-devel

yum -y install ninja-buil

[2019-11-19 16:25] eugene70 opened #509 "Error on OSX with netty-tcnative-boringssl-static v2.0.27"
On OSX Catalina with netty-tcnative-boringssl-static v2.0.27,
below error is occurred.
But, v2.0.26 is OK.
I also have tried with various JDKs.

[code]

Here is hs_err file

[code]

[2019-11-25 11:06] rashmi-ibm opened #510 "netty-tcnative platform specific jar not available for ppc64le"
The mvn repository doesn't have the ppc64le platform specific jar listed for netty-tcnative.
Using the netty-tcnative-<version>.Final.jar  gives errors.
Can the power specific jar be published?

[2019-11-28 14:56] morvael opened #512 "Detect ninja executable alternate name (again)"
Trying to build latest version of tcnative, fails on system having ninja-build (similar to issue #475).

[code]

[2019-11-28 14:58] normanmaurer commented on #512
@morvael can you Tell me how the executable is called ?

[2019-11-28 14:59] morvael commented on #512
Like in #475 - ninja-build

[2019-11-28 17:10] normanmaurer commented on #512
@morvael https://github.com/netty/netty-tcnative/pull/513

[2019-11-29 08:02] #512 closed

[2019-11-30 03:28] wangxiyuan opened #515 "aarch64 native bits"
Like https://github.com/netty/netty/issues/8279, it's good to add aarch64 cross compile support for netty-tcnative as well. And I'm now working and testing locally. If comminuty agree, I'll contribute the code in next few days.

[2019-11-30 07:21] Chenhaoqing commented on #500
HI @jiameixie ，can you share the solution to this issue?

[2019-12-01 08:40] hyperxpro opened #516 "OpenSSL FIPS"
Is Netty-TCNative compiled with the OpenSSL FIPS version?

[2019-12-01 17:07] normanmaurer commented on #516
@hyperxpro we use dynamic linking against installed openssl version and allow to enable fips mode.

[2019-12-01 17:07] #516 closed

[2019-12-03 21:02] Tankika commented on #509
Same happens on my computer and on my colleague's. v2.0.26 works as well for us. In our CI/CD pipeline and in our deployment env, both running linux, there were no problems. We're running the following stack, with maven:
 - parent: org.springframework.boot:spring-boot-starter-parent:2.1.9.RELEASE
 - WebClient: org.springframework:spring-webflux:5.1.10.RELEASE
 - Reactor-Netty: io.projectreactor.ne

[2019-12-03 21:18] normanmaurer commented on #509
Seems like this a known bug:

https://github.com/jedisct1/libsodium/issues/848

Will check how to workaround it.

[2019-12-04 18:43] normanmaurer commented on #509
Should be fixed in the latest release (2.0.28.Final)

[2019-12-04 18:43] #509 closed

[2019-12-11 06:29] rashmi-ibm commented on #510
Can I help to share the power specific jar for netty-tcnative and then it can be available on the mvn repo link https://repo1.maven.org/maven2/io/netty/netty-tcnative/

[2019-12-11 06:53] zethexx commented on #507
Hi, I see that you are building for ppc64le. I had the same problems while compiling boringssl for aarch64 and came across this issue via an internet search.

I recommend that you try [this patch](https://build.opensuse.org/package/view_file/openSUSE:Factory/boringssl/0004-fix-alignment-for-ppc64le.patch?expand=1) from openSUSE. There was a [similar patch](https://build.opensuse.org/package/view_f

[2019-12-11 07:25] normanmaurer commented on #510
@rashmi-ibm no... we will need to make this part of our release process.

[2019-12-11 07:26] normanmaurer commented on #507
@zethexx @rashmi-ibm you should try to get this accepted upstream for BoringSSL as we dont want to apply patches ourselves. /cc @davidben

[2019-12-11 07:55] rashmi-ibm commented on #510
@normanmaurer any timeline by when this can be achieved as part of the release process.

[2019-12-11 07:57] normanmaurer commented on #510
No... sorry.

[2019-12-11 07:58] rashmi-ibm commented on #507
sure thanks @zethexx .

[2019-12-11 08:49] rashmi-ibm commented on #510
@normanmaurer I could help testing the power specific jar on travis or jenkins CI if available. As when I built the netty-tcnative jar on linux_ppc64le architecture I dint have to do any code changes and it worked smoothly.

[2020-01-08 12:12] kwart opened #518 "Compile openssl-dynamic against libssl-1.1"
The dynamically linked OpenSSL `netty-tcnative` doesn't work on Alpine Linux 3.9 and newer.

Linux `netty-tcnative` artifacts work fine for (our Hazelcast) Docker images based on Alpine Linux 3.8.

The problem is, Alpine 3.9 and newer updated the `libssl` in the system and only version `1.1` is available. The `netty-tcnative` doesn't work with this `libssl` version.

We are considering workaround

[2020-02-04 06:37] ayappanec commented on #436
I am interested in doing a PR to add support for AIX

[2020-02-04 07:59] normanmaurer commented on #436
Sure... patches welcome

[2020-02-11 20:34] jchambers opened #523 "Crash (Symbol not found: ____chkstk_darwin) under some versions of macOS"
After updating to the latest version of ~netty-tcnative~ netty-tcnative-boringssl-static, our Travis CI builds for macOS started reporting crashes. I've narrowed the problem down to ~netty-tcnative~ netty-tcnative-boringssl-static 2.0.27 (2.0.26 is fine, and the version of Netty itself doesn't seem to matter).

I've created a minimal reproduction case here: https://github.com/jchambers/netty-tcnat

[2020-02-11 20:41] normanmaurer commented on #523
I wonder if it is the same as

https://github.com/netty/netty-tcnative/issues/509

Can you try 2.0.28.Final ?

[2020-02-11 20:46] jchambers commented on #523
The problem persists with 2.0.28.Final.

[2020-02-11 21:13] jchambers commented on #523
I've narrowed this down a little further; the problem seems to be in the server SSL context:

| Client SSL provider | Server SSL provider | Crashes? |
|---------------------|---------------------|----------|
| `OPENSSL`           | `OPENSSL`           | Yes      |
| `JDK`               | `OPENSSL`           | Yes      |
| `OPENSSL`           | `JDK`               | No       |
| `JDK`

[2020-02-12 00:04] jchambers commented on #523
I also expanded the Travis build matrix to cover [every version of Xcode they support](https://docs.travis-ci.com/user/reference/osx/). [The results](https://travis-ci.org/jchambers/netty-tcnative-travis-test/builds/649202660) suggest this is a problem with either Xcode 10.1 (but not 10.2!) and older or macOS 10.13 and older.

[2020-02-12 13:47] normanmaurer commented on #523
@jchambers so just so I understand it right... you are building netty-tcnative yourself on travis and then try to use it ?

[2020-02-12 13:48] normanmaurer commented on #523
If this is the case it could are a compiler / Xcode bug and so similar to what I have linked https://github.com/netty/netty-tcnative/issues/509. This was also caused by a compiler bug :/

[2020-02-12 14:43] jchambers commented on #523
No—sorry. I'm using the pre-built netty-tcnative-boringssl-static from Maven Central. The [test case](https://github.com/jchambers/netty-tcnative-travis-test) I mentioned earlier brings in netty-tcnative-boringssl-static as a dependency, then has a bare-bones Netty TLS [client](https://github.com/jchambers/netty-tcnative-travis-test/blob/master/src/main/java/com/eatthepath/netty/Client.java) conne

[2020-02-13 11:07] normanmaurer commented on #523
@jchambers sorry but I am still confused... When you first reported it you said you are using netty-tcnative (not netty-tcnative-boringssl-static). So can you clarify which one it is ?

I will try to debug this further but can say that I never saw a crash before with netty-tcnative-boringssl-static 2.0.28.Final on macOS. That said I dont think I ever tested the new releases with 10.13. From my und

[2020-02-13 15:06] normanmaurer commented on #523
@jchambers I may have any idea what's going on.... Working on a PR now. Could you somehow test this one once Its ready ?

[2020-02-13 15:48] jchambers commented on #523
Sorry—I was imprecise earlier. It is, indeed, netty-tcnative-boringssl-static.

To the best of my knowledge, that's correct.

I'll do my best. I think that means I'll need to find a way to get Travis to build netty-tcnative-boringssl-static locally, which may take some iteration. Happy to give it a shot, though!

[2020-02-13 15:54] normanmaurer commented on #523
@jchambers ok perfect... I hope to have a PR later today (already working on it)

[2020-02-14 10:22] normanmaurer commented on #523
@jchambers PTAL https://github.com/netty/netty-tcnative/pull/527

[2020-02-14 12:19] gemmellr commented on #523
I am also seeing a test crash on Travis with OSX (10.13, xcode 9.2, JDK 8+112) after updating to netty-tcnative-boringssl-static 2.0.28 (from 2.0.26, which worked ok). I haven't investigated as much as Jon, but it appeared to crash at the first test that attempts to connect with client certs required (the server in that case isnt using Netty, just the client).

Updating the job to use the earliest

[2020-02-17 16:32] #523 closed

[2020-02-18 14:10] normanmaurer commented on #523
@jchambers @gemmellr 2.0.29.Final was released and fixed the problem 🎉

[2020-02-18 14:47] gemmellr commented on #523
Thanks Norman, just updated :)

[2020-02-18 15:30] jchambers commented on #523
🤘

Thank you!

[2020-02-18 15:35] normanmaurer commented on #523
@gemmellr @jchambers no problem... thanks a lot for all the help debugging the problem :)

[2020-02-20 15:20] metayx commented on #331
@NoComments 解决了吗老哥

[2020-02-20 21:57] raviprakashmishra opened #529 "Unable to load the library 'io_grpc_netty_shaded_netty_tcnative_windows_x86_64', trying other loading mechanism."
I am using io.grpc:grpc-netty-shaded:1.13.1 in my java application and on start up it gives debug level errors before finally extracting and loading the 'io_grpc_netty_shaded_netty_tcnative_windows_x86_64' from temp folder in windows.

Though loading is eventually successful but it's irritating to see so many stack trace logging at the debug level as well. And every time application comes up a dll

[2020-02-26 15:09] techpavan opened #530 "netty-tcnative not picking up configuration in jdk.tls.disabledAlgorithms"
An application I work on recently made a switch to use `netty-tcnative`. It is a Vert.x based application and the recent change included using [OpenSSLEngineOptions](https://vertx.io/docs/apidocs/io/vertx/core/net/OpenSSLEngineOptions.html) rather than the default [JdkSSLEngineOptions](https://vertx.io/docs/apidocs/io/vertx/core/net/JdkSSLEngineOptions.html).

Earlier, it was straight forward to d

[2020-03-10 09:41] xushirain opened #531 "Failed to load any of the given libraries: [netty_tcnative_linux_ppcle_64, netty_tcnative_linux_ppcle_64_fedora, netty_tcnative_ppcle_64, netty_tcnative]"
#uname -a:
Linux node1 4.14.0-49.el7a.ppc64le #1 SMP Wed Mar 14 13:58:40 UTC 2018 ppc64le ppc64le ppc64le GNU/Linux
#java -version:
java version "1.8.0_231"
Java(TM) SE Runtime Environment (build 8.0.6.0 - pxl6480sr6-20191107_01(SR6))
IBM J9 VM (build 2.9, JRE 1.8.0 Linux ppc64le-64-Bit Compressed References 20191106_432135 (JIT enabled, AOT enabled)
OpenJ9   - f0b6be7
OMR      - 18d8f94
IBM

[2020-03-10 09:52] normanmaurer commented on #531
@xushirain no it does not... you will need to compile itty yourself

[2020-03-11 08:15] kwart commented on #518
We hit the same problem with the new OpenSSL version in official Red Hat OpenShift base images:

[code]

Stacktrace:
[code]

[2020-03-17 19:10] creamsoup opened #532 "Possible memory leak in ssl.c"
After PR #498, AddressSanitizer test starts to fail.

[code]

[2020-03-17 19:48] normanmaurer commented on #532
Interesting... will have a look

[2020-03-18 09:47] normanmaurer commented on #532
@creamsoup PTAL https://github.com/netty/netty-tcnative/pull/533

[2020-03-18 18:49] #532 closed

[2020-03-20 03:36] xushirain commented on #531
I've already compiled it。Now there's this error in the startup project
![image](https://user-images.githubusercontent.com/17526065/77133645-c292d080-6a9e-11ea-985d-77f74a63ce05.png)

[2020-03-20 03:44] xushirain commented on #531
this mistake has happened before
![image](https://user-images.githubusercontent.com/17526065/77133851-962b8400-6a9f-11ea-9bf2-418050505bd5.png)
The solution to this error is for me to move the compiled *.so to /usr/local/lib
but i don't know how to resovle the io/netty/internal/tcnative/Library.aprMajorVersion()I
I used netty-tcnative-boringssl-static-2.0.20.Final.jar package in my project.

[2020-03-23 17:09] techpavan commented on #530
Ping. Has this bug been triaged?

[2020-04-08 12:23] hyperxpro opened #536 "OpenSSL Source URL Broken"
OpenSSL moves old releases under `/source/old` which breaks `netty-tcnative` building process.

Here is the current URL of `openssl-1.1.1d.tar.gz`: https://www.openssl.org/source/old/1.1.1/openssl-1.1.1d.tar.gz

But Maven Install is downloading from: https://www.openssl.org/source/openssl-1.1.1d.tar.gz

See: https://github.com/netty/netty-tcnative/blob/c386d01bc0f7c72dddb87ebc79f874b840eb7f7c/open

[2020-04-11 10:39] dwservice opened #537 "Failed to get the list of available OpenSSL cipher suites"
Hi, I get a warning when I run my application as NOT root user under Linux CentOS 7 and OpenJDK 1.8.0_242 (IcedTea 3.15.0). I use netty-tcnative openssl-static 1.1.1e
This is the warning:

WARNING: Failed to get the list of available OpenSSL cipher suites.
java.lang.Exception: Invalid format (error:0200100D:system library:fopen:Permission denied)
        at io.netty.internal.tcnative.SSL.parseX509

[2020-04-11 11:06] hyperxpro commented on #537
Grant permission of the netty-tcnative library file to the non-root user.

[2020-04-11 11:07] hyperxpro commented on #537
Is it OpenSSL Dynamic, OpenSSL Static or BoringSSL Static?

[2020-04-11 11:09] dwservice commented on #537
OpenSSL Static

[2020-04-11 11:10] hyperxpro commented on #537
Maven project?

[2020-04-11 11:11] dwservice commented on #537
No. I've compile it

[2020-04-11 11:12] hyperxpro commented on #537
Did you try `chmod 777` on OpenSSL-Static, `test.crt` and `test.key`?

[2020-04-11 11:17] dwservice commented on #537
Yes for test.crt and test.key but OpenSSL-Static is embedded in netty-tcnative.jar. I've take a look to netty-tcnative source and the issue don't seem when read the certificate but just when initialize io.netty.handler.ssl.OpenSsl for first time. Anyway my application work fine and certificate is loaded correctly.

[2020-04-11 11:20] hyperxpro commented on #537
Add this code on the top `OpenSsl.ensureAvailability();`

[2020-04-11 11:27] dwservice commented on #537
I get same warning but stack trace is shortest:

WARNING: Failed to get the list of available OpenSSL cipher suites.
java.lang.Exception: Invalid format (error:0200100D:system library:fopen:Permission denied)
        at io.netty.internal.tcnative.SSL.parseX509Chain(Native Method)
        at io.netty.handler.ssl.OpenSsl.<clinit>(OpenSsl.java:242)
        at Test.main(Test.java:7)

[2020-04-11 11:31] hyperxpro commented on #537
Use Log4j2 at DEBUG Level with Root Logger, Log everything and put it in a file and upload here.

[2020-04-11 11:36] dwservice commented on #537
Ok. Anyway the error is when inizialize OpenSsl. So now the test example to riproduce it is this:

[code]

[2020-04-11 14:44] dwservice commented on #537
Here the log:
[debug.log](https://github.com/netty/netty-tcnative/files/4464782/debug.log)

[2020-04-12 09:15] hyperxpro commented on #537
Tried reproducing with the latest commit and it works fine. Can you try with 2.0.30.Final release?

[2020-04-12 09:26] ThatDomio opened #538 "Black screen when connecting to Ubuntu agent's screen."
When I try to connect to the agent's screen, it's completely black, but I can move the cursor. It was working fine when I had the computer connected to a monitor before it booted up so maybe it didn't detect a monitor and that is somehow causing the problem.
I hope this is the right place to post this as there seems to be no DWService forum. This is my first time using Ubuntu, DWService, and Githu

[2020-04-12 09:34] dwservice commented on #537
I've compiled it a week ago without choose tag/snapshot, so It's the lastest version I think:

[code]

have you run your test as NOT root user?

[2020-04-12 09:47] normanmaurer commented on #538
It’s not ... this is for netty-tcnative

[2020-04-12 09:47] #538 closed

[2020-04-14 21:57] hyperxpro commented on #537
Sorry for the delay. Little busy temporarily. I'll test it as non-root user soon and let you know.

[2020-04-16 05:38] hyperxpro commented on #537
Working fine as non-root user.

[2020-04-16 09:03] dwservice commented on #537
Thanks for your test. What is your software configuration?
Here my configuration:
LINUX: CentOS Linux release 7.7.1908 (Core)
JAVA: OpenJDK 1.8.0_242 (IcedTea 3.15.0)
NETTY: 4.1.48
NETTY TCNATIVE: 2.0.31 (openssl-static 1.1.1e)

[2020-04-16 18:12] hyperxpro commented on #537
Linux hyperxpro 5.3.0-46-generic #38~18.04.1-Ubuntu SMP Tue Mar 31 04:17:56 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
openjdk version "11.0.6" 2020-01-14 LTS
Netty 4.1.48.Final
Netty-TCNative 2.0.30 (openssl-static 1.1.1f)

[2020-04-16 18:13] hyperxpro commented on #537
SELinux is disabled btw

[2020-04-17 10:05] dwservice commented on #537
I've tried a new configuration but warning still:

Linux Centos 8 (4.1.18-147.5.1.el8_1)
openjdk version "11.0.6" 2020-01-14 LTS
Netty 4.1.48.Final
Netty-TCNative 2.0.30 (openssl-static 1.1.1f)
SELinux  disabled
Linux user not root

Anyway this warning seems don't cause problems to application. So I don't consider it.
Thanks for your help.

[2020-04-17 10:06] hyperxpro commented on #537
@normanmaurer Can you have a look?

[2020-04-19 09:34] hyperxpro commented on #536
Fixed by #539

[2020-04-19 09:34] #536 closed

[2020-04-24 07:31] #515 closed

[2020-04-28 16:59] idelpivnitskiy opened #541 "Support TLS False Start"
TLS False Start allows the sender to start sending data when the handshake is only partially complete [1, 2]. For TLSv1.2 this extension reduces the latency from 2-RTTs to 1-RTT before data can be sent.
BoringSSL supports TLS False Start with `SSL_MODE_ENABLE_FALSE_START` mode [3]. We can leverage this in netty-tcnative.

[1] https://tools.ietf.org/html/rfc7918
[2] https://hpbn.co/transport-layer-

[2020-05-04 10:44] aishwaryabk opened #542 "Feature request: to publish binary for PowerPC ppc64le architecture"
### **Expected Behaviour**
Publish a binary for PowerPC ppc64le architecture

### **Current Behaviour**
No binary available

We are hoping for official binaries to set up CI for Power.

[2020-05-07 11:55] patricklucas opened #543 "Clarify licensing of bundled, statically-linked boringssl"
We are building a Java application using gRPC, and our dependency `io.grpc:grpc-netty` depends on the artifact `netty-tcnative-boringssl-static` from this project.

From my understanding, boringssl when compiled includes code licensed under the [OpenSSL, MIT, and ISC licenses](https://boringssl.googlesource.com/boringssl/+/refs/heads/master/LICENSE). However, while the OpenSSL and MIT licenses hav

[2020-05-12 07:59] johnou commented on #537
@dwservice you probably have /tmp mounted as noexec, try setting java.io.tmpdir to a path that your user has permissions to eg. java.io.tmpdir=/home/my_user/tmp

[2020-05-12 08:05] johnou commented on #537
Netty is suppose to have io.netty.util.internal.NativeLibraryLoader.NoexecVolumeDetector but it doesn't seem to be doing its job.

[2020-05-15 13:44] geoffreyblake opened #546 "Incorrect classifier "aarch_64" for aarch64 builds in pom files"
Saw this in the netty code and it was fixed by @normanmaurer, looks like it is here as well and will probably prevent the next release from containing aarch64 binaries.

https://github.com/netty/netty-tcnative/blob/698b5aed770e9dccb06022ce0d64b20684daefd3/boringssl-static/pom.xml#L714

[2020-05-15 13:46] normanmaurer commented on #546
@geoffreyblake PR's welcome

[2020-05-15 14:11] geoffreyblake commented on #546
Created https://github.com/netty/netty-tcnative/pull/547 to fix the typo.

[2020-05-17 19:25] dwservice commented on #537
@johnou I've tried it, unfortunately it doesn't solve the problem.

[2020-05-27 05:55] witaly-iwanow commented on #243
This is not true, there's a big difference when you run EC performance tests with/without enable-ec

[2020-06-08 07:47] johnou commented on #546
We can close this issue.

[2020-06-08 08:07] #546 closed

[2020-06-09 11:32] keshava88 opened #551 "Cannot use Openssl 1.1.1f with netty-tcnative, we get UnsatisfiedLinkError: .. libssl.so.1.0.0"
We have an application that uses netty to build a SSL context with Openssl as the SSL provider.
We are planning to upgrade from Openssl 1.1.0 to Openssl 1.1.1 to get the TLS 1.3 support.

So we tried setting up a server SSL context using OpenSSL 1.1.1 in a ubuntu 20.04 linux release and we are getting the below errors

**`Suppressed: java.lang.UnsatisfiedLinkError: /tmp/libnetty_tcnative6745395350

[2020-06-15 04:06] wangxiyuan opened #552 "Need netty-tcnative aarch64 package on maven"
We supported cross compile about aarch64 for netty-tcnative in 2.0.31. But there is no aarch64 jar file on maven.

https://repo1.maven.org/maven2/io/netty/netty-tcnative/2.0.31.Final/

I built it locally with the docker file on master branch. It works. The jar is named `netty-tcnative-2.0.32.Final-SNAPSHOT-linux-aarch64.jar`. Does community forget it? Or I missed something about release things? Do

[2020-06-15 06:59] johnou commented on #552
@wangxiyuan https://repo1.maven.org/maven2/io/netty/netty-tcnative-boringssl-static/2.0.31.Final/

[2020-06-15 07:01] johnou commented on #552
but yeah looks like the the netty-tcnative artifact is missing..

[2020-06-15 07:12] wangxiyuan commented on #552
yeah, netty-tcnative-boringssl-static looks good.  While `netty-tcnative` which is from `openssl-dynamic`  is missing.

[2020-06-15 07:16] normanmaurer commented on #552
@wangxiyuan I thought we only need the boringssl based one and so I only releases this one. If this is not the case I can also include the  openssl-dynamic artefact the next time.

[2020-06-15 07:57] wangxiyuan commented on #552
@normanmaurer Thanks for your quick reply.

For my case, I want to upgrade Apache Flink to support aarch64 which shaded netty-tcnative.
https://github.com/apache/flink-shaded/blob/master/flink-shaded-netty-tcnative-dynamic/pom.xml#L95

I'm not sure if others want it or not. Can we leave this issue open for a while to get more feedback?

[2020-07-01 05:48] kandarpapsl opened #554 "PPC64LE official release"
While building the vert.x for PPC64LE architecture, I found tests related to SSL were failed due to missing of 'netty-tcnative.so' file.
To fix this, I have to build the netty and netty-tcnative on my own. netty-tcnative build and all tests passed without any code changes on PPC64LE architecture.

Is it possible to provide netty-tcnative support/release for PPC64LE ?

If setup is the constraint, t

[2020-07-10 11:06] Storm-Born commented on #552
I have the similar problem like you. when I run my jar on a x86_64 machine, it works ok. but when running the jar on a arm64 machine.  exception happened and seems like missing library tc-native_arrch64 balabalabala. I use the artifact

<dependency>
            <groupId>io.netty</groupId>
            <artifactId>netty-tcnative-boringssl-static</artifactId>
            <version>2.0.30.Final</versio

[2020-07-10 11:13] johnou commented on #552
@Storm-Born deploy the correct tc-native arch artefact to the arm64 machine.

[2020-07-10 11:19] Storm-Born commented on #552
sorry, can you give me the correct maven artifact.

I use this one found from the examples.

            <groupId>io.netty</groupId>
            <artifactId>netty-tcnative-boringssl-static</artifactId>
            <version>2.0.30.Final</version>

[2020-07-10 11:58] martin-g commented on #552
You need 2.0.31.Final, not .30

On Fri, Jul 10, 2020, 14:19 Mr. Tsang <notifications@github.com> wrote:

[2020-07-13 12:24] undefz opened #555 "libnetty_tcnative.so loading failes when implementations for different archs are present in classpath"
Test case:
Have two implementations of tcnative in classpath: linux-x86_64 and linux-aarch64.

Expected behaviour:
Library for current platform is loaded.

Actual result:
Library for current platform may fail to load because library in both jars is named libnetty_tcnative.so.
Suggested fix is to name them with os and archs specifiers (netty_tcnative_linux_aarch64).

[2020-07-14 14:07] normanmaurer opened #556 "Consider supporting TLS false start when BoringSSL is uses"
See https://tools.ietf.org/html/rfc7918

[2020-07-14 14:07] normanmaurer commented on #556
/cc @carl-mastrangelo @ejona86 @davidben

[2020-07-14 14:40] normanmaurer commented on #556
Thats a duplicate of https://github.com/netty/netty-tcnative/issues/541

[2020-07-14 14:40] #556 closed

[2020-07-14 16:29] normanmaurer commented on #555
sounds like a good idea as we do the same anyway when creating the uber jar. Will have a look

[2020-07-15 06:56] normanmaurer commented on #543
@patricklucas I think you are right and we should include something in the NOTICE.txt file... sorry that it took so long :/ Are you able to provide a PR ? If not I will do it some time this week.

[2020-07-15 09:02] normanmaurer commented on #555
@undefz PTAL https://github.com/netty/netty-tcnative/pull/557

[2020-07-15 10:35] patricklucas commented on #543
Thanks for the response @normanmaurer. Unfortunately I don't think I'm qualified to make the necessary changes—I really don't know exactly what is required per the upstream licenses.

I do think it's likely that something needs to be both added to the NOTICE file as well as packaged in the distributed jar. Perhaps it's enough to just forward the NOTICE file in the jar?

[2020-07-15 11:18] normanmaurer commented on #543
From my understanding it would be good enough to just adjust the NOTICE file in the repos.

[2020-07-15 11:21] normanmaurer commented on #543
@patricklucas See https://github.com/netty/netty-tcnative/pull/559

[2020-07-15 12:03] normanmaurer commented on #554
we don't have any machines that support this architecture for now... If you can sponsor such we may be able to include it tho.

[2020-07-15 12:09] normanmaurer commented on #537
can you provide a docker image that reproduces this issue @dwservice  ?

[2020-07-15 12:57] patricklucas commented on #543
In the linked LICENSE file, the OpenSSL license claims:

which makes me think that this needs to be included _somewhere_ alongside the distribution itself.

A somewhat related example could be `flink-shaded-netty`[1], which bundles a binary distribution of Netty while including the following files under `META-INF`:

`META-INF/DEPENDENCIES`:

[code]

`META-INF/NOTICE`:

[code]

[1][4.1.39.Final-11.

[2020-07-15 14:03] seth-priya commented on #554
@normanmaurer thanks for your response on this! ppc64le resources can be requested as per your requirements from here https://osuosl.org/services/powerdev/request_powerci/ ( @gerrith3 , FYI for approvals)

[2020-07-15 19:30] #541 closed

[2020-07-16 06:02] odidev commented on #552
I am also trying to use netty-tcnative for product-microgateway .
My pom.xml file for netty look like this
[code]
I am getting the following error:

please suggest if I am doing anything wrong here

[2020-07-16 06:09] martin-g commented on #552
@odidev you need to add `<classifier>linux-aarch64</classifier>` to the `<dependency>`

[2020-07-16 10:28] #555 closed

[2020-07-16 11:58] normanmaurer commented on #543
Let me just add the NOTICE to the META-INF as well and call it a day in #559

[2020-07-16 13:40] patricklucas commented on #543
Sounds good, I think that should cover our bases. Thanks.

[2020-07-16 16:13] #543 closed

[2020-07-27 12:02] dwservice commented on #537
@normanmaurer here the docker image:

[https://www.dwservice.net/5ro495x7m4sanytb0y2362vg8r7q1p1c3qwonj7r.dlk](https://www.dwservice.net/5ro495x7m4sanytb0y2362vg8r7q1p1c3qwonj7r.dlk) (Public Folder / dockerimage.gz)

su test
cd /home/test/
./run.sh

tnk

[2020-08-04 12:48] odidev commented on #552
Hi All,

Aarch64 jar for openssl-dynamic  is also needed for Lettuc package, which is currently not present in maven repo.
Request you to please release openssl-dynamic artifact for aarch64 in maven repo.

[2020-08-05 21:59] hyperxpro commented on #551
You're using a dynamically linked version of `netty-tcnative`. Did you successfully completed the build process?

[2020-08-11 15:30] missemem opened #560 "netty-tcnative-2.0.31.Final.jar showing CVE-2019-16869, CVE-2015-2156, CVE-2014-3488, CVE-2019-20445, CVE-2019-20444"
Hi team !
Running the owasp dependency check brings up
netty-tcnative-2.0.31.Final.jar (pkg:maven/io.netty/netty-tcnative@2.0.31.Final, cpe:2.3:a:netty:netty:2.0.31:*:*:*:*:*:*:*) : CVE-2014-3488, CVE-2015-2156, CVE-2019-16869, CVE-2019-20444, CVE-2019-20445

NVD states that Netty versions before 4.1.42 are affected, but the versioning for netty-tcnative is completely different. It's hard to tell

[2020-08-14 10:12] normanmaurer commented on #560
no...

[2020-08-14 10:12] #560 closed

[2020-08-18 17:28] idelpivnitskiy opened #567 "Allow configuring supported_groups extension"
When TLSv1.3 is enabled, the client sends:
[code]
Java server prior JDK13 that uses JSSE does not support x25519 [1, 2]. As a result, the server responds with `HelloRetryRequest` selecting secp256r1. It introduces an additional round-trip for the handshake.

JSSE client by default sends:
[code]
JDK has `jdk.tls.namedGroups` system property that allows configuring `supported_groups` [3]. Will be ni

[2020-09-03 06:33] mohamedanees6 commented on #331
@NoComments  I fixed it by moving from Alpine Linux to CentOS.

[2020-09-15 18:53] liamsharp opened #570 "libio_grpc_netty_shaded_netty_tcnative_osx_x86_64 not signed"
Trying to find the right home for this one, previously raised [here](https://github.com/grpc/grpc-java/issues/7404) and [here](https://github.com/netty/netty/issues/10569)

### Expected behavior
The file grpc-netty-shaded-1.31.1.jar/META-INF/native/libio_grpc_netty_shaded_netty_tcnative_osx_x86_64.jnilib being signed.

### Actual behavior
That it's not signed.

### Steps to reproduce
Submit a pack

[2020-09-21 23:53] thanhledev opened #571 "Wrong architect "aarch_64" for aarch64/arm64 for netty-tcnative-boringssl-static in maven repo"
I have tried all versions from 2.0.31 to 2.0.34-Final.jar of the netty-tcnative-boringssl-static package and all of them have the wrong architect value in MANIFEST file as well as the incorrect path to arrch64.so file, that cause error in my ONOS system.

For example

- Content of Bundle-NativeCode inside the MANIFEST file of the latest netty-tcnative-boringssl-static-2.0.34-Final.jar

Bundle-Nati

[2020-09-22 06:57] normanmaurer commented on #571
@thanhledev PTAL https://github.com/netty/netty-tcnative/pull/572

[2020-09-22 14:19] thanhledev commented on #571
Thank you. It looks great. However, I wonder when can we see this fix is also applied to the packages in maven repo? Thanks again for your great help.

[2020-09-22 15:30] normanmaurer commented on #571
@thanhledev what you mean with "fix is also applied to the packages in maven repo" ? This change will be included in the next release so as soon as it was cut.

[2020-09-22 15:33] thanhledev commented on #571
Thanks, I will wait for the next release.

[2020-09-22 15:33] #571 closed

[2020-09-25 09:23] kokolaki opened #574 "Faild to build nettty-tcnative on arm64"
Hello, I tried to  run a java application and I get the error:
**... Caused by: java.lang.IllegalArgumentException: Failed to load any of the given libraries: [netty_tcnative_linux_aarch_64, netty_tcnative_linux_aarch_64_fedora netty_tcnative_aarch_64, netty_tcnative].....................**
Then, I tried to build netty-tcnative repository on arm64 raspberry:
 git clone https://github.com/netty/net

[2020-09-30 08:43] kokolaki commented on #574
I checkout to version _netty-tcnative-parent-2.0.31.Final_ and  is built with success on arm64!

[2020-10-12 09:18] bhtdz-zhou opened #576 "FileNotFoundException:META-INF/native/libnetty_tcnative_linux_aarch_64.so"
Hello， I tried to run a java application on  kylin 10 , arm64 and I get the error:
[code]
my pom.xml:
[code]
un zip netty-tcnative-boringssl-static-2.0.34.Final.jar
![image](https://user-images.githubusercontent.com/29765417/95728989-c8f0d000-0cae-11eb-9388-c2d72b069a9f.png)
Any help to solve it?
Thanks in advance.

[2020-10-14 18:27] odidev opened #577 "Failed to initialize a channel on aarch64"
I am working to make [finagle-http](https://github.com/twitter/finagle) available for aarch64 platform, which is dependent on netty version 4.1.51.Final and tcnative version 2.0.34.Final but when tcnative version 32/33/34 is used it is generating below [warning](https://drive.google.com/file/d/1KJbVLRYEr4KlyCyUHugvxzbNdXP_CZOK/view?usp=sharing):
[code]

And post finagle package is failing because

[2020-10-16 08:30] normanmaurer commented on #577
maybe this is related to https://github.com/netty/netty-tcnative/issues/571 ?

[2020-10-20 10:26] odidev commented on #577
Hi,
Thanks @normanmaurer , I tried changes from referenced PR locally, but those doesn't seem fixing this issue.
Also, it was generating a jar with name having "aarch_64" in name.

[2020-11-03 10:42] techpavan opened #586 "Crash with native code: [libc.so.6+0x81a8c] cfree+0x1c"
We have our application deployed at customer premises. Out of multiple installations, one instance is constantly crashing while executing the native code as mentioned in the title.

The crashes are observed at very uneven intervals ranging from 4 hours to even more than 5 days. All the occurrences show that the crash happens while executing the Java frame: io.netty.internal.tcnative.SSL.readFromSS

[2020-11-04 08:18] normanmaurer commented on #586
What java version you are using ?

[2020-11-04 08:48] techpavan commented on #586
Here it is.

# JRE version: OpenJDK Runtime Environment (Zulu11.39+16-SA) (11.0.7+10) (build 11.0.7+10-LTS)
# Java VM: OpenJDK 64-Bit Server VM (11.0.7+10-LTS, mixed mode, tiered, compressed oops, g1 gc, linux-amd64)

[2020-11-04 08:56] normanmaurer commented on #586
are you using the same jdk on all systems ?

[2020-11-04 09:00] techpavan commented on #586
Our application is distributed as an appliance and thus the installation remains exactly same on all the systems.

[2020-11-05 01:13] wangxiyuan commented on #552
https://repo1.maven.org/maven2/io/netty/netty-tcnative/2.0.32.Final/ Good to know that it supports arm64 from 2.0.32. But I assume it's only for fedora? Is there any blocker for common aarch64 release? Or I missed something?

[2020-11-05 07:40] martin-g commented on #552
The `-fedora` part to the classifier comes from https://github.com/netty/netty-tcnative/commit/9cd9f45bd4941581705ace76c7713b0c1b84f640#diff-78422174cea1efe42654d2038ce1a00557e3c308610804999e06eba6fbf9f35cR129

The comment above this line says:
[code]
and this makes me think that the `linux-aarch64` jar at https://repo1.maven.org/maven2/io/netty/netty-tcnative/2.0.32.Final/ might have something Fe

[2020-11-05 16:35] techpavan commented on #586
Hi @normanmaurer

Did you get a chance to identify what might have gone wrong in this case? In our upcoming release, we are upgrading tcnative to 2.0.34.Final, but not guaranteed that this issue is mitigated as it is not reproducible internally.

[2020-11-05 16:39] normanmaurer commented on #586
@techpavan nope... sorry :/

[2020-11-06 06:03] techpavan commented on #586
@normanmaurer  I understand this issue is not straight forward as even our efforts to reproduce has not helped so far. Let us know if the native reference of `[libc.so.6+0x81a8c]` can point us in a direction where we can focus our testing. Say, a combination of certain TLS protocol and cipher suite or if some properties on the SSL certificate etc.

[2020-11-10 23:04] geoffreyblake commented on #552
There seems to a slight mis-naming in the .so for Arm64 and it can't find the so.   I've had some users tell me they've been extracting the released jar from maven and renaming `libnetty_tcnative_linux_aarch64.so` to `libnetty_tcnative_linux_aarch_64.so`, place it in the LDPATH and it ends up working.

I'm having trouble getting the build to cross-compile currently, but I think the below diff will

[2020-11-11 07:04] techpavan commented on #586
Hi @normanmaurer Do we have any updates on this?

[2020-11-11 10:15] martin-g commented on #552
@geoffreyblake This partially reverts https://github.com/netty/netty-tcnative/commit/dec66306a4b35b2ed9787c57d2433ec1de0d0694#diff-9f1aa030fe8568dc7f081010d6f14b6d2c26ea2170502365e8f1ebe3f3e58607
Also see https://github.com/netty/netty-tcnative/issues/571

[2020-11-11 14:27] normanmaurer commented on #586
Unfortunally no.. I cant reproduce this at all :/  The native methods we implemented here doesn't do much at all.

[2020-11-11 14:33] techpavan commented on #586
Thanks for your time on this. We shall keep you posted if we find more details.

[2020-11-12 05:16] hyperxpro opened #588 "OpenSSL-Static not linking all libs on Windows"
I tried building OpenSSL-Static with Visual Studio 2019 but I end up 213KB `netty_tcnative.dll` file and when I load it using `System.load(String)`, I get:
 `Exception in thread "main" java.lang.UnsatisfiedLinkError: ... : Can't find dependent libraries`.

Also to build OpenSSL-Static on Windows, I have to add `<arg line="Configure VC-WIN64A --prefix=${sslHome} --openssldir=${opensslHome}" />` whe

[2020-11-12 08:53] normanmaurer commented on #588
Sorry but we don't currently support these on windows... If you can make it work I am happy to merge a PR tho. For windows we support the openssl-dynamic and boringssl-static libs.

[2020-11-13 09:32] hyperxpro commented on #588
[code]

[code]

It's working but gotta load libraries manually. VS is not linking them together.

[2020-11-16 02:00] huiqingduan opened #589 "Native SSL provider not available; will use JDK SSL provider."
When creating apnsclient, you will be prompted to solve this problem. Tha

nk you；

[2020-11-16 02:06] huiqingduan commented on #589
`<dependency>
            <groupId>com.eatthepath</groupId>
            <artifactId>pushy</artifactId>
            <version>0.14.2</version>
        </dependency>
        <dependency>
            <groupId>io.netty</groupId>
            <artifactId>netty-tcnative-boringssl-static</artifactId>
            <version>2.0.34.Final</version>
        </dependency>
        <dependency>
            <groupId

[2020-11-16 20:32] hyperxpro commented on #589
Can you explain a little better?

[2020-11-20 23:32] geoffreyblake commented on #552
I don't seem to be able to build netty-tcnative anymore with the docker cross-compile flow.  It fails when trying to build boring-ssl.

[code]

Will make this another issue.

[2020-12-07 08:20] normanmaurer commented on #589
Will close as there are not enough informations

[2020-12-07 08:20] #589 closed

[2020-12-07 08:21] normanmaurer commented on #588
Like I said if you get it work I am happy to pull it in but otherwise I can't spent any time on it.

[2020-12-21 12:49] mortenlocka opened #596 "Mac m1 support (osx-aarch_64 classifier)"
Hi,

Using the new Intellij beta for osx ARM. The maven-os-plugin resolves to osx-aarch_64.

Any chance that you will support this classifier in the near future?

Thanks!

(Everything works fine via rosetta.  Maven/the current intellij release. Resolves to osx-x86_64 as expected)

[2020-12-21 13:02] normanmaurer commented on #596
@mortenlocka you should open an issue in the maven plugin project:

https://github.com/trustin/os-maven-plugin

/cc @trustin

[2020-12-21 13:02] #596 closed

[2021-01-06 01:56] hedehai opened #607 "Fail to load Boringssl-static for windows 32-bit on Eclipse RCP"
I have compiled netty-tcnative-boringssl-static(2.0.34-Final) for windows 32-bit successfully.

When I put it into Eclipse RCP(OSGi)，the console printed that the dll cannot be found.

The content of Bundle-NativeCode inside the MANIFEST file of netty-tcnative-boringssl-static-2.0.34.Final-**windows-x86_32.jar** is:

[code]

According to [OSGi specifications,](https://www.osgi.org/developer/specifi

[2021-01-07 19:27] #607 closed

[2021-01-08 10:50] hedehai commented on #576
@bhtdz-zhou It’s caused by file name mismatch.
The log says it need file netty_tcnative_linux_aarch_64.so.
You can rename the file in netty-tcnative-boringssl-static-2.0.34.Final.jar!\META-INF\native\ libnetty_tcnative_linux_**aarch64.so** to libnetty_tcnative_linux_**aarch_64.so**. There is a underline before 64.

[2021-01-11 08:49] normanmaurer commented on #586
did you find anything else ?

[2021-01-11 09:37] techpavan commented on #586
Hi, We still see similar issues being reported by different customers, but all our continued efforts have still not helped in reproducing the error internally. Our efforts are still going on and we are even trying to add more resilience to our application.

Do you have any updates on this regard?

[2021-01-11 09:39] normanmaurer commented on #586
Unfortunately no...  BTW do you enable fips mode ?

[2021-01-11 09:48] techpavan commented on #586
Most of the occurrences we have noticed are non fips.

[2021-01-11 09:49] normanmaurer commented on #586
Have you tried to use netty-tcnative-boringssl-static  or is this not possible ?

[2021-01-11 11:48] techpavan commented on #586
Unfortunately, it is not possible.

[2021-01-27 16:06] jbuiibm opened #611 "Building libraries on IBM z"
Hi, we have an application provided by an external company that needs netty_tcnative to enable TLS.

The application is running in **OpenShift on IBM z** and fails when TLS is enabled due to missing tcnative library.

I found this document https://github.com/linux-on-ibm-z/docs/wiki/Building-netty-tcnative
and applied the manual steps so that our Docker image includes the needed .so library.
The s

[2021-01-27 16:11] jbuiibm commented on #611
Here is the docker part to build tcnative (I removed java and wget since they are already installed)

# 1. install needed modules
RUN yum install -y cmake perl gcc gcc-c++ openssl-devel apr-devel autoconf automake libtool make tar git python2 bzip2 zlib zlib-devel git xz diffutils  maven golang patch
RUN yum -y clean all
RUN ln /usr/bin/python2 /usr/bin/python

# 2. install ninja
RUN git clone htt

[2021-01-28 10:22] normanmaurer opened #614 "Consider adding support for certificate compression (TLSv1.3)"
https://commondatastorage.googleapis.com/chromium-boringssl-docs/ssl.h.html#Certificate-compression

[2021-02-02 19:08] normanmaurer opened #619 "Upgrade the JNI plugin"
See https://github.com/netty/netty-incubator-codec-quic/pull/166

[2021-02-04 06:48] techpavan commented on #586
Hi @normanmaurer
Getting back to know if any other cases or updates of similar issues reported.
One of our newer releases is bundled with netty-tcnative 2.0.34.Final. Though the consumption is still picking up, no such issue has come to our notice so far.
Please let us keep mutually posted of any updates in this regard.

[2021-02-04 06:49] normanmaurer commented on #586
Nothing came up

[2021-02-11 18:51] normanmaurer commented on #611
Sorry but this platform is not officially supported.

[2021-02-11 18:51] #611 closed

[2021-02-18 17:56] sebpop commented on #552
I think the build issue has been fixed by these commits: https://github.com/netty/netty-tcnative/pull/591 and https://github.com/netty/netty/pull/10845

Can somebody verify that this bug is fixed and close?

[2021-02-19 08:32] martin-g commented on #552
2.0.36.Final provides https://repo1.maven.org/maven2/io/netty/netty-tcnative/2.0.36.Final/netty-tcnative-2.0.36.Final-linux-aarch_64-fedora.jar, i.e. `aarch_64` - the new uniform name! This is good!

One thing that still bothers me is the `-fedora` part in the classifier. Is it really needed there ? Is the binary Fefora specific ?!
I use it on Ubuntu and it works fine. I think it could be dropped.

[2021-02-19 18:27] sebpop commented on #552
Looking at #591, the jar name is created from this template:
[code]
and because the image was created from a docker container with centos-7 (to have an old enough glibc compatible with all newer Linux distros):
[code]
it detects the os name as fedora.

I think it is fine to keep `-fedora` in the jar file name.

[2021-03-06 18:30] webdel-dd commented on #586
@techpavan Hi, do you have solved the issue with netty-tcnative 2.0.34.Final?

[2021-03-07 10:13] techpavan commented on #586
@webdel-dd This has not been solved for us. We just worked around to reduce the impact. Was there a similar unsolved problem at your end?

[2021-03-07 10:19] webdel-dd commented on #586
@techpavan Yes. I think it's the same problem as you, I have wrote details/logs in previous comment, have you read it? What do you think?

[2021-03-07 11:48] techpavan commented on #586
@webdel-dd  The issue does look identical. Now we have evidence that it is occurring in different environments - Linux flavors, Java / OpenSSL versions and also different netty / tcnative versions. Absence of a reproducer still remains a limitation. In our case, the load has not been found to increase the frequency, but it entirely depends on the nature of applications.

[2021-03-07 12:14] normanmaurer commented on #586
I would be happy to have a look if someone could provide a reproducer . So far I never run into it but I am also using boringssl

[2021-03-07 13:36] webdel-dd commented on #586
@techpavan what is for you the nature of applications that cause the issue? In my case I have three components:

1) Frontends: this problem occurs.
2) Backend: no problem occurs
3) Monitor: no problem occurs

All componenst have samve java/netty/tcnative configurations but the problem occurs only for Frontends. The differenct beetween components is that Frontends have a high number of requests and

[2021-03-07 13:54] techpavan commented on #586
In our case, we have REST APIs which may directly receive the client requests or routed via load balancer. Thus, in few cases there can be many different IPs and in rest, there may be a single IP. It does not seem to relate with memory leak as we have not observed occurrence of Out Of Memory issues.

[2021-03-09 11:24] shartte commented on #518
This affects CentOS 8 / RHEL 8 as well, but can be solved by installing the package `compat-openssl10`.
It would obviously be nicer if it "just worked" (tm) with OpenSSL 1.1 from the `openssl-libs` package.

[2021-03-15 18:57] nycnewman opened #626 "Docs on availability of OCSP Stapling"
Having a hard time understanding whether OCSP Stapling is enabled in netty-tcnative. I have tried both boringssl-static and the dynamic OpenSSL variants of 2.0.36-Final and neither appears to respond with a stapled response. Also not clear whether this is supported through JDK 11 (native Java apps work and show stapled response but a GRPC app via tcnative does not respond). I have checked in Wires

[2021-03-18 00:45] izagood opened #627 "The tcnative works normally on TOMCAT, but JEUS and WEBLOGIC generate the following error:"
## My librarys
- netty-all-4.1.59.Final
- netty-tcnative-boringssl-static-2.0.36.Final

## Development environment
- windows 10
- eclipse
- tomcat

## Operating environment
- Tomcat => Fine
- JEUS , webtob => Errors occur
- WebLogic => Errors occur

[code]
[code]

## Question
1. Isn't the netty-tcnative-boringssl-static built in boringssl?
2. Does anyone know how to solve this problem?

Thank you

[2021-03-18 04:41] izagood commented on #627
JEUS - WebtoB service says it uses its own wbssl(I think it's a modified version of openssl.), can this be the cause?

[2021-03-20 14:11] nycnewman commented on #626
Closing this out as I have figured this out. Appears that BoringSSL does not support OCSP Stapling. Didn't get OpenSSL to work and had issues with dependency on native libraries. Was able to get to work with AdoptOpenJDK JDK 11 but you need to have full certificate chain in server certificate. Just including the main certificate is ignored in JDK 11 implementation in StatusResponseManager when cha

[2021-03-20 14:11] #626 closed

[2021-03-22 15:54] hyperxpro commented on #627
Which Operating System and Architecture is that?

[2021-03-23 00:32] izagood commented on #627
I can't get the exact information because it's a server in the client company.

My manager sent me the error codes and informed me that the operating system is UNIX.

So I know the operating system is UNIX, but there is no information about architecture.

[2021-03-23 07:59] normanmaurer commented on #627
We don't support hpux for netty-tcnative so this is expected.

[2021-03-23 07:59] #627 closed

[2021-03-23 08:15] izagood commented on #627
Thank you for your answer.

[2021-03-24 11:13] SK-Yang opened #630 "Failed to load any of the given libraries: [netty_tcnative_aix_ppc_64, netty_tcnative_ppc_64, netty_tcnative]"
IBM Java 1.8_64

I'm trying to deploy my netty APP onto Websphere 9 which is running on AIX. When I start it up, it pop up following exception and netty is halted. Therefore, I could not use my netty APP normally. Does anyone know where I can get those missing libs or solve this issue?

[code]

[2021-03-24 11:18] normanmaurer commented on #630
We don't provide builds for aix_ppc_64 so this is expected

[2021-03-24 11:18] #630 closed

[2021-03-24 11:26] SK-Yang commented on #630
@normanmaurer
Sad... look like I have to switch and rewrite to the other git project that could do http2

[2021-03-24 11:58] normanmaurer commented on #630
You don’t need tcnative for h2 ... java11 should be enough

[2021-03-24 12:02] SK-Yang commented on #630
@normanmaurer
sadly this is not applicable since Websphere 9 is bond with Java8... not upgradable since IBM didn't provide newer java...

[2021-03-24 12:05] normanmaurer commented on #630
Or you build tcnative yourself ... sorry that's all I can do

[2021-03-26 13:13] Rainlone opened #634 "UnsatisfiedLinkError': io.netty.internal.tcnative.NativeStaticallyReferencedJniMethods.sslSessCacheClient"
use netty-tcnative-boringssl-static-2.0.31.Final.jar:

Event: 50.160 Thread 0x0000fffd9707e800 Exception <a 'java/lang/UnsatisfiedLinkError': io.netty.internal.tcnative.NativeStaticallyReferencedJniMethods.sslSessCacheClient()I> (0x0000000489bf8c70) thrown at [/usr1/jenkins/workspace/JDK8u-Euler2.8-Aarch64-build/open_source/openjdk/cd

Stack: [0x0000fffd173e1000,0x0000fffd175e1000],  sp=0x0000fffd

[2021-03-26 13:17] Rainlone commented on #634
@normanmaurer

[2021-03-29 11:53] normanmaurer commented on #634
This seems like you may have multiple netty-tcnative versions on the classpath or use a wrong version

[2021-03-31 09:13] Rainlone commented on #634
Hi,Thanks @normanmaurer.It's really the case

[2021-04-01 08:33] normanmaurer commented on #634
I think this means we can close this

[2021-04-01 08:33] #634 closed

[2021-04-05 05:53] daker2016 commented on #531
@xushirain
I think in you build jar file(netty-tcnative-boringssl-static-2.0.20.Final.jar,) `META-INF/native` folder is not exist.Maybe you can use the build jar which is name contains platform-specific classifie like `netty-tcnative-boringssl-static-2.0.20.Final-osx-x86_64.jar `which contains the `META-INF/native` folder.

[2021-04-13 10:32] mrshneaky opened #638 "Consider adding support for OQS-OpenSSL"
NIST is currently considering new Post Quantum Cryptography standards.

It would be great to support the use of https://github.com/open-quantum-safe/openssl
At present consuming a a dilithium certificate or any PQC algorithm is not supported.

[2021-04-30 13:10] normanmaurer commented on #638
It's not something we are currently looking for. That said you may be able to fork netty-tcnative and do it yourself.

[2021-04-30 13:10] #638 closed

[2021-05-21 01:50] lzwill commented on #576
@hedehai Hello, I got this error as well.
Does `renaming` is the only way to solve this problem in 2.0.34.Final version? And is this a bug?

[2021-05-21 02:10] bhtdz-zhou commented on #576
Thank you very much, update to 2.0.35，solve it!

[2021-05-21 02:11] bhtdz-zhou commented on #576
Thank you very much, update to 2.0.35，solve it!

[2021-05-21 02:11] #576 closed

[2021-05-21 02:11] bhtdz-zhou commented on #576
update to 2.0.35，solve it!

[2021-06-01 08:45] Honeylemonade opened #648 "Failed to load any of the given libraries: [netty_tcnative_osx_aarch_64, netty_tcnative_aarch_64, netty_tcnative]"
Recently, I work with my M1 MacBook. When i use netty , i found the Error「Failed to load any of the given libraries: [netty_tcnative_osx_aarch_64, netty_tcnative_aarch_64, netty_tcnative] .
![image](https://user-images.githubusercontent.com/38828449/120294347-af150380-c2f8-11eb-8e33-2470a3baf561.png)

the log seems told me to use the right version for netty_tcnative, but when I search it in maven

[2021-06-03 07:31] eolivelli opened #649 "Version 2.0.38 and 2.0.39 Crash on Alpine Linux"
I am trying to upgrade an application that used Netty TC Native 2.0.33.Final to a new version of the Application that now uses 2.0.38 (with 2.0.39 the behaviour is the same).

Basically the JVM crashes with the dump below.

More context:
- the application is NoSQLBench
- it is using Netty because imported by Apache Pulsar Java Client, that relocates Netty and TCNative classes and libraries
- the a

[2021-06-03 07:32] eolivelli commented on #649
I will be happy to give more information as needed or perform other tests.

It looks like it is kind of a blocker for upgrading Netty

[2021-06-07 08:20] eolivelli commented on #649
it looks like that the problem is more about "epoll" and not about tc-native.

and also it looks like that with adoptopenjdk/openjdk15:alpine-slim docker image the problem does not reproduce

[2021-06-07 13:14] normanmaurer commented on #649
@eolivelli let me know once you have a reproducer and I will have a look!

[2021-06-07 13:49] eolivelli commented on #649
I will try to create a self-contained patch with a simple Dockerfile and something who uses Apache Pulsar Java client

[2021-07-15 23:53] ylexus commented on #570
This will require the paid Apple Developer account (can be opened online in 10 mins), but should otherwise be pretty straighforward. In my project I use this script: https://github.com/ylexus/jiotty-photos-uploader/blob/master/macos_notarize_dmg.sh

Basically, after the macOS binary is built, you'll need to invoke this.
[code]

* `CODESIGN_IDENTITY` is your Apple Developer identity, it looks like

[2021-08-14 01:18] ramtech123 commented on #567
Hi team,

Is there any alternative approach/workaround to restrict the supported_groups while using `SslProvider.OPENSSL`?
Refer my stackoverflow query at https://stackoverflow.com/questions/68779649/netty-tcnative-with-openssl-and-supported-groups-elliptic-curves

[2021-08-16 05:04] ramtech123 commented on #567
Hi @normanmaurer @trustin ,

Any thoughts/guidance on the above? Thanks in advance.

[2021-08-16 10:37] gacktomo commented on #648
I added 'io.netty:netty-tcnative-boringssl-static:2.0.25.Final' and it worked.

[2021-08-19 04:19] kushalagrawal commented on #567
Hi @normanmaurer, I see that in [https://github.com/netty/netty-tcnative/blob/main/openssl-dynamic/src/main/c/sslcontext.c#L377](https://github.com/netty/netty-tcnative/blob/main/openssl-dynamic/src/main/c/sslcontext.c#L377) , Elliptic curve is being set to 256 for openssl version < 1.1.0 but there is no documentation about how to update the elliptic curve to other than 256. Something like If we n

[2021-08-25 13:24] normanmaurer commented on #649
Any update ?

[2021-08-25 13:25] normanmaurer commented on #586
Without more feedback / a reproducer there is not much we can do

[2021-08-25 13:25] normanmaurer commented on #552
I think this was fixed

[2021-08-25 13:25] #552 closed

[2021-08-25 13:57] eolivelli commented on #649
sorry, I was caught by other priorities.

We switched to `adoptopenjdk/openjdk15:alpine-slim` (instead of `openjdk:15-alpine`) we the problem disappeared

I believe that we can close this issue

[2021-08-25 13:58] normanmaurer commented on #649
Thanks a lot!

[2021-08-25 13:58] #649 closed

[2021-08-30 08:32] martin-g commented on #552
@normanmaurer What still bothers me is that the linux-aarch64 artifact still has `-fedora` in its name: https://repo1.maven.org/maven2/io/netty/netty-tcnative/2.0.41.Final/netty-tcnative-2.0.41.Final-linux-aarch_64-fedora.jar
This makes it hard to use with `os-maven-plugin`. I have to do extra gymnastics in my pom.xml.
Instead of just using `<classifier>${os.detected.classifier}</classifier>` I ha

[2021-09-01 11:01] karthickm512 opened #657 "tcnative > 2.0.35 Fails to start in osgi"
netty-tcnative bundles above 2.0.35 version fail to start in Osgi environment citing 'osgi r3 bundle not supported'.

The reason is, the Manifest of tcnative does not have any import/export declaration while tcnative version 2.0.35 and less have import/export defined.

Please add this info so that latest versions can be used,

[2021-09-01 11:19] normanmaurer commented on #657
Do you want to do a PR?

[2021-09-01 11:25] karthickm512 commented on #657
sorry whats a PR? I am a consumer of tcnative osgified jar

[2021-09-01 22:40] NiteshKant commented on #657
PR is an acronym for Pull Request. In other words, can you make the changes you are requesting here? We are happy to review the changes for you.

[2021-09-02 04:36] karthickm512 commented on #657
Sorry I have no coding knowledge, so it would be better if I don't code :) And any Karaf users should be facing this issue for months now.

==Following is what is found in Manifest of 2.0.35.Final==
Manifest-Version: 1.0
Ant-Version: Apache Ant 1.8.2
Created-By: Apache Maven Bundle Plugin
Implementation-Title: Netty/TomcatNative [OpenSSL - Dynamic]
Bundle-Description: A Mavenized fork of Tomcat Na

[2021-09-03 02:09] etteeee opened #658 "CVE-2021-35940"
[CVE-2021-35940](https://nvd.nist.gov/vuln/detail/CVE-2021-35940) reported recently that APR 1.7.x has not fix the previous out-of-bounds array issue, while tcnatvie depenedency APR version is 1.7.0

[2021-09-03 06:23] normanmaurer commented on #658
While this is true we are not affected as we not use these functions

[2021-09-03 09:47] whelanp opened #659 "Problem using the non default openssl engine with netty-tcnative. [AWS cloudhsm engine]"
**Question 1)** How do I get netty-tcnative working with an openssl engine that is not the default one? In my case I am trying the cloudhsm engine. Has anyone any experience of loading this engine or indeed any other engine in a similar fashion. I documented the issues I am running into below.

**Question 2)** Should the openssl version reported by netty-tcnative on initialisation in the logs matc

[2021-09-04 10:12] kushalagrawal commented on #567
Hi @normanmaurer, any thoughts on this please?

[2021-09-04 16:56] hyperxpro opened #660 "Consider releasing OpenSSL-Static on Maven Central"
Currently, OpenSSL-Static is not released on Maven Central and we have to compile it manually and distribute the native library to our application manually.

Now you might say that we have `BoringSSL-Static` but there are few limitations in that. The biggest reason I choose `OpenSSL-Static` over `BoringSSL-Static` is due to the lack of support to configure the TLSv1.3 ciphers suite. BoringSSL does

[2021-09-06 07:54] normanmaurer commented on #660
Honestly I don't want to do this... We don't want to be responsible for the security updates of OpenSSL. I think we even consider dropping everything except BoringSSL in the future.

[2021-09-06 07:55] normanmaurer commented on #567
Yep... Looking into exposing `SSL_CTX_set1_curves`

[2021-09-06 09:19] whelanp commented on #659
Just a small update re Question 2) From information provided in https://github.com/netty/netty-tcnative/issues/434 it seems that this is down to https://bugzilla.redhat.com/show_bug.cgi?id=1497859.

So I think Part 2) of my question is not a problem here and can be explained. The version mismatch happens due to the build-time version being reported.

[2021-09-06 13:01] normanmaurer commented on #567
https://github.com/netty/netty-tcnative/pull/661

[2021-09-07 00:42] etteeee commented on #658
sure, thanks for the reply

[2021-09-07 00:42] #658 closed

[2021-09-07 05:43] karthickm512 commented on #657
Hi, any updates on this one?

[2021-09-09 02:59] hyperxpro commented on #660
But this also applies to BoringSSL, right?

[2021-09-09 07:03] normanmaurer commented on #660
Kind of... First of BoringSSL has quite some better "track-record" in terms of security problems and also we have people from Google that help us ensure we do the right thing here.

[2021-09-09 12:40] #567 closed

[2021-09-09 14:37] normanmaurer commented on #648
This was fixed in  2.0.42.Final

[2021-09-09 14:37] #648 closed

[2021-09-10 12:33] croister commented on #657
I have the same issue and have located the commit that introduces the fault.

The commit [https://github.com/netty/netty-tcnative/commit/ef6dd68503eaefdad800a7b905a1ad21a7e1408f](https://github.com/netty/netty-tcnative/commit/ef6dd68503eaefdad800a7b905a1ad21a7e1408f) changes the parent of the "netty-tcnative-parent" pom from "netty-parent" to "oss-parent".

"netty-parent" already has "oss-parent"

[2021-09-10 12:36] normanmaurer commented on #657
Move settings over

[2021-09-13 15:55] slandelle opened #663 "2.0.42 all included jar misses the native lib for osx_x86_64"
<img width="311" alt="Screenshot 2021-09-13 at 17 55 30" src="https://user-images.githubusercontent.com/849197/133116739-9c624418-6082-426c-b12a-8e048884d3b1.png">

[2021-09-13 16:20] normanmaurer commented on #663
looking...

[2021-09-13 18:47] normanmaurer commented on #663
Fixed in 2.0.43.Final

[2021-09-13 18:47] #663 closed

[2021-09-14 07:08] slandelle commented on #663
Thanks!

[2021-09-14 07:39] normanmaurer commented on #657
See https://github.com/netty/netty-tcnative/pull/664

[2021-09-14 14:40] #657 closed

[2021-09-15 12:12] lostk1ng commented on #551
I have the same problem with the newest version. Do you have any idea how to solve this?

[2021-09-15 14:16] dlorych commented on #551
Depends what are you trying to solve...
If it is enabling TLSv1.3, the viable workaround is to use netty-tcnative-boringssl-static, which is statically linked version of the library using BoringSSL instead of OpenSSL. You can have a look at these docs: https://netty.io/wiki/forked-tomcat-native.html

If it is enabling OpenSSL 1.1 specifically, than someone would have to contribute to the project.

[2021-09-16 07:23] vikashbhattar commented on #424
Can someone provide the steps to compile binaries on AIX?

[2021-09-16 07:31] slandelle commented on #424
@vikashbhattar AIX is sold by IBM and very few people have access to it. IMHO, instead of reaching out to an open source community, you should probably ask your IBM support.

[2021-09-16 09:35] lostk1ng commented on #551
Thanks for your reply. I have enabled TLSv1.3 successfully with netty-tcnative-boringssl-static.

However, I still have some questions with enabling OpenSSL1.1.1 with netty-tcnative. I find the following post and merge:
https://netty.io/news/2018/10/30/4-1-31-Final.html
https://github.com/netty/netty-tcnative/pull/389/files

Is it means netty-tcnative in the maven cental repo is already support Op

[2021-09-16 13:23] dlorych commented on #551
Ok, you're right, JNI bindings are ready for it.

In that case, as I understand:
It looks that `netty-tcnative` (openssl-dynamic) artifact is build against OpenSSL 1.0 - have a look at Docker files describing the build.

I can see two ways to solve that:
* use `openssl-static` project to build library with your version of openssl. See How to build section of https://netty.io/wiki/forked-tomcat-nat

[2021-09-28 07:08] morvael opened #667 "Switch APR download to https"
When trying to download apr during build in corporate environment, download fails because all http is blocked here. I think there's now a standard to switch to https wherever possible, so maybe it should be done too in this case.

[code]

[2021-09-28 07:14] morvael commented on #554
I once managed to build netty on virtual PPC64LE using qemu on an AMD64 host, though it was of course terribly, horribly slow. Building on real machine is definitely faster.

[2021-09-29 11:50] #667 closed

[2021-09-30 04:18] karthickm512 commented on #657
Any timelines by which this 2.0.44 version will be available for use?

[2021-09-30 14:20] normanmaurer commented on #657
I think tomorrow

[2021-11-03 20:00] CamW commented on #614
I am interested in working on this. Is it something you would like to add support for?

If so, it seems to me that dynamically linking and loading native compression libraries might be a good approach. To avoid the bloat of statically linking and the call to java for compression.
Any thoughts on that?

[2021-11-05 09:00] Fury-Fox opened #677 "Which version of Tomcat Native does netty-tcnative use?"
Which version of Tomcat Native does netty-tcnative use?

[2021-11-05 09:01] normanmaurer commented on #677
@Fury-Fox none... it was forked a long time ago.

[2021-11-05 09:01] #677 closed

[2021-11-05 09:05] Fury-Fox commented on #677
Is it feasible to upgrade to the latest version of Tomcat Native?

[2021-11-05 09:08] normanmaurer commented on #677
Not easily... Please let me know what is missing that make you thing we need to upgrade.

[2021-11-05 09:11] Fury-Fox commented on #677
https://github.com/netty/netty-tcnative/issues/630#issuecomment-805767248

[2021-11-05 09:13] normanmaurer commented on #677
@Fury-Fox please point me to a specific commit / code that is missing and I will see what I can do.

[2021-11-05 09:19] Fury-Fox commented on #677
The problem I encountered is the same as this issue. The compilation passed, but the operation reported error：Suppressed: java.lang.UnsatisfiedLinkError:  (0509-022 Cannot load module  . 0509-026 System error: Cannot run a file that does not have a valid format.)
https://github.com/netty/netty-tcnative/issues/630#issue-839614607

[2021-11-05 09:22] normanmaurer commented on #677
Sure but why do you think that upgrading to latest tcnative will fix this ?

[2021-11-05 09:28] Fury-Fox commented on #677
Tomcat native supports AIX. I have no other way.

[2021-11-05 09:29] normanmaurer commented on #677
Sorry but we have a lot of custom code and AIX is not on our roadmap. If you want to provide a PR to fix this I am happy to review but thats the most I can offer atm.

[2021-11-05 11:14] Fury-Fox commented on #677
I thought it could be directly used on AIX after compiling. It turned out that I was wrong.

[2021-11-06 23:27] Fury-Fox commented on #677
I think I found the reason for the UnsatisfiedLinkError.
Build and Test on AIX7.1, IBM JDK 8.

The IBM JVM links in this way when it loads native libraries (for example, System.load(), System.loadLibrary(), Runtime.getRuntime().load(), Runtime.getRuntime().loadLibrary()).
But native libraries is not an "ar" format archive library, it is  a single object file.

[2021-11-08 03:20] Fury-Fox opened #678 "Build on AIX 7.1,IBM JDK8"
2021-11-08 16:28:09：XLC C/C++v13, coredump: Type = Segmentation error.

I will use Xlc C/C++v12.1 again.

[2021-11-09 08:20] Fury-Fox commented on #678
2021-11-09 16:17:12 ： Xlc C v12 ，error again.

![b1d6a2c2912e0d95f4dfc251c407d4f](https://user-images.githubusercontent.com/25580391/140887464-cdb63db4-8130-42a0-9e74-bd56e47d36c4.jpg)
![3e639c78a50c530dc7932018b4b85e2](https://user-images.githubusercontent.com/25580391/140887496-42a0f9af-f0b1-4c5e-9971-45152e227193.jpg)

What's the next I can do?

[2021-11-09 08:21] normanmaurer commented on #678
I have no access to AIX and no knowledge of the platform... Sorry you are on your own sadly

[2021-11-10 15:22] normanmaurer commented on #614
@CamW I think it would be better to do the compression in a java callback to miminize trouble :)

[2021-11-11 02:15] Fury-Fox commented on #678
first check openssl error.

[2021-11-11 02:15] #678 closed

[2021-11-15 11:31] Fury-Fox commented on #678
buid openssl : must export OPENSSL_ppccap=1

[2021-11-18 18:20] ljnelson opened #680 "When use_tasks is true, Netty seemingly can supply a freed ByteBuf to SslHandler::decode"
I am not sure whether it is more appropriate to file the bug here or in the main Netty repository.  I'll file it here because I think any fix will have to be done in the C code.

Both grpc-java and Helidon (disclaimer: I work on it, but not in the area affected) tried to upgrade Netty past 4.1.63.Final with no success.  The root cause of both projects' tests' failures seems to be related to the co

[2021-11-22 09:02] normanmaurer commented on #680
Thanks I will have a look.

[2021-11-22 10:21] martin-g opened #681 "SIGSEGV while initializing tcnative"
Hi,

Netty: 4.1.70
Netty tcnative: 2.0.46
Grpc: 1.42.1

I face a strange issue while trying to run a simple Grpc service on Ubuntu 20.04.3 ARM64:
The following stack trace leads to SIGSEGV:

[code]

The application uses boringssl-static (see the attached mvn-dependency-tree.txt). According to https://netty.io/wiki/forked-tomcat-native.html when boringssl-static is being used then APR is not needed

[2021-11-22 10:21] martin-g commented on #681
Originally reported at https://github.com/Alluxio/alluxio/issues/12704#issuecomment-974106540

[2021-11-22 10:22] normanmaurer commented on #681
Yeah it should use the apr version which is statically compiled into it. Can you check what happens when you remove apr from the system itself ?

[2021-11-22 11:12] martin-g commented on #681
I've removed the following packages: `libapr1-dev libaprutil1-dev libsctp-dev{u} libsctp1{u} libsvn-dev{a}` but nothing changed :-/

[2021-11-22 11:13] normanmaurer commented on #681
Is it possible to share a docker image that reproduce it ?

[2021-11-22 11:18] martin-g commented on #681
Do you have ARM64 hardware to run the Docker image ? Emulating with QEMU would be slow.

Otherwise I could give you access to my VM ? Please send me an email to mgrigorov @ apache org if you prefer the VM approach!

[2021-11-22 11:19] normanmaurer commented on #681
I have a m1 so I guess that should do it ?

[2021-11-22 11:23] martin-g commented on #681
Hopefully!
Give me some time to prepare the image!

[2021-11-22 13:31] martin-g commented on #681
[code]

`martin-g/netty-sigsegv:latest` is a bit fat (~5GB) because it contains all the prereqs and Maven dependencies

[2021-11-23 11:11] normanmaurer commented on #680
@ljnelson I have found the root-cause and fixed it (its a bug in netty itself). Currently working on a unit test, so stay tuned.

[2021-11-23 12:31] martin-g commented on #681
Without Docker the steps are:
1) git clone  --branch netty-sigsegv-debug https://github.com/martin-g/alluxio.git
2) export JAVA_HOME=/path/to/jdk-8
3) mvn clean install -DskipTests
4) cd hub/server/
5) mvnDebug test -Dtest=AgentProcessMonitorTest#testProcessMonitorFailure

[2021-11-23 13:19] martin-g commented on #681
If I add `-DargLine=-Dio.netty.handler.ssl.noOpenSsl=true -Dio.netty.handler.ssl.noOpenSsl=true` to the `mvn test` command then the test passes!

[2021-11-23 13:57] normanmaurer commented on #681
I will check most likely tomorrow..

[2021-11-23 13:58] martin-g commented on #681
I think I've found the problem!
See the attached tests.log file.
It says:
[code]
but down in the `Caused by` logs it never attempts `netty_tcnative_linux_aarch_64` (which is provided by netty_tcnative_boringssl-static`). It tries with `netty_tcnative_linux_aarch_64_fedora`, `netty_tcnative_aarch_64` and `netty_tcnative`

[tests.log](https://github.com/netty/netty-tcnative/files/7588489/tests.log)

[2021-11-23 14:00] normanmaurer commented on #681
interesting... that said I think it should not segfault

[2021-11-23 14:03] martin-g commented on #681
I am not sure why it segfaults but hs_err*.txt says the problem is at:
[code]

[2021-11-23 14:13] martin-g commented on #681
I've just unzipped  `~/.m2/repository/io/netty/netty-tcnative-boringssl-static/2.0.46.Final/netty-tcnative-boringssl-static-2.0.46.Final.jar`
[code]

 and exported `LD_LIBRARY_PATH` to `/tmp/META-INF/native`

The test passed ! Without `_fedora` !
I expected that I will need to copy libnetty_tcnative_linux_aarch_64.so to netty_tcnative_linux_aarch_64_fedora.so to make it work but it wasn't needed.

[2021-11-24 07:45] #680 closed

[2021-11-24 09:01] normanmaurer commented on #681
@martin-g so you say you didn't need to change anything ? All you did was unzip and sett `LD_LIBRARY_PATH` and after this it worked ?

[2021-11-24 09:09] martin-g commented on #681
Right!
It seems for some reason it does not try to load `netty_tcnative_linux_aarch_64` from the jar. For some reason it is not in the suppressed exceptions and `Caused By`s.

I am debugging the test locally on x86_64 and all seems fine with the logic.

[2021-11-24 10:23] martin-g commented on #681
I am trying to build Netty locally with some extra logging but it fails at:
[code]

https://repo.maven.apache.org/maven2/io/netty/netty-tcnative/2.0.46.Final/ contains only the `_fedora` thingy ...

[2021-11-24 10:25] normanmaurer commented on #681
@martin-g use `./mvn clean package -Pboringssl`

[2021-11-24 10:42] martin-g commented on #681
I've found the issue!
[code]
It found some other library in a dependency jar.
Why it is not used - I still have no idea.

@normanmaurer Do you think using ClassLoader#getResource**s**(String) at `io.netty.util.internal.NativeLibraryLoader#load()` would be a better way ? There you could filter out only the Netty jars or throw an exception if there are more than one results ?

[2021-11-24 10:43] normanmaurer commented on #681
@martin-g not sure I follow what you propose.. Can you show via a PR ?

[2021-11-24 10:46] martin-g commented on #681
I will prepare a PR!
The idea is to collect all resources (ClassLoader#getResources), not just the first one (ClassLoader#getResource).
If there are more than one results then either throw an error or filter out the good one (a jar with path containing `io/netty/...`.
Currently by using `ClassLoader#getResource()` it finds the first resource with this name and in the current case it is something t

[2021-11-24 10:49] normanmaurer commented on #681
got it... I guess we might just throw if we find multiple as it is hard to know which one is correct if shading is used.

[2021-11-24 12:42] martin-g commented on #681
I've reported the problem to Apache Ratis: https://issues.apache.org/jira/browse/RATIS-1443

[2021-11-27 07:47] #681 closed

[2021-12-07 18:21] ljnelson commented on #680
Is there a rough idea of when 4.1.71.Final (containing this fix) will be released? Thanks for your work.

[2021-12-07 19:03] normanmaurer commented on #680
@ljnelson yes... this week

[2021-12-14 12:53] karthickm512 opened #683 "tcnative 2.0.46 breaks netty dependency resolution"
We try to step up from tcnative 2.0.44.Final to 2.0.46 Final but it fails to start other netty bundles in Karaf container. Reason being that 2.0.46.Final manifest lacks export packages, which leads to other netty (like netty handler, codec etc) fail to start. Please fix it so that latest update of netty 2.1.72 related to log4j CVE could be deployed

Following is seen in 2.0.44.Final manifest which

[2021-12-15 10:03] karthickm512 commented on #683
@normanmaurer Any views on this?

[2021-12-15 10:18] normanmaurer commented on #683
@karthickm512 can you provide a PR to fix this ?

[2021-12-15 10:32] karthickm512 commented on #683
I believe there are dependent netty projects which needs focus that I cannot guarantee. So I would better refrain from commits

[2021-12-15 11:35] croister commented on #683
I believe the issue is caused by the move of classes to the extra module.
Even though I import the new bundle openssl is not working.
The solution is probably to revert aeb8f92079dc5f8958beb64fdfe56ec6d01fd04e "Move classes to extra modules (#674)".

[2021-12-16 06:48] karthickm512 commented on #683
@normanmaurer Any possibility to speed up the patch from netty itself?

[2021-12-16 08:01] normanmaurer commented on #683
I will need to look into it but let me say I am far from being an OSGI expert. Also I can't promise I will have time this week

[2021-12-16 09:02] normanmaurer commented on #683
@karthickm512 hmm the export package is provided by netty-tcnative-classes. Do you load this one as well ?

[2021-12-16 09:03] normanmaurer commented on #683
@croister

[2021-12-16 09:56] croister commented on #683
Yes, I loaded the netty-tcnative-classes bundle as well.
The bundles get resolved but openssl is not working.
My suspicion is that the java classes needs to be in the same bundle as the native implementation.
But that is only a guess.

[2021-12-16 10:01] croister commented on #683
We need this fixed as soon as possible.
Either a fixed tcnative or stepping down the requirement in Netty to allow us using the 2.0.45 version with the latest Netty version.

[2021-12-16 10:47] normanmaurer commented on #683
@croister we live PRs ... that said reverting the commit that split the hard is not an option

[2021-12-17 06:46] ravihackworks opened #685 "Compatibility check for io.netty (4.1.72.Final) with netty-tcnative(2.0.44.Final)"
As per maven link - https://mvnrepository.com/artifact/io.netty/netty-handler/4.1.72.Final.
2.0.46 version is recommended version for netty-tcnative.

![image](https://user-images.githubusercontent.com/45195641/146500722-125a4afe-450c-4597-8efd-397788f0a2cb.png)

can we use version 2.0.44 for netty-tcnative or does it have any issue ?
![image](https://user-images.githubusercontent.com/45195641/146

[2021-12-17 06:53] normanmaurer commented on #685
@ravihackworks I think it should work... but why ?

[2021-12-17 07:13] ravihackworks commented on #685
As per recommendation, we should use 2.0.46.Final but this is faulty. Refer - https://github.com/netty/netty-tcnative/issues/683
Hence want to use 2.0.44.

Not sure, is that ok to use or not ok ?

[2021-12-18 16:01] ravihackworks commented on #685
Early feedback will help us in taking decision.

[2021-12-20 10:19] normanmaurer commented on #685
I think it should work

[2021-12-21 13:26] morvael opened #686 "Problem compiling 2.0.46"
Is this a temporary thing related to problems with 2.0.46 or should I start looking for a fix? And I have no idea what that can be.

![netty](https://user-images.githubusercontent.com/1133953/146937544-b241e017-dbf5-4083-91cd-06a896e64bae.png)

I need to compile netty myself to get the ppc64le epoll native library. I must say every version of Netty this year brings compilation problems...

[2021-12-21 13:51] normanmaurer commented on #686
Let me check

[2021-12-21 14:36] normanmaurer commented on #686
@morvael I just opened https://github.com/netty/netty-tcnative/pull/687 to fix this in the future. That said you can workaround it by using `./mvn clean package-DskipJapicmp=true`.

[2021-12-21 15:05] morvael commented on #686
Thanks!

[2021-12-23 10:50] sangitanalkar opened #688 "CVE-2021-44228 Log4j vulnerability for netty-tcnative"
Hello,

While building netty-tcantive v2.0.46 on Linux, log4j v1.2.12 is getting downloaded while running command `./mvnw clean install` as seen in logs below .
[code]

Wanted to know whether netty-tcnative is affected or not by the security vulnerabilities of log4j?

Thanks,
Sangita

[2021-12-23 13:16] normanmaurer commented on #688
It's not ... we don't use log4j in this project

[2021-12-23 13:16] #688 closed

[2021-12-23 13:27] #686 closed

[2022-01-06 01:58] ParrySMS commented on #685
netty 4.1.72.Final is works with netty-tcnative-classes 2.0.46.Final.

[code]

[code]

[2022-01-15 17:16] cforce opened #691 "license check fails"

[2022-01-15 17:17] cforce opened #692 "license check fails"
INFO]
[INFO] --- license-maven-plugin:2.0.0:aggregate-add-third-party (check)
[INFO] Detected 38 license(s).
[WARNING] There is 1 dependency with no license :
[WARNING]  - io.netty--netty-tcnative-classes--2.0.46.Final
 - io.netty--netty-tcnative-classes--2.0.46.Final

[2022-01-17 13:42] #691 closed

[2022-01-17 14:04] normanmaurer commented on #692
Will have a look

[2022-01-17 14:05] normanmaurer commented on #692
Actually this was fixed by https://github.com/netty/netty-tcnative/pull/682

[2022-01-17 14:05] #692 closed

[2022-01-18 16:03] normanmaurer commented on #683
Seems like something like this should fix it: https://github.com/netty/netty/pull/12018

[2022-01-19 13:29] #685 closed

[2022-01-19 14:15] #683 closed

[2022-01-19 14:16] normanmaurer commented on #659
so this can be closed ?

[2022-01-31 15:30] #614 closed

[2022-02-07 14:52] karbi opened #699 "BoringSSL update"
Boring SSL update to 3a667d10e94186fd503966f5638e134fe9fb4080 (https://boringssl.googlesource.com/boringssl/+/refs/heads/chromium-stable).

[2022-02-07 15:22] karbi commented on #699
PR #700

[2022-02-07 15:52] normanmaurer commented on #699
Fixed by https://github.com/netty/netty-tcnative/pull/700

[2022-02-08 11:28] #699 closed

[2022-02-08 11:28] #659 closed

[2022-02-08 11:29] normanmaurer commented on #660
Closing this now

[2022-02-08 11:29] #660 closed

[2022-02-08 11:29] normanmaurer commented on #577
Closing this now... Please try with latest release

[2022-02-08 11:29] #577 closed

[2022-02-08 11:29] normanmaurer commented on #542
We don't plan to add support atm. Closing

[2022-02-08 11:29] #542 closed

[2022-02-08 11:31] normanmaurer commented on #510
We don't plan to add support for this. That said if we could make it work via GitHub action we can reconsider. PRs welcome

[2022-02-08 11:31] #510 closed

[2022-02-08 11:35] #507 closed

[2022-02-08 11:35] normanmaurer commented on #586
I will close this for now ... Please reopen once you have more infos

[2022-02-08 11:35] #586 closed

[2022-02-08 11:36] normanmaurer commented on #436
This can be closed as this was fixed by https://github.com/netty/netty-tcnative/pull/522

[2022-02-08 11:36] #436 closed

[2022-02-08 11:38] normanmaurer commented on #351
We store the actual boringssl SHA in the manifest. This can be used

[2022-02-08 11:38] #351 closed

[2022-02-08 11:38] normanmaurer commented on #529
I think we fixed this in netty. Closing

[2022-02-08 11:38] #529 closed

[2022-02-08 14:07] normanmaurer commented on #554
We would need to b able to build via GitHub action. Close this for now

[2022-02-08 14:07] #554 closed

[2022-02-17 07:32] floating-cat opened #703 "Link against to the libcrypt.so.2"
OS: Linux
Library: netty-tcnative-*-static

I just noticed that I am unable to run a Netty app in ArchLinux because Arch's glibc package has removed the libcrypt.so.1: https://bbs.archlinux.org/viewtopic.php?id=274160
So I need to install the `libxcrypt-compat` to run it.
From my checking, this is the same in the Fedora, and I think there would be more distro to remove it in the future.

To build

[2022-02-24 23:00] zapek opened #707 "No native libs in 2.0.49 and 2.0.50 for BoringSSL Static"
Look at the file size of the jar:
https://mvnrepository.com/artifact/io.netty/netty-tcnative-boringssl-static/2.0.48.Final (4.7 MB)
https://mvnrepository.com/artifact/io.netty/netty-tcnative-boringssl-static/2.0.49.Final (7 KB)
https://mvnrepository.com/artifact/io.netty/netty-tcnative-boringssl-static/2.0.50.Final (3 KB)

[2022-02-25 08:47] normanmaurer commented on #707
@zapek this is expected... see https://github.com/netty/netty-tcnative/pull/696

[2022-02-25 08:47] #707 closed

[2022-02-25 10:08] zapek commented on #707
Thanks for your reply. I managed to get it to work but I'm a bit puzzled to know if I'm doing it right.

The documentation at https://netty.io/wiki/forked-tomcat-native.html states (for netty-tcnative-boringssl-static)

Which is what I had in my build.gradle:
`implementation 'io.netty:netty-tcnative-boringssl-static:2.0.48.Final'`

If I switch to:
`implementation 'io.netty:netty-tcnative-boringssl

[2022-02-25 10:13] normanmaurer commented on #707
@normanmaurer no... it should just work. Can you provide a reproducer ?

[2022-02-25 10:34] zapek commented on #707
@normanmaurer I use it here, https://github.com/zapek/Xeres/blob/master/app/build.gradle

With IntelliJ it's easy to check the "External Libraries" tree in the Project view to see which dependencies are pulled in.

[2022-03-03 09:13] jonkjenn opened #708 "Automatic-Module-Name is not set correctly in MANIFEST.MF"
Examples
https://github.com/netty/netty-tcnative/blob/main/boringssl-static/pom.xml#L41
https://github.com/netty/netty-tcnative/blob/main/openssl-classes/pom.xml#L46

Actual value in both jars
`Automatic-Module-Name: io.netty.internal.tcnative`

Since boringssl-static includes openssl-classes this seems to prevent using this package while running on module path.
[code]

[2022-03-03 09:33] normanmaurer commented on #708
Good catch... Let me fix this

[2022-03-03 11:24] normanmaurer commented on #708
@jonkjenn PTAL https://github.com/netty/netty-tcnative/pull/709

[2022-03-04 12:40] #708 closed

[2022-03-07 15:53] martijndebruijn opened #710 "CVE"
I'm using netty version 2.0.50.Final (currently the latest version). However the OWASP check fails due to multiple CVE issues.
Some of the issues are quite old. Are these CVE issues under investigation?

[ERROR] One or more dependencies were identified with vulnerabilities that have a CVSS score greater than or equal to '7,0':
[ERROR]
[ERROR] netty-tcnative-boringssl-static-2.0.50.Final-linux-x86_

[2022-03-07 15:57] normanmaurer commented on #710
@martijndebruijn netty-tcnative-classes has no dependencies on netty itself so I think the OWASP check has a bug ?

[2022-03-07 16:02] #710 closed

[2022-03-10 12:29] tinolazreg commented on #708
Do you have an ETA on when this fix will be deployed?

[2022-03-11 16:17] sokomishalov opened #711 "Mac M1 artifact was not found on maven central"
Despite [providing support for mac m1 chip](https://github.com/netty/netty-tcnative/pull/662) there are no separate artifacts for `osx-aarch_64` classifier [on maven central](https://repo1.maven.org/maven2/io/netty/netty-tcnative/2.0.50.Final/).

[2022-03-11 16:19] normanmaurer commented on #711
@sokomishalov we only support `osx-aarch_64` for our static compiled version against BoringSSL:

https://repo1.maven.org/maven2/io/netty/netty-tcnative-boringssl-static/2.0.51.Final/

[2022-03-11 16:19] #711 closed

[2022-03-11 16:28] sokomishalov commented on #711
Got it, thanks! @normanmaurer

[2022-03-16 07:28] hchy234 opened #712 "error: bundle to io.netty.tcnative-boringssl-static"
![IMG_20220316_152058](https://user-images.githubusercontent.com/90098365/158538139-33ec4688-d9ad-4a80-af0e-f4fead5e9c90.jpg)
![1647415671384](https://user-images.githubusercontent.com/90098365/158538253-3c52697e-1523-4b46-a6e2-b5398a0b60f5.jpg)

[2022-03-16 07:34] normanmaurer commented on #712
Please upgrade to the latest version...

[2022-03-16 07:34] #712 closed

[2022-03-20 05:26] #111 closed

[2022-03-20 13:36] Flyyellow commented on #648
I got the same problem.

[2022-03-24 17:47] spencejackson opened #716 "netty-tcnative-boringssl-static fails to load after version 2.0.48"
Starting in 2.0.49, I am seeing:

OpenSsl.isAvailable() returns false

OpenSsl.unavailabilityCause() returns
[io.netty.util.internal.NativeLibraryLoader.loadFirstAvailable(NativeLibraryLoader.java:114), io.netty.handler.ssl.OpenSsl.loadTcNative(OpenSsl.java:705), io.netty.handler.ssl.OpenSsl.<clinit>(OpenSsl.java:146), io.baffle.shield.sql.mysql.BaffleShield.run(BaffleShield.java:349)]

[2022-03-30 17:54] temawi commented on #716
I have also been impacted by this while [trying to upgrade grpc-java to the latest netty](https://github.com/grpc/grpc-java/pull/9027). It looks like since netty-tcnative-boringssl-static 2.0.49 the jar no longer contains the native libraries and at least Gradle and Bazel are having a hard time including the dependent libraries that now have them.

In our Gradle build I was able to work around thi

[2022-03-30 23:00] spencejackson commented on #716
Yes, I'm using Gradle.

[2022-03-31 15:48] fedorka commented on #716
We're also using Gradle and are impacted by the change. We were packaging the uber-jar as part of our platform IPC libraries so we can support both our deployed servers and the wide variety of developer environments.

[2022-04-03 11:32] sannam888 commented on #716
@ejona86 I doubt that the problem is related to Gradle. From what I can see, the netty-tcnative-boringssl-static uber jar which used to contain the native libraries for all the platforms is now empty! Hence anyone depending on the uber jar will now fail to load the native library.
The most likely commit that broke this is: https://github.com/netty/netty-tcnative/commit/6fb5b01208671c007ad7f752e51c

[2022-04-04 14:24] spencejackson commented on #716
I agree. After 2.0.48 the size of the jar takes a nosedive.

[2022-04-04 14:27] ejona86 commented on #716
But the pom now depends on the various platform-specific classifiers. So the other binaries are getting brought it from the dependency system. It seems it was likely tested with Maven and got working, but Gradle behaves differently.

[2022-04-04 15:13] Zetten commented on #716
I think a related issue is being thrown up by 6da7a219d48f039d1b3c7076d0adee193f6c12f7 (included in `io.netty:netty-tcnative-boringssl-static:2.0.51.Final`) which changes the `Automatic-Module-Name` in the manifest of the former uberjar, and hardcodes it to `osx-x86_64`:

[code]

This is causing problems in my bazel build where javac is failing to handle this transitive dep on the classpath:

[cod

[2022-04-04 15:31] ejona86 commented on #716
@Zetten, yes, we saw that issue as well, but there was already some discussion about that. @temawi, might have a link. When we semi-worked around this issue Java 11 execution failed but Java 8 was okay. But it seems they are two separate issues.

[2022-04-11 17:42] chrisvest opened #719 "Accidental linkage to OpenSSL 3 on MacOS"
I've noticed that using the dynamically linked OpenSSL variant of tcnative on Intel MacOS, is trying to find `openssl@3`, while (as far as I understand) it's supposed to work with 1.1.1n.

Without `openssl@3` installed, I get the following error:

[code]

[2022-04-19 09:21] normanmaurer commented on #719
doh! Let me fix this

[2022-04-19 10:45] normanmaurer commented on #719
Fixes by https://github.com/netty/netty-tcnative/pull/720

[2022-04-19 15:12] liuchong commented on #716
Same issue here in clojure app build with leiningen:

[code]

[2022-04-19 15:14] ejona86 commented on #716
@liuchong, did you add that comment to the wrong github issue? That error seems to have no relation with this issue.

[2022-04-19 15:19] liuchong commented on #716
Not sure, but my fail was also start from 2.0.48, I thinks should be related issue although the error message seems not.

[2022-04-19 15:47] #719 closed

[2022-04-21 20:29] sqshq opened #722 "Same version of netty-tcnative tries to link against different openssl versions on x86 and ARM"
We are using the following `netty-tcnative` jars based on the target platform:
[code]

Everything works fine on x86, but on ARM tcnative fails with the following error:
[code]

This can be solved either by installing `openssl11-libs` or `openssl11 `, but due to our security requirements, we should link against openssl v1.0.x. My question is why tcnative behaves differently on these platforms and h

[2022-04-24 11:35] zhangjiyh commented on #648
I got the same problem.

[2022-04-27 06:10] Flyyellow commented on #648
I have fixed this problem, i used these dependencies in my project, like:
`
<dependency>
            <groupId>io.netty</groupId>
            <artifactId>netty-tcnative-boringssl-static</artifactId>
            <version>2.0.47.Final</version>
        </dependency>

        <dependency>
            <groupId>io.grpc</groupId>
            <artifactId>grpc-netty-shaded</artifactId>
            <version

[2022-04-27 06:11] Flyyellow commented on #648
I have fixed this problem, i used these dependencies in my project, like:
`
        <dependency>
            <groupId>io.netty</groupId>
            <artifactId>netty-tcnative-boringssl-static</artifactId>
            <version>2.0.47.Final</version>
        </dependency>

        <dependency>
            <groupId>io.grpc</groupId>
            <artifactId>grpc-netty-shaded</artifactId>

[2022-04-27 06:13] Flyyellow commented on #648
I have fixed this problem, i used these dependencies in my project, like:
<img width="648" alt="image" src="https://user-images.githubusercontent.com/44288531/165453015-8216255d-a56b-4cd4-aacc-00a8ac600026.png">

[2022-04-28 09:48] cherryWangqaz opened #723 "Running on aarch_64, missing requirement [io.netty.tcnative-boringssl-static] osgi.native"
I try to run onos on aarch_64, but an error in the pic happened.
I  changed io.netty.tcnative-boringssl-static version to support aarch_64, like to 2.0.36 ,but not working....
Is anyone can help me ,pleaseeeeeee!
![1651139206(1)](https://user-images.githubusercontent.com/104562296/165725948-11e19ade-1562-421f-b272-1ff8f66dced5.jpg)

[2022-04-28 10:21] cherryWangqaz commented on #723
![1651140865(1)](https://user-images.githubusercontent.com/104562296/165732019-d1206af8-1980-4683-9031-aaebe76d90b5.jpg)

[2022-04-28 10:23] cherryWangqaz commented on #723
According to issue#712  I tried change netty-tcnative-boringssl-static to 2.0.51.Final  but did not fix .....TAT.....

[2022-05-02 20:06] vab2048 opened #724 "Invalid Automatic-Module-Name."
The `MANIFEST.MF` file within the `netty-tcnative-boringssl-static-2.0.51.Final.jar` file contains the following line:

`Automatic-Module-Name: io.netty.tcnative.openssl.osx-x86_64`

The '-' is not allowed in module names and so this module name is invalid. See https://sormuras.github.io/blog/2018-11-16-invalid-automatic-module-names.html.

I checked it with the output of the `jar` command:

[code

[2022-05-03 10:01] normanmaurer commented on #724
Working on it.

[2022-05-03 10:27] normanmaurer commented on #724
@vab2048 check https://github.com/netty/netty-tcnative/pull/725

[2022-05-03 10:40] vab2048 commented on #724
Wonderful. Thanks @normanmaurer

[2022-05-03 13:34] #724 closed

[2022-05-06 01:52] trustin commented on #419
Should be fixed in 2.0.52.Final.

[2022-05-06 01:52] #419 closed

[2022-05-06 02:03] trustin opened #727 "Circular dependency in `boringssl-static/pom.xml`"
`boringssl-static/pom.xml` defines the dependencies that depends on itself: https://github.com/netty/netty-tcnative/blob/netty-tcnative-parent-2.0.52.Final/boringssl-static/pom.xml#L731-L762

I guess the original intention of this dependency is to pull all native libraries for all platforms by just depending on `netty-tcnative-boringssl`, but it prevents a user from pulling a native library for on

[2022-05-06 07:59] cherryWangqaz commented on #712
do you fix the issue by upgrading to the latest version ? it seems that we have the same problem.  do you run the software on the aarch_64?@hchy234

[2022-05-07 10:35] 532810439 opened #728 "how to build?"
so   how to build  libnetty_tcnative_linux_x86_64.so？？

[2022-05-10 03:37] 532810439 commented on #728
@chrisvest @bobmcwhirter @agl @daschl

[2022-05-10 05:41] daschl commented on #728
@532810439 https://netty.io/wiki/forked-tomcat-native.html#wiki-h2-9

[2022-05-10 22:14] #728 closed

[2022-05-12 17:43] chamil321 opened #729 "java.lang.UnsatisfiedLinkError after updating to Netty 4.1.77.Final and tcnative 2.0.52.Final"
Using following dependencies in the project which runs on java 11
[code]
Error
[code]

[2022-05-13 07:43] chamil321 commented on #729
Due to https://github.com/netty/netty-tcnative/pull/696, need to add required native libs separately

[2022-05-13 07:43] #729 closed

[2022-05-21 15:24] arloor commented on #703
I ran into this problem on RHEL9 too.

[code]

[2022-05-30 08:24] tanvp112 commented on #716
Tested 2.0.48 ~ to the latest with neo4j, all failed and it looks like dependencies error:
[code]

Anyone with any idea is welcome... thanks!

[2022-06-14 03:10] temawi commented on #716
FYI - this issue is now mentioned on the [netty-tcnative site](https://netty.io/wiki/forked-tomcat-native.html). There is a "Gradle and Bazel" section that states:

I have a working solution for grpc-java in https://github.com/grpc/grpc-java/pull/9027, but I still need to wait for a new Bazel build with the mentioned fix.

[2022-06-23 02:03] xiezhaokun commented on #462
I found that openjdk8u262 and below will throw this exception.

[2022-06-25 16:08] arifstack opened #732 "Unable to load certificate key (error:0f00007b:elliptic curve routines:OPENSSL_internal:UNKNOWN_GROUP)"
i found this issue :Failed to initialize the SSLContext, e: {}

java.lang.Exception: Unable to load certificate key (error:0f00007b:elliptic curve routines:OPENSSL_internal:UNKNOWN_GROUP)
	at io.netty.internal.tcnative.SSL.parsePrivateKey(Native Method) ~[netty-tcnative-classes-2.0.47.Final.jar:2.0.47.Final]
	at io.netty.handler.ssl.OpenSslKeyMaterialProvider.validateSupported(OpenSslKeyMaterialPr

[2022-06-27 07:02] gspadotto commented on #723
Try changing the manifest file as described in the last sentence [here](https://github.com/netty/netty/issues/12494#issuecomment-1162892766).

[2022-06-27 07:02] gspadotto commented on #712
Try changing the manifest file as described in the last sentence [here](https://github.com/netty/netty/issues/12494#issuecomment-1162892766).

[2022-06-30 17:56] hyperxpro commented on #732
Which curve of ECC key you are trying to use?

[2022-07-08 09:47] liangliangoo commented on #331
我也想知道

[2022-07-18 19:51] jcallin opened #736 "Release for 2.0.54"
Looks like this is about a monthly thing so I figured I'd open an issue especially since 2.0.54 contains a fix for aarch64 systems https://github.com/netty/netty-tcnative/pull/733

It loos like netty has already released this same fix for https://github.com/netty/netty/pull/12498 in release `4.1.79.Final`

@normanmaurer could you manually run the release process if possible? I saw you are the one

[2022-07-20 16:52] #736 closed

[2022-07-27 13:37] gm100861 commented on #331
same error to me,how to resovle it

[2022-07-27 13:46] gm100861 opened #738 "Suppressed: java.lang.UnsatisfiedLinkError: could not load a native library: netty_tcnative_windows_x86_64"
i want to youse openssl instead  jdk ssl, because jdk ssl to slow. but when i add netty-tcnative-boringssl-static to my gradle , start the project and got error.
[code]
and my SslContext is
[code]

my netty and openssl version
[code]

i google it, and got issue-331, but can't find how do resolve it.

https://github.com/netty/netty-tcnative/issues/331

[2022-07-28 01:34] KAITYOZHE commented on #716
why netty-tcnative-boringssl-static-1.0.48   to   netty-tcnative-boringssl-static-1.0.49 is  problem ?
minor version Shouldn't A problem occurs.

java.lang.IllegalStateException: Could not find TLS ALPN provider; no working netty-tcnative, Conscrypt, or Jetty NPN/ALPN available
	at io.grpc.netty.GrpcSslContexts.defaultSslProvider(GrpcSslContexts.java:246) ~[grpc-netty-1.39.0.jar:1.39.0]
	at io.grp

[2022-07-28 11:46] #738 closed

[2022-07-28 11:46] gm100861 commented on #738
netty/netty issue

[2022-07-31 04:14] phial3 opened #739 "macOS12.4 M1 io.grpc:1.48.0 error : could not load a native library: netty_tcnative_osx_aarch_64"
[code]
<img width="597" alt="image" src="https://user-images.githubusercontent.com/27754514/182009741-973df778-c163-4350-92eb-41050e449c9d.png">

[2022-07-31 12:24] phial3 commented on #739
Can help me?

[2022-07-31 15:20] phial3 commented on #331
[code]

how to resolve ?

[2022-07-31 15:34] phial3 opened #740 "macOS 12.4 M1 , error : java.lang.UnsatisfiedLinkError: no netty_tcnative_aarch_64 in java.library.path"
[code]

[2022-08-12 17:31] yeikel commented on #739
We are seeing a similar error

io.netty:netty-tcnative-boringssl-static:jar:osx-aarch_64:2.0.39.Final

Could you please create a build targeting this platform?

[2022-08-24 17:48] varming commented on #727
Looks like the Bazel issue was fixed in https://github.com/bazelbuild/rules_jvm_external/commit/d2c7811d0a118237e4412ce945ca726d60c80a3e

[2022-08-30 08:19] hyperxpro opened #742 "[Upgrade] Use OpenSSL v3"
OpenSSL v3 is available and now achieved FIPS 140-2 Validation. This is useful for use cases that need FIPS 140-2 out of the box.

[2022-08-30 17:22] mdj1342 commented on #659
Do we have a resolution for this issue.
I too want to use OpenSsl version >=1.0.2 to support ALPN, however the netty-tcnative library loads the default OpenSSL 1.0.1e-fips version. I wonder how i can instruct netty-tcnative to use the native OpenSsl version?

[2022-09-01 09:19] cherryWangqaz commented on #723
I found packet compiled on aarch64 by others, and it did work~ anyway ,thank u.

[2022-09-01 09:20] #723 closed

[2022-09-01 09:24] cherryWangqaz opened #743 "Running on mips, missing requirement [io.netty.tcnative-boringssl-static] osgi.native"
Do we support mips architecture？ Or, i have to compile it on mips_arch ,and how can i compile this on a mips architecture? please help me~ waiting  & blessing....

[2022-09-02 16:49] grun077 opened #744 "OpenSsl, tcnative with pkcs#11 hsm"
I want to use Netty together with OpenSsl and a hardware security module (hsm). As a proof of concept I succesfully started a OpenSsl server connected to a hsm by using the following command and configuration.

`env OPENSSL_CONF=openssl.cnf openssl s_server -curves brainpoolP256r1 -engine pkcs11 -keyform engine -cert TLS-Cert.pem -key 'pkcs11:object=f4ec939ae6ddbd924b3c24893630e1291be92984'`

Cont

[2022-09-08 18:35] mcettrick opened #745 "published netty-tcnative-boringssl-static jars are missing static libraries"
I was working on updating my application to use the latest recommended netty-tcnative-boringssl-static as indicated here:

https://github.com/grpc/grpc-java/blob/master/SECURITY.md

But getting exceptions like this:

[code]

After investigating further, I noticed that the 2.0.54 jar is missing the static libraries:
https://mvnrepository.com/artifact/io.netty/netty-tcnative-boringssl-static/2.0.54.

[2022-09-09 23:18] mdj1342 opened #746 "netty-tcnative uses old OpenSSL version even though newer versions are available during runtime"
We are building a Netty based service which will be using HTTP/2 protocol. For the server to support HTTP/2 the selected SslProvider (in our case OpenSsl) should support ALPN protocol.
Currently our hosts and the docker container are running OpenSSL v1.0.2k-fips, however netty-tcnative still loads an older OpenSsl version (OpenSSL 1.0.1e-fips) during runtime, that does not support the ALPN protoco

[2022-09-22 18:10] yuzawa-san commented on #745
It appears that in 2.0.49 (comparing file sizes betwen https://repo.maven.apache.org/maven2/io/netty/netty-tcnative-boringssl-static/2.0.49.Final/ vs https://repo.maven.apache.org/maven2/io/netty/netty-tcnative-boringssl-static/2.0.48.Final/ the shared libraries were moved out of the main artifact, so we'll need to use the classifier artifacts as a stopgap.

This does seem to be at odds with what

[2022-09-22 19:00] mcettrick commented on #745
Thanks @yuzawa-san, we discovered the os-specific artifacts and have switched to those. I think this issue will confuse gRPC developers.

[2022-10-31 19:49] lukecwik commented on #745
This also impacts Apache Beam where the lack of an uber jar complicates the experience for users since they need to package a version that is compatible with their local environment (e.g. windows, mac, ...) and a remote environment (e.g. a Linux VM running on a cloud).

[2022-11-14 21:41] RafaelRamseier opened #752 "Rafael Ramseier"
Tippen Sie auf ein Element, um es in das Textfeld einzufügen.Wählen Sie das Stiftsymbol aus, um Elemente anzupinnen, hinzuzufügen oder zu löschen.
![Uploading IMG_20221009_000125_9.jpg…]()

[2022-11-17 14:37] hyperxpro commented on #752
????????????????????????????????????????????????????????????????????????

[2022-11-17 14:56] #752 closed

[2022-11-23 13:11] xianggao001 commented on #740
you need to upgrade your netty-tcnative-boringssl-static version.

[2022-11-23 13:23] xianggao001 opened #755 "where can I find the compatibility b/w netty-tcnative and other netty components (netty-transport, netty-handlers, etc..)"
Hi, I met an issue:
[code]

and by searching I know some netty-all version is required (https://github.com/jchambers/pushy/issues/733). However, I can not find an official doc stating the compatibility b/w netty-tcnative and other netty components. Is there such a guidance?  Thanks!