[2014-11-06 08:39] trustin opened #5 "Fix build issues on Windows"
It seems like one or more of 02fd41079565547e08e86d731582d53270a4dec5, c8a6e7cd45b15aebd50c28285926bb157563101f, and ef7cd7e91914f20f28e0f8611b6570e6855d59c3 broke the windows build.

@normanmaurer and @fondemen, could you please take a look and fix it?

[2014-11-07 00:28] #5 closed, assigned to trustin

[2014-12-25 08:17] timboudreau opened #21 "Build depends on non-existent src.zip"
My [build of netty-tcnative fails](http://timboudreau.com/builds/job/netty-tcnative/9/console) because it tries to download
https://oss.sonatype.org/content/repositories/snapshots/io/netty/netty-tcnative/1.1.32.Fork1-SNAPSHOT/netty-tcnative-1.1.32.Fork1-SNAPSHOT-native-src.zip

which is a 404 (I guess you have it cached or it is in some other repo?).

(I do not know if it would succeed on Solaris,

[2014-12-30 14:16] trustin opened #22 "Add the binding for SSL_CIPHER_get_version() and other related OpenSSL API"
https://github.com/netty/netty/commit/2056aed50de35e883a179d7b216c738eecad3251#diff-6ba8edb6d8a5a127eba9cf97911c6f14R664

Currently, there's no way to get the detailed information about a cipher suite.

[2015-02-05 08:21] judovana opened #23 "strange names of loaded native libraries"
hi! I'm wondering why netty-tcnative is laoding normal tomcat libraries, and not the library it is building.

The patch to fix it is:
[code]

Or remove native sources and build from the fork.

Thank you!

[2015-02-13 02:40] cconroy opened #24 "Detect correct JNI library at runtime instead of build time"
Rather than try to detect the OS at build time to determine which JNI library to place in META-INF/native, it would be better to package all of them and then let the NativeResourceLoader detect the OS/arch at runtime in order to load the appropriate library.

Detecting at build time is problematic because the build machine may not share the same OS/arch as the production environment. Also, this al

[2015-02-24 05:12] normanmaurer commented on #24
@cconroy so just to be sure I understand it right... you propose to build all of them, package them together in the jar (and so just produce one jar). Right ?

[2015-02-24 18:15] cconroy commented on #24
@normanmaurer exactly. If that sounds good to you, I can try to spin a patch.

[2015-02-24 18:17] normanmaurer commented on #24
@cconroy I think this sounds great! I'm just not sure how we could package this stuff correctly while mvn release:perform. As we would need to compile on different platforms before we could build the jar. Any idea?

[2015-02-24 18:30] normanmaurer commented on #23
@judovana did you try this patch and check if it still works ?

[2015-02-24 18:58] judovana commented on #23
Hello. Yes.

Longer story -  it was *not* working without  the patch (unless you installed original tomcat tcnative provider)
At the end littlebit different patch is in use - http://pkgs.fedoraproject.org/cgit/netty-tcnative.git/tree/fixLibNames.patch.in - but the names are kept.

[2015-02-24 19:01] normanmaurer commented on #23
@judovana interesting... Could you do a PR so we can fix it upstream here ?

[2015-02-24 19:03] judovana commented on #23
Ok. I will do my best tomorrow CET.

[2015-02-24 19:05] normanmaurer commented on #23
@judovana awesome... please also ensure you sign our ICLA:
http://netty.io/s/icla

[2015-02-24 19:48] cconroy commented on #24
I figure trying to wrangle cross compilation is not worth the effort / wouldn't work for all platforms.

We could make a separate artifact for each native library. The build machines for those artifacts would need to match their target.

Then, netty-tcnative would depend on all of those native artifacts to package them all up.

[2015-02-24 19:50] normanmaurer commented on #24
@cconroy so you mean we would have some kind of an "uber-jar" that depends on all of the different jars (for different platforms etc) and so pull everything in ?

[2015-02-24 21:54] cconroy commented on #24
@normanmaurer yep!

my plan is: the io.netty:netty-tcnative artifact will depend on the arch-specific artifacts. We can drop all native libs into META-INF/native and then update the native resource loader to examine the platform at runtime and pull in the right library.

[2015-02-25 06:39] trustin commented on #24
Even if you have built your application on a different platform than your production platform, your application built on a non-production platform should run without a problem on a production platform.

You can just use the netty-tcnative JAR file with the proper classifier as the production dependency, and your problem is gone.

If I understood how your application is deployed, I could have under

[2015-02-25 11:34] judovana commented on #23
Signed and created:
https://github.com/netty/netty-tcnative/pull/25

[2015-02-25 22:40] cconroy commented on #24
@trustin the use case here is that I'd like to share the same artifact across multiple platforms. we have a mix of architectures that might build an artifact and it then might run on yet a different mix of platforms. For example, a developer might want to build an artifact locally to debug (e.g. on OSX), but then also deploy the same artifact to a staging machine in a datacenter (linux).

without

[2015-02-26 15:08] trustin commented on #24
Thanks, @cconroy. Now I see your point. It seems like you want to build the final image for heterogeneous production environments, and you want Netty to decide which .so/.dll/.dynlib to use in runtime instead of letting your launch script choose the right dependency. (i.e. runtime vs launchtime)

Here's my idea:

- Move the location of the native library file from `META-INF/native` to `META-INF/na

[2015-02-26 17:35] cconroy commented on #24
@trustin yeah that should satisfy my use case.

I don't think we want multiple netty-tcnative JARs as-is though: that will end up with all the class files being duplicated.

[2015-02-27 14:57] normanmaurer commented on #23
Fixed by #25 (3c08aed351dfa3316978dfd44b62b850ced12d14) ... Thanks again @judovana

[2015-02-27 14:57] #23 closed

[2015-03-07 21:14] timboudreau commented on #21
Right about automake not being installed, so that gets us a [little further](http://timboudreau.com/builds/job/netty-tcnative/14/console)

[code]

OpenSSL 1.0.1j **is** installed:

[code]

so I'm mystified as to why it thinks it's seeing something else.  No idea if it's confused about something on the system, or if it's something genuinely broken in the build.

At least it's getting a little furth

[2015-03-07 21:21] timboudreau commented on #21
Also checking on [smartos-discuss](http://www.listbox.com/member/archive/184463/2015/03/sort/time_rev/page/1/entry/0:47/20150307162040:CBC93822-C50F-11E4-B800-D08C795DB985/) to see if anyone knows of a common problem building against OpenSSL on [SmartOS](http://smartos.org).

[2015-03-07 22:02] timboudreau commented on #21
Okay, got it down to:
[code]

Looks like something is being included twice?

[2015-03-08 06:27] normanmaurer commented on #21
Interesting... Will check

[2015-03-09 15:21] normanmaurer commented on #21
@timboudreau ok this is a bug.. I will fix it. But this will only be triggered if "HAVE_OPENSSL" is not set. Which means it was not able to find and link against openssl. Could you please paste the full mvn clean package output ?

[2015-03-10 06:47] timboudreau commented on #21
Log file [here](http://timboudreau.com/files/tcnative.log), tarball of target directory [here](http://timboudreau.com/files/tcnative-target.tar.bz2)

Also wondering if it is misdetect 32 vs 64 bit - it's a 64 bit VM;  SmartOS and Solaris are multilib systems - noticed - `os.detected.classifier: sunos-x86_32` - but that could be a red herring.

[2015-03-12 02:44] trustin opened #29 "Build issue on 32-bit Linux"
From @junjiemars:

1) git clone [netty-tcnative.git](git@github.com:netty/netty-tcnative.git)
2) run ```mvn -X compile```, it will be failed on 32-bit Linux
3) found the Makefile under the ./target/native-build, insert ```-DLARGEFILE64_SOURCE``` into ```CFLAGS``` section nearly 262 line
4) comment 2 ```<forceAutogen .../>``` and ```<forceConfigure .../>``` sections in pom.xml
5) run ```mvn -X inst

[2015-03-12 02:45] normanmaurer commented on #29
@trustin will check.. Thanks

[2015-03-12 03:00] trustin commented on #24
@cconroy Sorry for coming back late.  Yeah, there will be duplicate class files, but I think it doesn't matter really and will be even useful in some situations.  Would you be interested in sending a pull request for this?

[2015-03-12 17:13] cconroy commented on #24
@trustin I'm curious how would duplicate class files be useful? The classloader will only load the first one in the classpath.

I tried to split up the jars yesterday but hit some trouble with how the native source is currently being attached. I'll see if I can make it work, but ultimately I may just end up having duplicate classes for expediency...

[2015-03-13 02:24] trustin commented on #24
@cconroy A user can choose to depend only on a JAR that's specific to a certain platform. i.e. more choices to users.

[2015-03-14 20:19] Scottmitch opened #31 "NPN/ALPN protocol selection preference reversed"
The selection preference for the ALPN/NPN protocol negotiation process done by [selectProtocols](https://github.com/netty/netty-tcnative/blob/1.1.32/src/main/c/sslutils.c#L766) should be select the first local "supported" protocols that the peer advertises per [alpn spec](http://tools.ietf.org/html/rfc7301#section-3.2) and [npn tech spec - Protocol Negotiation Section](https://technotes.googlecode

[2015-03-14 20:19] Scottmitch commented on #31
@normanmaurer - Oops...sry :)

[2015-03-14 22:50] Scottmitch commented on #31
See PR https://github.com/netty/netty-tcnative/pull/32

[2015-03-15 21:29] normanmaurer commented on #31
Fixed by #32 (f5937b6b7f3473643c18653181447a0fc43e8d4e)

[2015-03-15 21:29] #31 closed

[2015-04-06 15:04] jpinner opened #34 "tomcat-native 1.1.33"
http://tomcat.apache.org/native-doc/news/2015.html#20150323.1

[2015-04-06 19:54] normanmaurer commented on #34
@jpinner will check. Thanks!

[2015-04-09 13:17] normanmaurer commented on #34
1.1.33 branch created.

[2015-04-09 13:17] #34 closed

[2015-04-09 17:38] jpinner commented on #34
Has 1.1.33.Fork1 been published? mvn can't seem to find it

[2015-04-09 17:54] normanmaurer commented on #34
@jpinner yes:

http://repo1.maven.org/maven2/io/netty/netty-tcnative/1.1.33.Fork1/

[2015-04-10 07:00] normanmaurer commented on #29
working on it...

[2015-04-10 14:39] junjiemars commented on #29
it's great

[2015-04-10 19:39] normanmaurer commented on #29
Fixed by 0f8bd6d, ee61f3f and de2d208

[2015-04-10 19:39] #29 closed

[2015-04-27 15:34] doom369 opened #36 "NoClassDefFoundError when building tcnative on Ubuntu"
Hi,

I was following instructions from wiki

[code]
And getting :
[code]

[2015-04-27 16:19] normanmaurer commented on #36
@doom369 you need to use maven 3.2.1 or higher.

[2015-04-27 16:19] #36 closed

[2015-04-27 16:26] normanmaurer commented on #36
@doom369 sorry correct.. 3.1.1 or higher.

[2015-04-27 16:32] doom369 commented on #36
Ok, thanks, it works with latest. Maybe this should be added to wiki.

[2015-04-27 16:33] normanmaurer commented on #36
@doom369 yep.. Also will add some enforcer rules so it is easier to understand what is wrong.

[2015-04-29 06:48] normanmaurer commented on #36
Added some enforcer rule to catch this...

[2015-04-29 07:20] doom369 commented on #36
Cool, thanks!

[2015-05-06 19:28] normanmaurer opened #40 "Review usage of malloc"
We should review the usage of malloc and if we check if allocation failed.

[2015-05-06 19:29] Scottmitch commented on #40
`OPENSSL_malloc` while we are at it.

[2015-05-06 19:29] normanmaurer commented on #40
@Scottmitch +1 :)

[2015-06-17 22:38] ejona86 opened #44 "Support Debian"
For gRPC, [we're interested](https://github.com/grpc/grpc-java/issues/547) in encouraging users to use tcnative instead of jetty-apln. This would work pretty well, except that lots of our users would be Debian/Ubuntu users. Having a pre-built binary for Debian is a prerequisite for us encouraging our users to use tcnative.

We would have little problem making our own builds of tcnative, but it see

[2015-06-18 17:25] ejona86 opened #45 "Linux .so isn't stripped"
netty-tcnative-1.1.33.Fork2-linux-x86_64.jar is 422.7K, whereas osx-x86_64 and windows-x86_64 are ~125K.

libnetty-tcnative.so is actually 996K in size. Stripping it reduced it to 163K and the JAR itself to 129K.

[2015-06-18 17:28] normanmaurer commented on #45
@ejona86 you are talking about gcc -s ?

[2015-06-18 18:14] ejona86 commented on #45
I was referring to the strip command. But yes, I think gcc -s does the same thing.

Hmm... `strip -g` reduced the .so to 214K. Was it accidentally compiled with `gcc -g`?

[2015-06-18 18:18] normanmaurer commented on #45
@ejona86 I will check what our autoconf stuff does here.

[2015-06-18 18:29] ejona86 commented on #45
I was thinking it was more likely that you had some environment variables set on the build machine. If you had a CXXFLAGS=-g or similar then it would cause that.

[2015-06-18 18:30] normanmaurer commented on #45
@ejona86 I will check on a fresh linux install how it looks like

[2015-06-19 11:25] normanmaurer commented on #45
@ejona86 I checked and "CFLAGS" includes "-g" in the Makefile which was generated by autoconf. Checking now how to fix this. Stay tuned.

[2015-06-19 13:56] normanmaurer commented on #45
@ejona86 ok I think I know how I can fix this... will need to spend some time on it. That said I'm currently a bit tight on time so I guess not before next week.

[2015-06-19 15:32] ejona86 commented on #45
@normanmaurer, no rush. It isn't hurting much right now. We will want it eventually, since it is a noticeable decrease in dependency weight, but it doesn't block anything.

[2015-06-25 03:58] serioussam opened #46 "OpenSSL versioning issues"
Hi,

I was  trying to use netty-tcnative for openssl functionality.
On my dev machine ubuntu 14.04 x86_64. I have libssl1.0.0-1.0.1f installed and softlinked to /lib/x86_64-linux-gnu/libssl.so.1.0.0 to /lib/x86_64-linux-gnu/libssl.so.10

I faced around symbol issues with openssl. here is `ldd `output from so file.
[code]

When I built netty-tcnative locally then I was able to use it.
here is anoth

[2015-06-25 05:01] trustin commented on #46
Did you try this already? http://netty.io/wiki/forked-tomcat-native.html#wiki-h4-4

[2015-06-25 05:26] serioussam commented on #46
I haven't tried building openssl myself yet. I will give it a try and post it. But just curious is the build coming in from mavencentral was done on RHEL/Centos?

[2015-06-25 06:22] normanmaurer commented on #46
@serioussam yes we are building with centos 6

[2015-06-25 06:56] serioussam commented on #46
@trustin seems like building openssl manually worked for me.
@normanmaurer centos 6 seems good for me to proceed now. as developers at my workplace use ubuntu but CI and prod is on centos 6. So not a major disruption. seems like #44 should take care of debian/ubuntu issues combined with #24.

[2015-07-01 19:11] nmittler commented on #44
@normanmaurer @trustin @Scottmitch any thoughts on this?

[2015-07-01 20:19] Scottmitch commented on #44
@nmittler - I would like to see Debian supported. I wonder if we could make an "intermediate" dependency which pulls in the correct one depending on linux disto?

1. Users include tc-native.
2. The tc-natvie pom file detects which architecture (maybe runs shell cods if necessary) to figure out tc-native-<architecture>
3. We build/publish artifacts for tc-native-<architecture>.

Does this sound fea

[2015-07-01 20:29] normanmaurer commented on #44
@nmittler I would love to see Debian support as well but I was just too busy to think about it.. gimme some more time.

[2015-07-01 20:40] nmittler commented on #44
@Scottmitch yeah that might work.  So maybe have an intermediate dependency called `tc-native-linux` that switches on the distro.

It would also be nice to have the [os-maven-plugin](https://github.com/trustin/os-maven-plugin) updated to provide more information.

[2015-07-01 20:52] Scottmitch commented on #44
@nmittler - Maybe but what I was originally thinking was having 3 layers:

1. `tc-native` (users directly include this in their POMs)
2. `tc-native-arch-detector` (`tc-native` from layer 1 includes this. this does the work of picking the correct dependency from the layer 3 below).
3. Each platform would publish a jar at this level (`tc-native-linux-rhel`, `tc-native-linux-debian`, `tc-native-windo

[2015-07-01 22:58] nmittler commented on #44
@Scottmitch So what we have now is layers 1 & 3. I think we can avoid layer 2 if we modify the `os-maven-plugin` to add an additional field (e.g. `os.detected.family`), which would only be used on linux and would contain the value of `ID_LIKE` from [/etc/os-release](http://www.freedesktop.org/software/systemd/man/os-release.html). Then we could have the plugin optionally include `${os.detected.fam

[2015-07-01 23:33] nmittler commented on #44
@normanmaurer any thoughts?

[2015-07-02 00:23] trustin commented on #44
We could add `os.detected.family` and let it be `generic` or something similar for undetected families and the OSes without diversity.  Then we could use `${os.detected.classifier}_${os.detected.family}`?  Alternatively, we can just break the backward compatibility and let `os.detected.classifier` includes `os.detected.family`.  It's just a classpath changes, so I guess it shouldn't be a big deal.

[2015-07-06 15:07] nmittler commented on #44
@trustin regarding #33 and netty/netty#3502, wouldn't we still need a separate build for debian/rhel due to the difference of soname for libssl.so and libcrypto.so?

[2015-07-06 15:09] normanmaurer commented on #44
@nmittler yes we would. That said I would like to also release a version build against libressl ans maybe also boringssl. So let me pick this up next week and get all of it done.

[2015-07-06 15:28] nmittler commented on #44
@normanmaurer that would be awesome! Let me know if there's anything I can help out with.

[2015-07-06 19:50] normanmaurer commented on #45
@ejona86 see https://github.com/netty/netty-tcnative/pull/49

[2015-07-08 17:21] zhangkun83 commented on #44
@trustin Protobuf team and gRPC team are using os.detected.classifier in the pre-compiled protoc and codegen artifacts published on Maven Central. This would break us as we are not going to publish artifacts per family.

[2015-07-08 18:05] nmittler commented on #44
If we make the inclusion of `${os.detected.family}` in the classifier opt-in (see https://github.com/netty/netty-tcnative/issues/44#issuecomment-117845617) then that wouldn't break us.

@normanmaurer thoughts?

[2015-07-08 19:15] zhangkun83 commented on #44
I would not change what ``os.detected.classifier`` returns. It would break everything around protoc and grpc codegen artifacts, including the publishing process, and Gradle and Maven plugins that consume them.

IMO the biggest value of os-maven-plugin is producing unified identifiers for OS, arch, etc. Providing a unified classifier is not universally useful because different projects may want to

[2015-07-09 07:18] normanmaurer commented on #45
Fixed by https://github.com/netty/netty-tcnative/pull/49

[2015-07-09 07:18] #45 closed

[2015-07-09 17:51] trustin commented on #44
On Thu, Jul 9, 2015, at 04:15 AM, Kun Zhang wrote:

Agreed. +1 for not changing os.detected.classifier. Not sure about
deprecating it since it should still be useful for statically linked
libraries. The problem we are seeing here is basically we don't want to
link statically with glibc(xx) and openssl.

Let me try to release os-maven-plugin with my spare cycle.

[2015-07-13 15:47] nmittler commented on #44
@trustin +1, I see no need in deprecating `os.detected.classifier`.  It's there as a utility if folks want to use it.

@normanmaurer is this still on your radar?

[2015-07-14 13:47] #46 closed

[2015-07-14 13:48] normanmaurer commented on #44
@nmittler yeah kind of... just too busy and not really very high on my to do list atm :(

[2015-07-14 16:31] nmittler commented on #44
@normanmaurer anything I could do to help out? Maybe I could take a crack at the changes to the os-maven-plugin to get the ball rolling?

[2015-07-15 17:29] Scottmitch opened #51 "tcn_ssl_ctxt_t->cb_data null checks and tcn_password_callback"
It is common practice whenever `tcn_ssl_ctxt_t->cb_data` is used to check for `NULL`, and if `NULL` to then use a temporary variable which is set to `tcn_password_callback`.  It seems like `tcn_ssl_ctxt_t->cb_data` should be set in `sslcontext.c`'s `make` method by the `SSL_CTX_set_default_passwd_cb_userdata` method.  Are these `NULL` checks and temporary variables necessary?

[2015-07-15 17:32] Scottmitch opened #52 "sslcontext.c load_pem_key method looping"
The load_pem_key method in sslcontext.c has a loop to call `PEM_read_bio_PrivateKey` 3 times (or until success).  Why is this loop necessary, and why 3 iterations?  We should at least clarify this situation with comments.

[2015-07-15 17:35] Scottmitch commented on #52
@normanmaurer - FYI. Lets update this to link to mention new code in the future.

[2015-07-23 14:44] nmittler commented on #44
FYI, I just created https://github.com/trustin/os-maven-plugin/pull/10 to add detection of OS variants to the `os-maven-plugin`. It should be fairly easy to retrofit `netty-tcnative` to use a custom deployment for debian.

[2015-07-27 13:50] bobwenx opened #54 "1.1.33.Fork4+: Unable to load openssl on OS X (Homebrew installed openssl)"
[code]

When using `1.1.33.Fork3` with netty `4.1.0.Beta6-SNAPSHOT` on OS X. there is no exception thrown.

openssl version: `1.0.2d_1` (installed by homebrew)
openssl path: `/usr/local/opt/openssl/lib`

[2015-07-27 14:40] normanmaurer commented on #54
Which openssl version?

[2015-07-27 14:53] bobwenx commented on #54
OS X Default:
[code]

Homebrew installed OpenSSL:
[code]

[2015-07-27 14:54] bobwenx commented on #54
if i switch to `1.1.33.Fork3`, there is no problems to load `/usr/local/opt/openssl/lib/libssl`

[2015-08-06 10:21] doom369 commented on #54
Same here, but on Ubuntu.
I was using netty 4.0.28 with OpenSSL  and netty-tcnative-1.1.32.Fork1. I builded netty-tcnative from sources and all was working fine. Now I switched to 4.0.30 and netty-tcnative-1.1.33.Fork4, repeated all steps and getting :

[code]

[2015-08-13 06:23] normanmaurer commented on #54
@doom369 that is strange... did you follow this?:

http://netty.io/wiki/forked-tomcat-native.html#wiki-h4-4

[2015-08-13 06:39] doom369 commented on #54
@normanmaurer I didn't build and install OpenSSL if you mean that, I just builded tcnative from sources.

[2015-08-13 14:57] Scottmitch commented on #54
@doom369 - So you did follow the instructions linked by @normanmaurer, and still had an issue? If so can you describe at which point in the instructions you encountered the issue?

[2015-08-13 15:11] doom369 commented on #54
@Scottmitch here is steps I did on my VM with Ubuntu with netty 4.0.28 :

[code]
Everything was working fine.

Recently I saw new netty version release and switched to 4.0.30 and switched dependencies in my POM to 1.1.33.Fork4 for tcnative and repeated steps above with only 1 change :
[code]

After that I started getting above exceptions after running my jar. I could make you builds if that helps.

[2015-08-16 15:56] bobwenx commented on #54
After upgrade `netty-tcnative` to `1.1.33.fork5`. i am able to load `OpenSSL` again!

`23:50:57.260 [main] DEBUG io.netty.handler.ssl.OpenSslContext[71] - Default cipher suite (OpenSSL): [ECDHE-RSA-AES128-GCM-SHA256, ECDHE-RSA-AES128-SHA, ECDHE-RSA-AES256-SHA, AES128-GCM-SHA256, AES128-SHA, AES256-SHA, DES-CBC3-SHA]
`

[2015-08-16 18:02] normanmaurer commented on #54
@doom369 what about you ?

[2015-08-25 15:50] nmittler commented on #44
@normanmaurer gentle ping.  Now that the `os-maven-plugin` has been released, we should be able to release netty_tcnative for debian.

[2015-08-25 15:53] normanmaurer commented on #44
@nmittler will do tomorrow. Sorry for the slowness :-1:

[2015-08-25 15:54] nmittler commented on #44
@normanmaurer sgtm! No worries, I know you're busy! :)

[2015-08-25 20:05] nmittler commented on #44
@normanmaurer Just to clarify, you'll also release a "_debian" artifact built on wheezy?

[2015-08-25 20:05] normanmaurer commented on #44
@nmittler that's the plan

[2015-08-25 20:06] nmittler commented on #44
:+1:

[2015-08-27 21:55] nmittler commented on #44
@normanmaurer I think we can close this now?

[2015-08-27 22:46] Scottmitch commented on #44
http://repo1.maven.org/maven2/io/netty/netty-tcnative/1.1.33.Fork6/

[2015-08-28 14:08] nmittler commented on #44
It brings a tear to my eye!!!  Closing!!! :)

[2015-08-28 14:08] #44 closed

[2015-08-28 14:10] normanmaurer commented on #44
Boom!

[2015-08-28 14:19] nmittler commented on #44
LOL ... what he said!

[2015-08-29 03:16] trustin commented on #44
@nmittler High-five! :hand:

[2015-09-02 08:10] timboudreau commented on #21
SmartOS, being an OpenSolaris fork, comes with SunSSL installed, though you can install OpenSSL alongside it in `/opt/local`.

I am wondering if it is just finding the SunSSL header files, but I don't see a way to correct it (or be sure that's what's happening) through the hawtjni plugin.  Any ideas?

[code]

[2015-09-02 08:13] normanmaurer commented on #21
@timboudreau maybe you can just set LDFLAGS and CPPFLAGS.

For example on OSX this is how to make it work:

[code]

[2015-09-02 16:27] timboudreau commented on #21
Sigh.  Nope.
[code]

does `-I/opt/local/include/openssl/` get it included as an argument to gcc, but same failure as before :-(

[2015-09-04 21:18] nmittler opened #58 "OpenSSL version detection broken"
Calling `OpenSsl.version()` seems to result in the version that it was compiled against. I tried building openssl and setting `LD_LIBRARY_PATH`, but it kept returning the same version (1.1.33.Fork6 seems to be built against 1.0.1e). The logic for `OpenSsl.isAlpnSupported()` is based on version, so if it's broken, ALPN support is broken as well.

It seems that tc_native is using a macro to get the

[2015-09-04 21:24] normanmaurer commented on #58
@nmittler no ideas yet but will look into it.

[2015-09-08 14:36] nmittler commented on #58
@normanmaurer I wrote a simple c program and it looks like the change works after all.

[code]
When built against 1.0.2d but run against 1.0.1p, generates the following:

[code]

So I think we should probably fix this in netty-tcnative and then backport the change (if it still applies) to tcnative.  WDYT?

[2015-09-08 14:54] normanmaurer commented on #58
@nmittler looks good... Should I take care or you will submit a PR ?

[2015-09-08 15:15] nmittler commented on #58
I'll submit a PR shortly

[2015-09-08 16:37] #58 closed

[2015-09-08 17:49] nmittler commented on #58
@normanmaurer @Scottmitch @ejona86 I've verified locally that Netty's `OpenSsl.isAlpnSupported()` now correctly indicates ALPN support in the runtime version of OpenSSL!

[2015-09-08 21:54] Scottmitch commented on #58
Good work @nmittler and thanks for the patch!

[2015-09-28 19:01] nmittler opened #63 "BoringSSL does not support des_read_pw_string"
Currently, sslutils.c has the [following code](https://github.com/netty/netty-tcnative/blob/1.1.33/src/main/c/sslutils.c#L135):

[code]

This would have `des_read_pw_string` called in the BoringSSL case, which does not exist.  I suspect that this builds for some developers because the include may be getting pulled in from openssl.  Not entirely sure.

[2015-09-28 19:03] Scottmitch commented on #63
+1. The `#else` condition should "fail" some how. Return a "failure" status or throw an exception because it is not supported for boringssl.

[2015-09-28 19:29] #63 closed

[2015-09-28 19:32] nmittler opened #65 "Methods do not exist in BoringSSL"
PKCS12_verify_mac (sslcontext.c)
CONF_modules_unload (ssl.c)

[2015-09-28 20:22] nmittler commented on #65
@Scottmitch For [CONF_modules_unload](https://github.com/netty/netty-tcnative/blob/1.1.33/src/main/c/ssl.c#L310), it looks like it should simply not be called for BoringSSL. It's intended to cleanup after calling [OPENSSL_load_builtin_modules](https://github.com/netty/netty-tcnative/blob/1.1.33/src/main/c/ssl.c#L691), which is not called for BoringSSL.

[2015-09-28 20:24] Scottmitch commented on #65
+1. was then starting to look into PKCS12_verify_mac (p12_mult.c in openssl)

[2015-09-28 20:32] nmittler commented on #65
Cool ... I'm pinging Adam internally to see what his thoughts are.

[2015-09-28 20:43] nmittler commented on #65
Ok, submitted the fix for CONF_modules_unload ... now just need to fix PKCS12_verify_mac

[2015-09-29 20:08] Scottmitch opened #69 "Analyze warnings"
A recent discovery (https://github.com/netty/netty-tcnative/pull/68#discussion-diff-40719398) has brought up a passing an invalid pointer type is flagged as a warning and still compiles. It turned out this pointer was not used in the method, but if it was undefined results would have followed. We should analyze warnings, and consider turning some (all?) warning into errors to ensure code quality.

[2015-09-29 20:08] Scottmitch commented on #69
@normanmaurer @nmittler - FYI

[2015-09-29 20:14] Scottmitch commented on #69
Another instance of incompatible pointer type being used was found in the same PR https://github.com/netty/netty-tcnative/pull/68#discussion_r40722627. This method is used.

[2015-09-29 20:14] normanmaurer commented on #54
I think we can close this now

[2015-09-29 20:14] #54 closed

[2015-09-29 20:14] normanmaurer commented on #69
@Scottmitch let me take care...

[2015-09-29 20:44] Scottmitch commented on #65
@nmittler - Is this 1 remaining method going to be supported by boringssl?

[2015-09-29 20:47] nmittler commented on #65
This method has been added to BoringSSL: https://code.google.com/p/chromium/issues/detail?id=536939

Closing this issue.

[2015-09-29 20:47] #65 closed

[2015-09-29 20:51] Scottmitch commented on #65
thanks @nmittler !

[2015-09-30 05:00] normanmaurer commented on #69
Fixed by 9b06af6863bcb8c7eaf123ef7ee6134743c26690

[2015-09-30 05:00] #69 closed

[2015-10-01 16:36] doom369 commented on #54
@normanmaurer sorry, was a bit busy. Tried latest 4.0.32.Final and 1.1.33.Fork8 - works like a charm. Thank you!

[2015-10-01 17:55] normanmaurer opened #72 "Init constants via JNI"
We may want to consider init the constants via a JNI call so we are sure these are correct.
https://github.com/netty/netty-tcnative/pull/71#discussion_r40927121

[2015-10-01 17:56] Scottmitch commented on #72
thanks for creating this @normanmaurer !

[2015-11-23 15:58] flozano opened #80 "CentOS 6 / Amazon Linux openSSL trouble with pre-packaged netty-tcnative"
Seems related to https://github.com/netty/netty-tcnative/issues/46 / https://github.com/netty/netty-tcnative/issues/44... anyhow, we're getting:

[code]

with 1.1.33 Fork 9 and 1.1.33 Fork 10.

It seems fork 6 used to work well.

[2015-11-24 08:54] sunng87 opened #81 "UnsatisfiedLinkError org.apache.tomcat.jni.SSLExt.sslCtxSetMode(JJ)J"
I was trying to enable `SSL_MODE_RELEASE_BUFFERS` mode on my context pointer, in order to reduce memory usage of my application.

This is done by:

[code]

However, I am always getting error:

[code]

This has been tested on Ubuntu with self-compiled openssl 1.0.1p and 1.0.2d, and ArchLinux with latest 1.0.2d.

The ldd result on my ubuntu box:

[code]

and my archlinux

[code]

Just got no idea ab

[2015-12-21 19:59] wsh commented on #80
I'm seeing the same thing. :(

[code]
This is happening in AWS Lambda, Amazon Linux 2015.03.

[2015-12-21 20:03] normanmaurer commented on #80
@wsh @flozano how did you specify the dependency ? what jar is pulled in ?

[2015-12-21 20:05] normanmaurer commented on #80
And sorry I missed this one :(

[2015-12-21 20:05] normanmaurer commented on #81
Let me have a look

[2015-12-21 20:14] wsh commented on #80
Don't be sorry! Thanks for your hard work!!
'io.netty:netty-tcnative:1.1.33.Fork10-linux-x86_64-fedora' (https://repo1.maven.org/maven2/io/netty/netty-tcnative/1.1.33.Fork10/netty-tcnative-1.1.33.Fork10-linux-x86_64-fedora.jar)

[2015-12-21 20:20] normanmaurer commented on #81
Actually I think we should remove SSLExt as we not support it anyway. You can do this kind of stuff via SSLContext. That said this is done by default.

[2015-12-21 20:22] #81 closed

[2015-12-21 20:25] normanmaurer commented on #80
@wsh I think you need to do:

`yum install apr` . libapr1.so.0 seems to be missing.

[2015-12-21 20:28] wsh commented on #80
Ah, okay. I was hoping that doing a build on Amazon Linux would fix things.

@normanmaurer my problem is that this is AWS Lambda. I don't have control over OS packages. Is there any way that you know of to package APR in a JAR? :package:

[2015-12-21 20:30] normanmaurer commented on #80
I guess it would be possible with static linking but for this you will need to hack the build.

[2015-12-21 20:34] wsh commented on #80
I'll look into that. :smile: Thanks for the advice!

[2015-12-21 20:35] normanmaurer commented on #80
@flozano so now back to you... can you tell me what jar you use ?

[2016-01-17 17:51] floragunncom opened #84 "SSLPeerUnverifiedException: peer not verified when using OpenSSL provider"
Don't know if this is netty or netty-tcnative related: https://github.com/netty/netty/issues/4722

[2016-01-17 19:07] normanmaurer commented on #84
Let us discuss this in netty:
https://github.com/netty/netty/issues/4722

[2016-01-17 19:07] #84 closed

[2016-01-19 21:03] nmittler opened #85 "Statically link APR when building BoringSSL profile"
@Scottmitch I'm assigning to you for now, since you mentioned you'd take a look.

[2016-01-19 21:32] Scottmitch commented on #85
@nmittler - Thanks for the reminder ... let me pull myself out of the slacker hole that I dug last week.

[2016-01-19 21:34] normanmaurer commented on #85
LOL 👌

[2016-01-19 21:35] nmittler commented on #85
LOL ... awesome, thanks @Scottmitch!

[2016-01-20 15:30] Scottmitch commented on #24
Here is some additional reference from @slandelle

[2016-01-25 15:18] nmittler commented on #85
Closed via #89

[2016-01-25 15:18] #85 closed

[2016-01-25 16:54] Scottmitch commented on #85
thanks @nmittler !

[2016-01-27 17:00] nmittler opened #94 "HTTP/2 encoder frame merge does not handle integer overflow"
The `DefaultHttp2ConnectionEncoder` does not handle integer overflow when merging frames.  Merge attempts should fail when integer overflow of the total size will occur: https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2ConnectionEncoder.java#L360

[2016-01-27 17:01] nmittler commented on #94
Closing ... wrong project :)

[2016-01-27 17:01] #94 closed

[2016-01-28 00:23] louiscryan opened #95 "Compiling statically linked boring profile requires fPIC to be set in environment"
Not a bug deal but I had to do

export CFLAGS=-fPIC

to get the profile to work correctly

[2016-01-28 05:27] normanmaurer commented on #95
Strange... Works here without.

[2016-01-28 05:46] louiscryan commented on #95
Do you see fPIC in the gcc command line when api is built? I wasn't, might
be worth diffing the configure logs. Ill put mine up tomorrow

On Wed, Jan 27, 2016 at 9:27 PM, Norman Maurer <notifications@github.com>
wrote:

[2016-01-28 05:48] normanmaurer commented on #95
@louiscryan will check... Also just adding it to the CFLAGS in the pom.xml should work and not harm. WDYT ?

[2016-01-28 06:40] normanmaurer commented on #95
@louiscryan ok have the same problem on linux... I will fix it

[2016-01-28 14:59] nmittler commented on #95
Awesome, thanks @louiscryan!

@normanmaurer shall I send a PR?

[2016-01-28 15:07] normanmaurer commented on #95
I'm on it

[2016-01-28 15:09] nmittler commented on #95
:beers:

[2016-01-29 02:21] louiscryan opened #96 "Gradle doesn't like boringssl-static profile pom"
Gradle seems to be a little stricter than maven when resolving artifacts that use classifiers. In particular it doesn't like the fact that the artifact name in the pom being simply 'netty-tcnative' when it has to resolve it in the repo in separate location

* What went wrong:
Execution failed for task ':grpc-benchmarks:extractIncludeProto'.

     Required by:
         io.grpc:grpc-benchmarks:0.13.

[2016-01-29 16:59] nmittler commented on #96
I wonder if switching netty-tcnative to gradle would just fix this.  I'm considering doing this anyway to simplify the configuration (profiles are a pain and require a lot of duplication).

@normanmaurer thoughts?

[2016-01-29 17:05] normanmaurer commented on #96
I hate gradle :(

[2016-01-29 17:33] nmittler commented on #96
@normanmaurer Agreed, all build environment sucks :).  I'm not a huge advocate of gradle either, but it does have some fairly significant advantages in situations like this.  The profile gunk (which is getting a bit out of hand at the moment) would effectively go away and would be replaced with a fairly simple bit of groovy code to figure out the proper artifactId and build flags.

The alternative

[2016-01-29 20:17] normanmaurer commented on #95
Fixed via https://github.com/netty/netty-tcnative/pull/98

[2016-01-29 20:17] #95 closed

[2016-01-29 20:17] louiscryan opened #99 "Boring SSL library has disabled stackguard"
Get the following warning when VM (Oracle 7 64 bit) starts

Java HotSpot(TM) 64-Bit Server VM warning: You have loaded library /tmp/libnetty-tcnative9180597608360647425.so which might have disabled stack guard. The VM will try to fix the stack guard now.
It's highly recommended that you fix the library with 'execstack -c <libfile>', or link it with '-z noexecstack'.

[2016-01-29 20:18] normanmaurer commented on #99
@louiscryan so it still works but produce the warning ?

[2016-01-29 22:36] louiscryan commented on #99
Yup. Works just fine, just get the warning logs. Clearly not a high
priority bug.

Not sure if it varies over VMs either. Can try that out.

On Fri, Jan 29, 2016 at 12:18 PM, Norman Maurer <notifications@github.com>
wrote:

[2016-02-01 22:31] tanersener opened #100 "SSL set mode support"
Hi,

Do you plan to support SSL_CTX_set_mode operation? In some cases enabling SSL_MODE_ENABLE_PARTIAL_WRITE and SSL_MODE_ACCEPT_MOVING_WRITE_BUFFER modes is necessary but as you pointed out in https://github.com/netty/netty-tcnative/issues/81 SSLExt is not supported and there is not any other way to set them.

https://www.openssl.org/docs/manmaster/ssl/SSL_CTX_set_mode.html

[2016-02-01 22:54] Scottmitch commented on #100
Are you using this library standalone or with Netty?

[2016-02-02 06:09] tanersener commented on #100
I'm using it with netty 4.0.x.

[2016-02-02 07:06] normanmaurer commented on #100
Can you tell us why you need to adjust these?

[2016-02-02 08:18] tanersener commented on #100
Well, my case is; I'm receiveing "error:1409F07F:SSL routines:SSL3_WRITE_PENDING: bad write retry" error on high load. After some google digging I found the following thread which suggests me to enable these flags. That's why I'm asking.

http://stackoverflow.com/questions/2997218/why-am-i-getting-error1409f07fssl-routinesssl3-write-pending-bad-write-retr#

[2016-02-02 09:25] normanmaurer commented on #100
@tanersener this sound more like a netty bug. Can you share a reproducer or / and the full stack trace ?

[2016-02-02 13:25] normanmaurer commented on #100
@tanersener actually I think you are right and we need set `SSL_MODE_ACCEPT_MOVING_WRITE_BUFFER` because if the user writes an heap-buffer the memoryAddress will most likely change between SSL_write(...) operations on retry. This is because in this case we will copy from heap to direct buffer before call SSL_write(...).

https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handle

[2016-02-02 18:03] normanmaurer commented on #100
@tanersener done via https://github.com/netty/netty-tcnative/pull/101. Will make use of this in netty once merged and released.

[2016-02-02 19:04] tanersener commented on #100
@normanmaurer you are very fast thanks. I just tested your pull request with commit from netty side locally and it worked for me. SSL_write error is gone.
Any chance of backporting this feature to 4.0.x line?

[2016-02-02 19:07] normanmaurer commented on #100
@tanersener awesome!

Yes it will be applied to 4.0 and 4.1

[2016-02-02 19:11] tanersener commented on #100
@normanmaurer cool, thanks again

[2016-02-02 19:20] Scottmitch opened #102 "Use of tcnative UNREFERENCED macros"
We should investigate what the purpose/value of the `UNREFERENCED` and `UNREFERENCED_STDARGS` macros are. We should clarify with comments what their purpose are if they are necessary. We should also consistently use them w.r.t to function pre-condition checks. For example some times we call `UNREFERENCED` before a precondition check and return, and sometime we only call it if the preconditions are

[2016-02-02 19:20] Scottmitch commented on #102
@normanmaurer @nmittler - FYI

[2016-02-02 20:15] normanmaurer commented on #100
Fixed by https://github.com/netty/netty-tcnative/pull/101

[2016-02-02 20:15] #100 closed

[2016-02-03 06:27] nmittler opened #103 "Build static libraries on windows"
we need to get at least boringssl-static building on windows, but it would be nice to get all variants building on mac, linux, and windows.

[2016-02-03 06:30] nmittler commented on #103
FYI @louiscryan @normanmaurer @Scottmitch

My working branch is: https://github.com/nmittler/netty-tcnative/tree/windows.  I have 4 submodules:

- openssl-dynamic (the original netty-tcnative - builds on all platforms)
- openssl-static (builds on all platforms)
- boringssl-static (builds on !windows)
- libressl-static (builds on !windows)

So the last two need some work, but I've made a lot of pro

[2016-02-03 06:58] normanmaurer commented on #103
Sounds good. Please open a pr and I will pull in once I have cut the release today

[2016-02-03 08:02] normanmaurer opened #104 "Remove unused code"
I would like to propose removing all code that we not need for netty (like `Socket`, `Multicast` and many more). We are only interested in the parts that are needed for our OpenSslEngine anyway. This will help us to focus on things we care about and not ship things that we are not using.

@nmittler @Scottmitch @trustin WDYT ?

[2016-02-03 08:23] trustin commented on #104
+1

[2016-02-03 15:58] nmittler commented on #104
+1

[2016-02-03 16:04] Scottmitch commented on #104
+1. I think tcnative "upstream" has rebased off of our code anyways, which may make taking updates a bit more complicated but I'm not sure if we plan on taking updates.

[2016-02-04 22:20] slandelle commented on #24
@normanmaurer @Scottmitch Would you be fine with a PR that would introduce a System prop to tell `OpenSsl` to ask `NativeLibraryLoader` to load from a subdirectory instead of directly in `META-INF/native/`?

[2016-02-09 11:37] slandelle commented on #24
ping

[2016-02-09 13:20] normanmaurer commented on #24
@Scottmitch sure... what would be the benefit ? (and sorry for the delay)

[2016-02-09 15:01] slandelle commented on #24
Hi @normanmaurer

Some of my users won't be able to properly set up maven/gradle/sbt/whatever so they pick the proper classifier, assuming they even know what a classifier is... So I'm being realistic and would really like to be able to provide an all-in-one jar with all the native libs with the ability to automatically pick the proper one at runtime, depending on the OS characteristics.

Regardin

[2016-02-09 16:45] flozano commented on #80
I *also* missed this github notification. I was using the wrong one, the generic linux non-fedora. Using the fedora one fixes it, so no problem... anyway I had to build my own openssl for ALPN, so I'm back to generic linux tcnative.

[2016-02-09 18:08] cconroy commented on #24
@slandelle see also https://github.com/netty/netty/pull/3502 which is a companion PR to this change so that NativeLibraryLoader can load the correct library based on the OS. It was recently closed without comment but my understanding was that Trustin and Norman were on board with these changes and we had just been waiting on some internal tools in various places to be updated...

[2016-02-09 18:14] slandelle commented on #24
@cconroy Yeah, I know. But I was concerned because it got closed. :)

[2016-02-10 21:54] #96 closed

[2016-02-10 21:56] nmittler commented on #103
#105 is in which addresses everything except LibreSSL on windows.

[2016-02-11 00:50] normanmaurer commented on #104
Ok will take care of this

[2016-02-14 21:37] ankurcha opened #111 "Unable to use pre-built binaries on alpine linux"
I am trying to use the netty-tcnative libraries for my grpc application in a docker container. When i use the prebuilt binary I get the following error:

[code]

[2016-02-14 23:36] normanmaurer commented on #111
we release versions build on centos and debian. I guess you will need to build it by your own for alpine.

[2016-02-16 17:04] nmittler opened #112 "Update build and usage instructions"
Given recent refactoring into multi-modules and added support for linking statically to OpenSSL libraries, we need to update the [docs on the wiki for building netty-tcnative](https://github.com/netty/netty/wiki/Forked-Tomcat-Native).

Some things that should be made clear (from #115):

- The versions of Java are supported?
- Which JDKs are supported? All? Just Oracle?
- Which OS/arch are supporte

[2016-02-16 21:06] nmittler commented on #103
I've raised https://github.com/libressl-portable/portable/issues/171 for LibreSSL.

[2016-02-17 02:50] louiscryan opened #114 "Consider merging with Android Conscrypt"
@normanmaurer
@gregw (for Jetty)
@kruton (for Conscrypt)

Conscrypt is an Apache 2 Licensed JSSE provider built on top of boringssl that has been developed by the Android team. It has had a non-trivial amount of tire-kicking and is used with OpenJDK on the server side at Google.

Merging efforts here would offer some major upside to the Java development community.

https://android.googlesource.com

[2016-02-17 09:07] gregw commented on #114
The jetty project is not yet using tcnative, but are considering it.
We also note that netty is using jetty alpn and are in the process of contributing an alpn agent to that effort.

All in all, since the JVM does not appear to be about to provide a complete and scalable solution any time soon,  perhaps all these efforts should converge somewhere?

We'll give tcnative a go in the next few weeks, a

[2016-02-18 15:35] jchambers opened #115 "Document system requirements"
I'm really excited about the statically-linked packages that have just gone out, and also what might come out of #113. I've been trying to figure out whether I can use statically-linked tcnative across the board for a project, and am realizing that some information about system requirements is a little tricky to come by. As recently as [ca90f9e](https://github.com/netty/netty/wiki/Forked-Tomcat-Na

[2016-02-18 19:07] #99 closed

[2016-02-19 15:06] nmittler commented on #115
@jchambers +1 we should definitely do this.  In fact, we really need to just rewrite the docs completely at this point (see #112).  I've copied over your list to that issue ... let's close this out and continue the discussion there.

Thanks!

[2016-02-19 15:06] #115 closed

[2016-02-19 16:08] jchambers commented on #115
:metal:

Thanks!

[2016-02-23 19:30] Scottmitch opened #118 "Non standard project layout"
Since we have started supporting the static library builds the directory structure is no longer following the standard maven directory structure. This can make discovery and IDE interop more difficult. Is it possible to put the java/c code back to the "top" level so maven can correctly generate IDE project files?

[2016-02-23 19:33] Scottmitch commented on #118
Should we also add `boring-ssl-static/src` and `openssl-static/src/` to `.gitignore`?

[2016-02-23 19:44] Scottmitch opened #120 "Static Library Build Phase"
Just initializing the project files for the IDE `mvn eclipse:eclipse` seems to build all of the static libraries. Is this necessary just for setting up the IDE project files (building the static libraries can take some time).

[2016-02-23 19:45] Scottmitch opened #121 "Static Library Cleaning and Rebuilding"
Are the builds for the static libraries "cleaned" every time? It seems the following commands will run through 2 complete builds of the static libraries:

[code]

Is it possible to avoid "cleaning" everything and "rebuilding" every time?

[2016-02-23 20:39] nmittler commented on #118
intellij doesn't seem to be having a problem for me ... what is the problem you're seeing?

[2016-02-23 20:40] normanmaurer commented on #118
yeah works for me as well with intellij

[2016-02-23 20:40] nmittler commented on #120
use intellij :) .... feel free to pick another appropriate phase.  So long as everything build we should be fine.

[2016-02-23 20:41] nmittler commented on #121
possibly ...  I'm not sure what LOE this would involve.

[2016-02-23 23:20] Scottmitch commented on #121
are we just blowing away the build artifacts when we FTP new code (or however we get new code)?

[2016-02-23 23:27] Scottmitch commented on #120
is there any reason why `generate-sources` must be used for everything? are there any other dependencies on other phases?

Would the following structure make more sense:
`generate-sources`: ftp code
`compile`: compile the code
`package`: build static libraries

[2016-02-23 23:36] Scottmitch commented on #118
source sets are not set correctly so Eclipse doesn't know where they are (no entries are add to the `.classpath` file). I would imagine this would happen with any IDE project files generated from maven...it may be different if you import the pom directly into the IDE.  I tried `mvn idea:idea` but it seems this plugin is not supported any more and does not work, so not sure if this is an option for

[2016-02-24 17:48] nmittler commented on #121
If using ftp, probably ... if using the scm plugin (e.g boringssl), not sure.

That would be ideal :) ... but sorting this out for each submodule (for both APR and SSL) will require some work.

[2016-02-24 17:49] nmittler commented on #120
We just need to ensure that APR and SSL are built before the tcnative code.

[2016-02-24 17:54] nmittler commented on #118
Yeah the static libs copy everything under `src` from `openssl-dynamic`. The main reason for this is that it needs the `native` config files, but has to overwrite the msvc build file with its own ... the easiest solution: copy everything, then overwrite the copied msvc file. We could copy to the target folder, and treat all of this as "generated-sources" so that clean just automatically works. Alt

[2016-02-24 17:56] Scottmitch commented on #121
I think we should restructure the project so the build artifacts are separated from the directories that get FTPed. The configure scripts should support specifying a `prefix` or build directory right?

[2016-02-24 17:59] Scottmitch commented on #120
Can you explain why? Seems like as long as we have the header files for the libraries tcnative depends upon then tcnative should be able to build. Why can't we delay the build of the 3rd party libraries until we are trying to package/link stuff together?

[2016-02-24 18:03] Scottmitch commented on #118
It is still not clear to my why the copy operation for the tcnative source code is necessary. However assuming it is necessary can we do something like you suggested:

- Revert directory structure back to maven standard
- Copy code during build process to a `target/` type directory that gets cleaned up with other build artifacts.

[2016-02-24 18:04] nmittler commented on #121
Which build artifacts are you referring to? APR and SSL? In some cases, we're already creating an install directory (using `--prefix` when using automake). For ninja-based builds, we'd have to manually copy artifacts, but it's still doable.

[2016-02-24 18:05] Scottmitch commented on #121
things that are generated during the build (`.o`, `.a`, `.class`, etc...) that can be inspected by build tools (make, maven, etc..) to avoid re-building if not necessary.

[2016-02-24 18:06] nmittler commented on #120
Sure you can do that ... just not sure what it buys you.  To be honest, I don't think the problem is which phase we do it in, it's that we don't want to re-do what we've already done. If APR and SSL are already there, then skip download/build.

[2016-02-24 18:08] Scottmitch commented on #120
I think these are 2 separate problems :) The second part should be covered by https://github.com/netty/netty-tcnative/issues/121

[2016-02-24 18:10] Scottmitch commented on #120
The current approach does not follow standard maven conventions. This means that plugins and tools may not function as expected or additional work may be necessary at unexpected times (e.g. why do I have to build openssl, boringssl, libressl, apr, etc... just to setup my IDE)?

[2016-02-24 18:11] nmittler commented on #118
As far as I know the copy is necessary.  Maven essentially gives us 2 options for reusing code:

1. Point the source directory for xxx-static to openssl-dynamic/src.  The problem here is that it will pick up the native dir with the "bad" msvc file. We need everything except that msvc file.
2. Copy the source and overwrite the msvc file.

If you have ideas for how to better make this conform to the

[2016-02-24 18:12] nmittler commented on #121
so APR and SSL?

[2016-02-24 18:13] nmittler commented on #120
Ok, if you have ideas for what needs to change, throw together a PR and we'll take a look

[2016-02-24 18:19] Scottmitch commented on #118
Although copying is not ideal, this is not the issue. The issues are:

- non-standard maven directory structure. This makes life difficult for tools and general orientation in the project.
- `n` (number of builds) replicas of the source code which are generated during the build and not cleaned up as part of the build. This can also be confusing when in an IDEs and looking at the file structure aft

[2016-02-24 18:38] Scottmitch commented on #121
This statement was a bit vague and not clear what you were referring to. As long as you are implying the difference between source files obtained via the "get sources step" and the artifacts generated during the build (`.o`, `.a`, `.class`) then yes plus the tcnative artifacts.

[code]

[2016-02-24 23:18] nmittler commented on #112
@normanmaurer @Scottmitch
I've updated the wiki. The instructions are anticipating Fork15, so we probably don't want to publish them until the uber jar is on Maven Central.

PTAL

[2016-02-26 16:35] nmittler commented on #112
@normanmaurer @Scottmitch gentle ping :)

[2016-02-26 22:45] Scottmitch commented on #112
@nmittler - LGTM! Thanks for updating the docs!

[2016-02-28 15:57] avboy72 opened #124 "readFromSSL Missing from JNI native library on osx?"
Hello,

I am encountering this error:
Caused by: java.lang.AbstractMethodError: null
	at org.apache.tomcat.jni.SSL.readFromSSL(Native Method) ~[netty-tcnative-1.1.33.Fork14-osx-x86_64.jar:1.1.33.Fork14]
	at io.netty.handler.ssl.OpenSslEngine.readPlaintextData(OpenSslEngine.java:358) ~[netty-all-4.1.0.CR2.jar:4.1.0.CR2]
	at io.netty.handler.ssl.OpenSslEngine.unwrap(OpenSslEngine.java:703) ~[netty-a

[2016-02-28 19:01] floragunncom commented on #124
I guess the problem is that OpenSslContext.AbstractCertificateVerifier does not implement

<pre>
int verify(long ssl, byte[][] chain, String auth)
</pre>

but

<pre>
boolean verify(long ssl, byte[][] chain, String auth)
</pre>

[2016-02-29 09:03] normanmaurer commented on #124
@avboy72 you need to use netty 4.1.0.CR3.

[2016-02-29 09:03] #124 closed

[2016-02-29 12:20] avboy72 commented on #124
Oh, sorry...  Is there a compatibility chart somewhere so I can avoid such a snafu in the future?

[2016-02-29 15:19] nmittler commented on #124
@normanmaurer this was a breaking change for netty+tcnative ... did we document this anywhere?

[2016-02-29 16:42] Scottmitch commented on #124
I'm not sure we have visibly for this yet. Here is one suggestion on how to make this more apparent: https://github.com/netty/netty/issues/4808

[2016-02-29 18:54] nmittler commented on #112
@normanmaurer do you want to take a look?

[2016-03-21 19:08] doom369 opened #126 "1.1.33.Fork15 is not in maven central repository"
Hello. Documentation points to `1.1.33.Fork15` but it is not available in maven central.

Could you please advise which version I could use for 4.0.35.Final netty?

[2016-03-21 19:18] normanmaurer commented on #126
Fork15 was not released yet. Use Fork14.

[2016-03-21 19:18] #126 closed

[2016-03-21 19:23] doom369 commented on #126
Thank you.

[2016-03-23 17:39] fondemen opened #128 "EpollChannelOption.TCP_QUICKACK is set as an Integer"
Hello,

Why EpollChannelOption.TCP_QUICKACK is an Integer option ?
In the code, it seems to me that it should be a Boolean, as can be seen in EpollSocketChannelConfig#getOption(ChannelOption), L.105.

Cheers,

Frédéric.

[2016-03-23 17:50] normanmaurer commented on #128
@fondemen you are right... let me fix it or you want to do a PR ?

[2016-03-23 17:52] normanmaurer commented on #128
@fondemen actually this is a netty issue and not a netty-tcnative. Did open an issue here:
https://github.com/netty/netty/issues/5029

[2016-03-23 17:52] #128 closed

[2016-03-23 22:49] ejona86 opened #129 "Linux .so for boring isn't stripped"
This is effectively a repeat of #45, but for boring and MB involved instead of KB. OS X's native library is 1.9 MB uncompressed, whereas Linux's is 7.1 MB. Running strip on the Linux .so reduces its size to 1.9 MB. I think that will change the compressed size from 2.5 MB to ~900 KB.

[2016-03-24 07:41] sunrenjie opened #130 "CI Server links broken in wiki page"
Hi,
I followed the link http://netty.io/wiki/forked-tomcat-native.html#wiki-h2-5 to find 64-bit windows APR DLLs, but the links are broken, due to maybe CI Server changes (jenkins => TeamCity).

Further more, I scanned https://garage.netty.io/teamcity/, but it does seem not build for Windows at all.

Am ideas?

[2016-03-28 22:14] gsoltis opened #131 "netty-4.0.35.Final breaks ssl < TLSv1.2 when used w/ netty-tcnative >= 1.1.33.Fork13"
In the transition from `1.1.33.Fork12` to `1.1.33.Fork13`, the native implementation of `SSLContext.make` in `sslcontext.c` was restructured to use a `switch` statement, rather than a series of `if .. else if` statements. In the process, the default case when not finding an exact match for `protocol` changed from `SSLv23_method` to `TLSv1_2_method`.

This is coupled with the fact that `netty-4.0.3

[2016-03-28 22:39] Scottmitch commented on #131
@gsoltis - We are aware of the issue and plan to push out a new release this week. The investigation thus far has not found any issue with the code changes made to `sslcontext.c` but instead requires that Netty be rebuilt with the correct version of tcnative (which may not be immediately obvious). As a workaround please recompile Netty against a newer version of tcnative or wait until we push out

[2016-03-28 22:42] gsoltis commented on #131
Ah, you're right, not sure where I got `Fork11` from. I agree, I don't think anything is wrong w/ `sslcontext.c`, it's just that the default behavior change coupled with the wrong `protocol` value caused a problem. With the correct value for `protocol`, it's fine.

Anyways, glad to hear you're all on top of it, I'll wait for the new version.

Thanks!

[2016-03-28 22:42] #131 closed

[2016-03-28 22:53] Scottmitch commented on #131
sgtm. Thanks for reporting and sorry for the inconvenience!

[2016-04-04 18:28] c4milo opened #132 "Build process fails detecting openssl on OS X (El Capitan)"
[code]

$ env | grep C*FLAGS
LDFLAGS=-L/usr/local/opt/openssl/lib
CPPFLAGS=-I/usr/local/opt/openssl/include

$ brew install openssl
Warning: openssl-1.0.2g already installed

[2016-04-04 18:30] normanmaurer commented on #132
@c4milo can you try running `brew link openssl` ?

[2016-04-04 18:43] c4milo commented on #132
That worked @normanmaurer. It just needs to be mentioned in the wiki. Thanks!

[2016-04-04 18:43] normanmaurer commented on #132
@c4milo let me add it... this usually is only needed after an upgrade of the OS mess the links up.

[2016-04-04 20:32] #132 closed

[2016-04-09 02:18] jchambers opened #133 "Docs give example for non-existent uber-jar"
Following up on https://github.com/netty/netty/issues/5052, [the wiki](http://netty.io/wiki/forked-tomcat-native.html#how-to-download-netty-tcnative-boringssl-uber-jar) gives instructions for using an uber jar with fork15, but there won't be an uber jar until fork16.

[2016-04-11 15:12] nmittler commented on #133
@normanmaurer how close are we to releasing fork 16?

[2016-04-11 15:17] normanmaurer commented on #133
@nmittler as close as you want ;)

[2016-04-11 16:12] nmittler commented on #133
@normanmaurer ok great ... should we just cut it then? We can work together to sort out the deployment of the uber jar.

[2016-04-13 21:21] davidben opened #134 "Migrate BoringSSL build to MSVC 2015"
@nmittler asked me to file a bug here when we were ready to switch BoringSSL's MSVC version. BoringSSL tracks Chromium's MSVC version which has since switched to MSVC 2015. It should currently build with either, but I'll be switching our bots to 2015 soonish and it'll likely (accidentally or intentionally) break with 2013 when we're no longer regularly testing against it.

[2016-04-14 13:56] nmittler commented on #134
Thanks @davidben!

@normanmaurer assuming you don't see any issue here I can take a look at migrating.

[2016-04-14 13:57] normanmaurer commented on #134
Go :)

[2016-04-14 17:27] davidben commented on #134
Oof, sorry about the premature warning. I forgot you all were tracking whatever's in Chrome stable rather than master and BoringSSL didn't actually build with 2015 (the standalone build is very aggressive about enabling warnings) until more recently than that. So the time to flip the switch will be a release cycle or two from now.

[2016-04-20 18:18] Scottmitch opened #135 "Missing OSGi header Bundle-NativeCode in netty-tcnative"
From @fsiegrist https://github.com/netty/netty/issues/5150:

The MANIFEST.MF of netty-tcnative-1.1.33.Fork15-[os-classifier].jar does not contain the `Bundle-NativeCode` header. Thus when running in an OSGi context (e.g. apache-felix), the bundle does not know the path to its native library (META-INF/native/...). As a result, the `NativeLibraryLoader` (in netty-common) cannot load the native libra

[2016-04-20 18:19] Scottmitch commented on #135
@fsiegrist - thanks for reporting!  Any interest in submitting a PR for this?

[2016-04-27 05:21] shelined opened #136 "java.lang.UnsatisfiedLinkError: org.apache.tomcat.jni.Library.version(I)I"
I'm attempting to use grpc-java with netty-tcnative-boringssl-static and getting the following exception.

[code]

I understand it might complicate things but I'm running inside Tomcat for the time being. I have set the -classpath to the path of netty-tcnative-boringssl-static-1.1.33.Fork14-linux-x86_64.jar as you can see below in the command to execute Tomcat.

[code]

I've tried both statically

[2016-04-27 14:12] nmittler commented on #136
Hmm ... so grpc-java `0.13.2` uses Netty `4.1.0.CR3`. I think the issue is that `4.1.0.CR3` doesn't have the [logic to look for the lib with a classifier](https://github.com/netty/netty/blob/netty-4.1.0.CR3/handler/src/main/java/io/netty/handler/ssl/OpenSsl.java#L60) (4.1.0.CR4 has the [new logic](https://github.com/netty/netty/blob/netty-4.1.0.CR4/handler/src/main/java/io/netty/handler/ssl/OpenSs

[2016-04-27 16:19] shelined commented on #136
I could be wrong but it seems like the [new logic](https://github.com/netty/netty/blob/netty-4.1.0.CR4/handler/src/main/java/io/netty/handler/ssl/OpenSsl.java#L70) adds capabilities needed for the Uber jar where the native libraries have the classifier in the name. Regardless I did actually switch to CR4 and paid closer attention when stepping through the code in the debugger (albeit on `osx-x86_6

[2016-04-27 17:01] nmittler commented on #136
Ah you're right, my mistake.  Can replicate the problem outside of tomcat?

[2016-04-29 21:48] twiedow commented on #133
Do you already when you might release fork 16 with the uber jar?

[2016-05-02 17:44] testn opened #137 "Plan to move to 1.2?"
tomcat already released 1.2.6 of tomcat-native. Is there any plan to move to 1.2 branch soon?

[2016-05-02 17:54] normanmaurer commented on #129
@nmittler any idea how to do this with ninja build ?

[2016-05-02 17:58] normanmaurer commented on #129
Actually I think I know howto fix this... let me take care

[2016-05-02 18:07] Scottmitch commented on #137
IIUC 1.2.x branch of tomcat's tcnative is re-forked from netty-tcnative ... @normanmaurer ? We have also stripped out most of the stuff we don't need from tcnative so I'm not sure if we can easily pull back changes.

[2016-05-02 19:09] normanmaurer commented on #129
@davidben Could this be because `-ggdb` is used in boringssl here: https://boringssl.googlesource.com/boringssl/+/chromium-stable/CMakeLists.txt#30 ? (@nmittler told me to ping you ;))

[2016-05-02 22:07] davidben commented on #129
I could believe it. That's probably why there's so much to strip away. Having debug symbols available is generally useful and the standalone build, on our end, is used for development, so I'd want that to stay the default.

That said, it seems `CMAKE_BUILD_TYPE` distinguishes between "Release" and "RelWithDebInfo". I need to read up on how that knob is supposed to work, but I wouldn't be opposed t

[2016-05-03 06:33] normanmaurer commented on #129
@davidben confirmed here...

Before change the CMakeLists.txt:

[code]

After the change:

[code]

[2016-05-03 06:33] normanmaurer commented on #129
Also @nmittler @ejona86 :)

[2016-05-03 11:16] dimitarg commented on #111
Assuming an alpine docker image which has an oracle jdk 8 installed, and netty-tcnative available under /opt/data/netty-tcnative (perhaps through a shared volume in the host, if you don't want to bother installing git on the alpine image), here is a setup which let me build netty-tcnative successfully:

[code]

, and then

```mvn clean install```

@ankurcha and anyone else interested, I will let y

[2016-05-03 13:01] davidben commented on #129
Alright. Filed https://crbug.com/boringssl/56.

[2016-05-03 13:01] davidben commented on #129
Although I would suggest regardless that you strip your binaries yourselves if you care about this sort of thing. That seems much more robust.

[2016-05-03 14:46] dimitarg commented on #111
The built native jar as desribed above, under openssl-dynamic/target/netty-tcnative-<version>-linux-x86_64.jar , works for me, if I use the following, in a runtime image based FROM jeanblanchard/java:jdk-8:

[code]

It's very important to change the base image only if you know what you are doing otherwise you might end up not finding libuuid during tcnative load.

Hope this helps. Hopefully I get

[2016-05-04 10:29] jjpp commented on #136
It seems that I have the same/similar problem -- netty-tcnative-boringssl-static in tomcat (tomcat8, openjdk8 under centos7) that fails with UnsatisfiedLinkError about Library.version(int). I need it to use HTTP/2 over TLS. I have removed tomcat-jni.jar from tomcat libraries to avoid conflict there.

So far I have found an extra hint: if I copy the temporary file that NativeLibraryLoader creates a

[2016-05-04 15:26] jjpp commented on #136
Further experiments show that it seems to be related to hierarchy of classloaders and to the fact that some (er.. most)of the classes in tcnative are found in tomcat-jni.jar and are loaded during tomcat startup. Replacing tomcat-jni.jar with version that contains just org.apache.tomcat.jni.LibraryNotFoundError "helps".

I believe that using some netty-tcnative-specific class instead of org.apache.

[2016-05-04 15:36] normanmaurer commented on #136
Can You maybe try to submit a pr?

[2016-05-04 16:21] mwkirk opened #138 "Can openssl-static be built with the openssl and APR that are already installed?"
The openssl, apr, tcnative dance is always a process, but this has been a hair-puller. I've read your wiki numerous times, but either I'm not getting it (totally possible) or there are some bits that are incomplete.

I need to build openssl-static tcnative for two platforms (Mac 10.10.5 and Ubuntu 14.04 LTS), and I would prefer to use the OpenSSL and APR that are already installed (and other thing

[2016-05-04 16:58] normanmaurer commented on #138
@mwkirk no it can`t easily, sorry.

[2016-05-04 16:58] #138 closed

[2016-05-04 17:03] mwkirk commented on #138
Thanks. I suggest adding that to that wiki page so that other folks don't suffer my fate.

[2016-05-05 00:36] jjpp commented on #136
I tried and found out that it is not that simple. Tomcat runs each web app in its own classloader (http://tomcat.apache.org/tomcat-8.0-doc/class-loader-howto.html) which mostly prefers classes from the app. With notable exception of "system classes" and "servlet apis". Which includes among other things org.apache.tomcat.* .. so as long there is org.apache.tomcat.jni.Library in classpath of "common

[2016-05-17 22:37] icesnakejin opened #140 "OpenSSL (via netty-tcnative) not available; will use JDK SSL provider. NEED help"
I am using fork 16 in my project and got the following error, thanks in advance:

0 [main] INFO com.relayrides.pushy.apns.ApnsClient  - OpenSSL (via netty-tcnative) not available; will use JDK SSL provider.
Exception in thread "main" java.lang.ExceptionInInitializerError
	at io.netty.handler.ssl.JdkSslContext.toNegotiator(JdkSslContext.java:285)
	at io.netty.handler.ssl.JdkSslClientContext.<init>(

[2016-05-18 00:45] trustin commented on #140
Any DEBUG level log messages? Did you enable DEBUG level logging for Netty?

[2016-05-18 04:48] normanmaurer commented on #140
Was a classpath issue as stated on on the google group

[2016-05-18 04:48] #140 closed

[2016-05-18 19:25] nmittler opened #141 "Not statically linking all libs on Windows"
Original issue captured here: http://stackoverflow.com/questions/37297462/grpc-ssl-unsatisfiedlinkerror

Running `dumpbin /nologo /dependents netty-tcnative.dll` shows the following dependencies:

[code]

We should statically link where possible/appropriate to reduce this list.

[2016-05-19 15:41] jchambers commented on #133
It looks like fork16 is out and does, indeed, work with the example app from netty/netty#5052. The only thing that seems to be left is updating the version numbers in the example on the wiki; I'd offer to do it myself, but don't have permission.

[2016-05-19 20:01] nmittler commented on #133
@jchambers Great, glad it's working for you! I've updated the docs - thanks for pointing that out.

@normanmaurer do we have to push the site manually or is it automatic?

[2016-05-19 20:31] normanmaurer commented on #133
@nmittler we need to push.... I will take care

[2016-05-20 07:58] normanmaurer commented on #133
Pushed it.

[2016-05-20 07:58] #133 closed

[2016-05-20 14:02] nmittler commented on #141
So basically what needs to happen here is to use "/MT", but this requires also using "/MT" for boringssl/openssl and APR.  PR is coming ...

[2016-05-20 17:10] nmittler commented on #141
The problem DLL from the original list is `MSVCR120.dll`, which makes sense since it requires that a particular version of visual studio be installed.

[2016-05-20 17:34] #141 closed

[2016-05-20 19:37] normanmaurer commented on #129
Fixe by https://github.com/netty/netty-tcnative/pull/144

[2016-05-20 19:37] #129 closed

[2016-05-23 23:43] nmittler opened #145 "Uber jars on maven central are missing native libraries"
The uber jar (i.e. the one without a classifier) for both fork 16 and 17 on Maven Central does not contain the `META-INF/native` folder.  We're either not building the jar properly or there is a problem with how we're pushing it to Maven Central.

[2016-05-23 23:43] nmittler commented on #145
@normanmaurer can you take a look?

[2016-05-24 08:28] baldrick commented on #145
I think (at least Fork17) _does_ contain a `META-INF/native` folder but the libraries are named so they're unusable.  Fork 17 contains (among others):

[code]

But looking at `io.netty.util.internal.NativeLibraryLoader.load()` we can see it calls `System.mapLibraryName(name)` where `name` is `netty-tcnative`.  It returns:

- `netty-tcnative.dll` on Windows
- `libnetty-tcnative.so` on Linux

Both p

[2016-05-24 14:43] nmittler commented on #145
Hmm ... I'm confused.  I just downloaded the jar again from repo1 (https://repo1.maven.org/maven2/io/netty/netty-tcnative/1.1.33.Fork17/netty-tcnative-1.1.33.Fork17.jar) and it does not contain `META-INF/native'. Perhaps there are some replication issues in Maven Central?

WRT the Netty code, [OpenSsl](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/OpenSsl.java#

[2016-05-24 16:47] normanmaurer commented on #145
@nmittler maybe I`m confused now as well but shouldn`t you download:

https://repo1.maven.org/maven2/io/netty/netty-tcnative-boringssl-static/1.1.33.Fork17/netty-tcnative-boringssl-static-1.1.33.Fork17.jar

[2016-05-24 17:07] nmittler commented on #145
![](http://i.imgur.com/iWKad22.jpg) ... sorry, yes. And it has all the libs expected.

baldrick@ what version of Netty are you using?

[2016-05-24 17:07] baldrick commented on #145
I don't depend directly on `io.netty/netty`, only `netty-tcnative`.
However I do depend upon `io.grpc/grpc-all/0.13.2` which, according to `mvn dependency:tree`, pulls in `io.netty/netty-handler/4.1.0.CR3`.

Upgrading to `io.grpc/grpc-all/0.14.0` (is this the latest?  maven central's blocked at work so I have to rely on an internal mirror that may or may not be up to date...) brings in `io.netty/n

[2016-05-24 17:47] nmittler commented on #145
Ok thanks baldrick@ .. closing for now.  If you decide there is a perf issue feel free to open a new bug.

[2016-05-24 17:47] #145 closed

[2016-05-26 15:46] nmittler commented on #112
The docs were updated a while ago, I think we can close this now.

[2016-05-26 15:46] #112 closed

[2016-05-27 22:41] carl-mastrangelo opened #146 "Allow loading on Java 1.8"
When loading from statically built native deps, the JNI_OnLoad symbols from multiple JNI libraries can collide. Java 1.8 has a work around for this, by renaming the load and unload methods to JNI_OnLoad_foo as described in the second paragraph [here](http://docs.oracle.com/javase/8/docs/technotes/guides/jni/spec/invocation.html#JNJI_OnLoad).

In order for this to work, there should be an additiona

[2016-05-27 22:57] alexlehm opened #147 "netty-tcnative-boringssl-static in windows is linked with a debug library"
The current version of netty-tcnative-boringssl-static on maven central 1.1.33.Fork16 is linked with a debug library of Visual C++ 2013 (MSVCR120D.DLL), which is not officially distributed by Microsoft and is usually not installed in Windows.

Could you please provide a dll that is not linked with this?

[2016-05-27 23:05] alexlehm commented on #147
Sorry, didn't notice there is a new version available, in 1.1.33.Fork17, the issue is fixed

[2016-05-27 23:05] #147 closed

[2016-05-28 22:33] Scottmitch commented on #146
@carl-mastrangelo - Can you clarify how we would retain backwards compatibility? Would we need to produce different artifacts for different java versions? Is it enough to just put `JNI_OnLoad` and `JNI_OnLoad_L` in different source files and who ever compiles can choose the appropriate one for their JDK versions (assuming they are building their own static library)?

[2016-05-29 21:18] jakkra opened #148 "Compiling netty-tcnative on Raspberry Pi 3 errors"
`Failed to execute goal on project MagicMirrorPI: Could not resolve dependencies for project se.jakobkrantz.magicmirrorr:MagicMirrorPI:jar:1.0: Could not find artifact io.netty:netty-tcnative-boringssl-static:jar:linux-arm_32:1.1.33.Fork17 in oss-snapshots-repo (https://oss.sonatype.org/content/groups/public)`

Since there is no 32 bit versions on Maven, I also tried to compile according to instru

[2016-05-31 14:26] nmittler commented on #148
You might want to try just building openssl-static instead

[2016-05-31 15:21] flozano commented on #111
This issue has Fork17 milestone assigned, does it mean it is fixed in Fork17? I can't find the proper alpine linux jar in maven for this version...

Building is a pretty complex process, and it seems alpine is gaining a lot of momentum in docker containers. It would be really great if the binaries were built by default.

[2016-05-31 15:39] carl-mastrangelo commented on #146
Maybe just have both methods? JNI_OnLoad  and JNI_OnLoad_netty_tcnative  ?  Then just have one call the other?  The thing is that when the binaries are linked together it seems that having duplicate methods is not the problem; one of them wins.  Having the other method name makes it possible to fix from the java side.

[2016-05-31 16:45] davidben commented on #134
I've updated `chromium-stable` to match the newly released Chrome 51. In theory this should build now with 2013 or 2015, though let me know if something doesn't work.

[2016-05-31 17:10] normanmaurer commented on #134
@davidben I love "in theory" ;) Thanks will do :)

[2016-05-31 22:07] #148 closed

[2016-06-01 05:12] normanmaurer commented on #148
So did it work?

[2016-06-02 01:57] Scottmitch commented on #146
assuming the presences of multiple `JNI_OnLoad`'s symbols can be combined into the same static library and linked by java 1.8+ then that sgtm.

[2016-06-02 02:00] Scottmitch commented on #111
this issue has not been resolved ... as of now we don't publish artifacts built from alpine.

[2016-06-02 08:05] dimitarg commented on #111
[netty-tcnative-1.1.33.Fork15-linux-x86_64_alpine.jar.zip](https://github.com/netty/netty-tcnative/files/295126/netty-tcnative-1.1.33.Fork15-linux-x86_64_alpine.jar.zip)

Here's the result of the build procedure I described above, for fork15, if you just wanna kick the tires.

[2016-06-02 15:45] carl-mastrangelo commented on #146
At least in Google's infra they can.  What the rest of the outside world does is frightening and confusing to  me, which is why I haven't jumped to make these changes.

I can roll together a PR, and submit it, and if anyone complains we can roll it back.

[2016-06-02 16:27] nmittler commented on #104
@normanmaurer did these commits make it into the 1.1.33 branch? I don't see them in the history

[2016-06-02 16:29] normanmaurer commented on #104
@nmittler nope... I need to rebase it figure out what I broke ;)

[2016-06-02 16:33] nmittler commented on #104
ah ok sgtm

[2016-06-02 16:35] Scottmitch commented on #146
PR sgtm!

[2016-06-02 17:23] davidben commented on #104
I started poking at this myself. (I'd rather you all not hard-code the values of `SSL_OP_*` constants and figured I ought to get dead code out of the way before tackling that.) GitHub's diff viewer is really slow on that patch and I'm not sure how to download it to be sure, but I think the issue is you removed `tcn_ThrowAPRException` which is called a lot in `ssl.c`. That, in turn, requires that `

[2016-06-02 18:35] normanmaurer commented on #146
+1

[2016-06-03 11:30] flozano commented on #111
Thanks a lot for the effort @dimitarg.

For now I'll have to stick to a more standard glibc-based docker image, but I'm definitely interested in trying to run my components with alpine again when tcnative binaries are part of "official" build/publish process for netty-tcnative.

[2016-06-07 22:01] siyengar opened #150 "jnilib vs dylib os extension for lib"
I'm running netty with tcnative on macosx. While depending on tc-native's1.1.33.Fork17 with boringssl with the os classifer, I was unable to load the library. I investigated this further, and the NativeLibraryLoader in netty tries to map the lib name to a system name here: https://github.com/netty/netty/blob/83c349ffa94d3992c4ee511d3625afc0c97c12bb/common/src/main/java/io/netty/util/internal/Nativ

[2016-06-08 14:06] nmittler commented on #150
It looks like we should be checking for [both jnilib and dylib]( https://github.com/netty/netty/blob/83c349ffa94d3992c4ee511d3625afc0c97c12bb/common/src/main/java/io/netty/util/internal/NativeLibraryLoader.java#L180).

Does it not enter this conditional?

[2016-06-08 14:28] WeirdBob opened #151 "java.lang.UnsatisfiedLinkError: no provided in java.library.path using spring boot/tomcat embedded"
I'm using netty 4.1.0CR7 & netty-tcnative-boringssl-static 1.1.33.Fork17 in a spring boot project (tomcat-embed-core-8.0.33). There seem to be an incompatibility in the org.apache.tomcat.jni.Library class (provided by both projects):
io.netty.handler.ssl.OpenSsl l81 : Library.initialize("provided"); fails when the tomcat provided Library class is loaded first since it tries to load a provided.dll

[2016-06-08 18:21] pires opened #152 "Release musl compatible binaries"
For the ones using Alpine Linux, it would be great to be have `musl` compatible binaries.

[2016-06-08 18:24] ejona86 commented on #152
We didn't confirm that glibc vs musl was the problem, but it seems likely and [only debug logging](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/NativeLibraryLoader.java#L164) will provide more information.

[2016-06-08 18:28] Scottmitch commented on #152
related to https://github.com/netty/netty-tcnative/issues/111

[2016-06-08 19:04] ejona86 commented on #152
I confirmed the problem was due to missing glibc. It is a musl vs glibc problem.

[code]

And then after a hack:
[code]

Compiling on Alpine would probably be necessary.

[2016-06-08 19:35] siyengar commented on #150
@nmittler ya you're right. It looks like it's working now. I must have hit an unrelated error and thought that this was the problem.

[2016-06-08 19:35] #150 closed

[2016-06-08 23:16] pires commented on #111
@dimitarg thanks to your work I've [automated the build of binaries for Alpine](https://github.com/pires/netty-tcnative-alpine) with Docker.
To whomever needs this, feel free to use and abuse.

[2016-06-08 23:17] pires commented on #152
@dimitarg thanks to your work I've [automated the build of binaries for Alpine](https://github.com/pires/netty-tcnative-alpine) with Docker.
To whomever needs this, feel free to use and abuse.

@ejona86 thank you very much for your support. Without you I'd take ages to get this going, if ever.

[2016-06-08 23:20] ejona86 commented on #152
And for posterity and those not familiar with java logging, this is the config I used to get debug log output (named `log.properties`):
[code]

And then specified `-Djava.util.logging.config.file=log.properties` when running java.

[2016-06-08 23:58] nmittler commented on #152
@ejona86 would you mind adding that to the tcnative wiki?

[2016-06-09 10:48] pires commented on #151
Same here.

[2016-06-09 14:24] Scottmitch commented on #151
@normanmaurer - perhaps addressing https://github.com/netty/netty-tcnative/issues/104, removing APR dependency, and move the remaining classes remaining to `io.netty.native.ssl` package may help with these conflicts ... wdyt?

[2016-06-09 14:26] normanmaurer commented on #151
Yep .... At some point I started with this. Let me pick it up next week again

[2016-06-09 14:27] nmittler commented on #151
@Scottmitch @normanmaurer maybe it's time to seriously start looking at conscrypt?

[2016-06-09 14:57] nmittler commented on #151
FYI, we already have an issue open for taking a look at conscyrpt: #114

[2016-06-09 15:54] nmittler commented on #114
FYI @davidben, you may be interested in this as well.

[2016-06-09 17:23] nmittler commented on #134
Looks like `chromium-stable` is building with msvc 2015.  I'll roll a PR to upgrade netty-tcnative.

[2016-06-09 17:25] normanmaurer commented on #134
Thx

[2016-06-10 14:44] tomfitzhenry opened #156 "BoringSSL: Allow option to enable renegotiation"
BoringSSL disables renegotiation by default:

It would be useful to have an option to enable this, for users with the "common use of requesting a new client certificate between an HTTP request and response in (unpipelined) HTTP/1.1" (such as myself!).

[2016-06-10 14:47] normanmaurer commented on #156
Will have a look... @tomfitzhenry do you use netty-tcnative with netty or not ?

[2016-06-10 14:52] tomfitzhenry commented on #156
I use netty-tcnative indirectly via https://github.com/AsyncHttpClient/async-http-client .

[2016-06-10 14:55] tomfitzhenry commented on #156
(Incidentally, I tried this with tcnative's OpenSSL bindings on OSX, and it seemed to hang after receiving CertificateRequest. I will raise an issue, once I've confirmed I'm not doing something stupid, and have steps to reproduce.)

[2016-06-10 16:08] Scottmitch commented on #156
@tomfitzhenry - What version of Netty are you using? Did you see the CVE mentioned in http://netty.io/news/2016/06/07/4-1-1-Final.html ?

[2016-06-10 16:23] #146 closed

[2016-06-12 18:53] #134 closed

[2016-06-13 09:32] jakkra commented on #148
Sorry, been away. Yes it seems to work, but can't confirm, because I ran into other problems. Not any relevant to this project tho.

[2016-06-13 12:20] normanmaurer commented on #137
@testn @Scottmitch actually the idea is to port relevant changes.

[2016-06-13 12:20] #137 closed

[2016-06-13 12:21] normanmaurer commented on #103
@nmittler I just saw they left a comment there. So did you ever test it with what they suggested ?

[2016-06-13 12:21] normanmaurer commented on #24
I think we can close this now as we have the "uberjar".

[2016-06-13 12:21] #24 closed

[2016-06-13 14:36] nmittler commented on #103
@normanmaurer No I haven't gotten around to it, unfortunately.  If someone else has the time/interest they can pick this up.

[2016-06-14 11:03] bbc-tomfitzhenry commented on #156
I'm using 4.0.37.Final, as that's the version used by async-http-client. async-http-client's upgrade to netty 4.1 is tracked in https://github.com/AsyncHttpClient/async-http-client/issues/1161 .

I hadn't seen the CVE. At the moment I don't have tc-native on my classpath, but that is worrying.

[2016-06-15 06:50] gregw commented on #114
Jetty had a look at tcnative, but it is too far off the reservation for us to consider using.   Not yet had a chance to look at conscrypt, but if it is JSSE compliant, that may be a better option for us.

we have in the meantime implemented native unix socket support so that we can use something like haproxy to offload ssl

[2016-06-15 07:11] normanmaurer commented on #114
@gregw what you mean with "far off the reservation" ? Can you elaborate a bit ?

Also do you have a link to your unix socket support ? We support it as well in netty but only for linux atm.

[2016-06-15 07:50] johnou commented on #114
@normanmaurer Aussie slang for not viable.

[2016-06-15 08:14] gregw commented on #114
@normanmaurer I've corrected my language.

Our unix-socket implementation is [here](https://github.com/eclipse/jetty.project/tree/jetty-9.4.x/jetty-unixsocket), it too is only for linux.

[2016-06-15 08:15] normanmaurer commented on #114
@gregw gotcha... thanks :)

[2016-06-16 18:17] #104 closed

[2016-06-20 06:47] TimYi commented on #136
Seems only package renaming will work.

[2016-06-27 16:27] mohamedhafez opened #165 "Release Notes"
I saw that 1.1.33.Fork18 just came out, it would be really helpful if basic release notes were included at https://github.com/netty/netty-tcnative/releases just so we know if its an urgent security release, or if we can take our time upgrading as needed

[2016-06-27 16:31] normanmaurer commented on #165
@mohamedhafez it is not out yet... Im still in the release process. If a release contains security fixes we mention it explicitly. 1.1.33.Fork18 will only be a bug-fix / feature release.

[2016-06-27 16:31] #165 closed

[2016-06-27 16:35] mohamedhafez commented on #165
Ah perfect, where exactly would that info be mentioned, at https://github.com/netty/netty-tcnative/releases?

[2016-07-02 17:27] jchambers commented on #136
In case the data is helpful for assessing impact or assigning priority, it seems like [Pushy](https://github.com/relayrides/pushy) users run into this problem pretty regularly.

As an aside, we actually ran into this problem ourselves; my first thought was to create an external RPC service so Pushy doesn't have to run inside a Tomcat container, but my [first choice for an RPC framework](http://www

[2016-07-04 08:35] blucas opened #166 "netty-tcnative fails to build for libressl"
Hi all,

With the latest set of changes (in Fork18), netty-tcnative fails to build for LibreSSL.

More specifically, I believe the issues I am having relate to change: https://github.com/netty/netty-tcnative/commit/444598bd5851fe92668953cd113396e72871a27f

As far as I can tell, LibreSSL does not have a function called `OPENSSL_malloc_init();` nor does it have a `define` for `TLS_ST_SR_CLNT_HELLO`.

[2016-07-04 09:19] normanmaurer commented on #166
@blucas let me check... what libressl version you are using ?

[2016-07-04 12:13] blucas commented on #166
@normanmaurer - I tried with 2.1.9 and 2.3.4.  One thing I've found is LibreSSL reports the OPENSSL_VERSION_NUMBER as 2.x+ so it kinda defeats the purpose of the version check.

[2016-07-04 12:47] normanmaurer commented on #166
@blucas yep... fixing it atm.. In the meantime you can compile against 2.4.x .

[2016-07-12 03:26] xsir commented on #135
Maybe this issue should be closed, thank you! #169

[2016-07-12 04:24] normanmaurer commented on #135
Fixed by https://github.com/netty/netty-tcnative/pull/169

[2016-07-12 04:24] #135 closed

[2016-07-14 16:45] #166 closed

[2016-07-14 19:20] pjulien opened #172 "Support Java 6"
Never noticed before because I'm always on Java 8 but this project requires Java 7.  Now that I'm stuck on Java 6, please consider adding support for Java 6.

PR incoming.

[2016-07-14 20:01] normanmaurer commented on #172
Fixed by https://github.com/netty/netty-tcnative/pull/173

[2016-07-14 20:01] #172 closed

[2016-07-22 15:21] xsir commented on #136
@shelined I encounter with the same problem is OSGi. Finally I resolved it and submitted a [PR #5545](https://github.com/netty/netty/pull/5545) to netty project. I wish it do some help, best regards.

[2016-07-22 15:50] shelined commented on #136
@xsir I just took a look at your PR but I am not as familiar with the loading of native libraries. Did you fix both the OSGi and non-OSGi case?

[2016-07-23 03:43] xsir commented on #136
@shelined Yes, I have tested the PR in OSGi env and as a normal application. But, I have NOT tested on Tomcat and not sure if works fine either. If the Tomcat has loaded the tcnative, it may be conflicted with netty-tcnative. I will look into it later.

[2016-08-05 09:43] jingene opened #176 "netty instance crashed when OpenSslEngine.unwrap"
Hi. I upgraded netty version recently, instance crashed sometimes.

netty : 4.0.37.Final
tcnative : 1.1.33.Fork17-linux-x86_64
OS : CentOS 6.5

below are core dump.
[code]
Thanks in advance.

[2016-08-05 09:45] normanmaurer commented on #176
@jingene can you please upgrade to 4.0.40.Final with latest tcnative and let me know if you still see it ?

[2016-08-05 09:46] jingene commented on #176
@normanmaurer OK. I'll try it. :)

[2016-08-08 03:41] jingene commented on #176
@normanmaurer I updated netty and tcnative, ssl negotiation error occurred.
version
  - netty : 4.0.40.Final
  - tcnative : 1.1.33.Fork19

below are errors.
2016-08-08 11:00:33|WARN |nioEventLoopGroup-3-1|[id: 0x4981bae4, L:/182.162.201.207:443 - R:/10.33.69.58:53013] TLS handshake failed:
javax.net.ssl.SSLHandshakeException: error:00000000:lib(0):func(0):reason(0)
        at io.netty.handler.ssl.

[2016-08-08 08:30] normanmaurer commented on #176
@jingene is it easy to reproduce for me ?

[2016-08-08 16:53] Scottmitch commented on #176
+1. reproducer would make it much easier to debug :)

Can you explain what is happening in terms of packets being exchanged during the handshake process? At what point is the handshake failing, who initiates the failure, is this a re-negotiation or initial handshake, are you using session tickets or TLS extensions (ALPN), etc...

What is `sslError` at `OpenSslEngine.handshake(OpenSslEngine.java:12

[2016-08-09 06:21] jingene commented on #176
@normanmaurer @Scottmitch
I'm sorry for late response. I updated openssl version(openssl-e -> openssl-t) and crash was disappeared until now. I'll attach reproduce step when crash occurred again. Thanks!

[2016-08-09 06:21] #176 closed

[2016-08-09 07:11] normanmaurer commented on #176
@jingene but what about the handshake error ?

[2016-08-16 22:51] nmittler opened #179 "Review usage of BoringSSL return values"
Some functions claim a narrower set of return values in BoringSSL than OpenSSL.  The BoringSSL team generally dislikes the -1/0/1 return and switched to 0/1 where feasible.

We should go through the code and make sure we correctly handle the return codes for both BoringSSL and OpenSSL.

[2016-08-16 22:54] Scottmitch commented on #179
+1. Thanks for reporting @nmittler! This seems like a bit of a manual process ... I wonder if there is a list of methods where return semantics may have "changed" that we can use to search our code with?

[2016-08-16 23:01] nmittler commented on #179
Good question.  @davidben any thoughts on how we might speed up our search?

[2016-08-16 23:27] nmittler commented on #179
Ah ok, thanks for clarifying.  I guess this should be a no-op then. Closing for now.

[2016-08-16 23:27] #179 closed

[2016-08-16 23:27] Scottmitch commented on #179
thanks for clarifying @davidben ... just to clarify BoringSSL still tolerates `-1` being returned from callback backs in the same way OpenSSL does, correct? If we can still use `== 1` (or `!=1`) to check for success then we should be ok.

[2016-08-16 23:37] davidben commented on #179
That's right. It would be a nightmare for us if third-party code targeting OpenSSL did not work with BoringSSL, so we're not going to change the meaning of callbacks on consumers. :-)

I think most of the stuff where callbacks (or `BIO`s) are involved, 0 vs -1 is actually significant, so we haven't done much to the return codes. BoringSSL's `SSL_read` still has the same complex dance that OpenSSL'

[2016-08-17 06:03] normanmaurer commented on #179
@danbev thanks for the details :) And yay for closing @nmittler =P

[2016-08-18 19:32] cconroy opened #180 "Proposal: re-home wiki page to git README"
I propose that we move the netty-tcnative wiki page (hosted in the Netty project) into the netty-tcnative project as the top level README.md.

I recently added 3rd party dependency verification instructions for users doing local builds, and also I hope that the official maintainers can follow these steps as well to ensure the integrity of our builds. However, anyone can edit the wiki page and coul

[2016-08-18 23:06] cconroy commented on #180
Though, my edits still haven't gone live on http://netty.io/wiki/forked-tomcat-native.html?

[2016-08-19 18:38] normanmaurer commented on #180
@cconroy I need to publish the site by hand for this. Will do later today.

[2016-08-25 13:24] dimitarg commented on #111
@pires based on your work I have this [automated via gradle]. Thanks! (https://github.com/dimitarg/build_tcnative_alpine/).
@normanmaurer If you folks decide to support this some day, we've now automated it down to a single command. It's written in gradle, though. I did not feel like writing such an involved thing in maven.

[2016-08-25 14:07] nmittler commented on #111
Thanks @dimitarg and @pires ... This looks great!

@normanmaurer @trustin  @Scottmitch perhaps we should resume the discussion of switching gradle? The simplicity of this configuration is in pretty stark contrast to the hackery required to make tcnative build in Maven. I think it's pretty clear at this point that the complexity of this project isn't well suited for Maven.

[2016-08-25 14:26] trustin commented on #111
+1 for switching to Gradle due to its customizability and speed.

[2016-08-25 15:04] pires commented on #111
@nmittler @trustin what @dimitarg did was to use Gradle to automate the build of [my container that builds `netty-tcnative`](https://github.com/pires/netty-tcnative-alpine). On that container, [I'm still using Maven to build the Java artifacts](https://github.com/pires/netty-tcnative-alpine/blob/master/compile.sh#L6).

That said, I have nothing to add in favor or against changing this project buil

[2016-08-25 18:01] Scottmitch commented on #111
i'm not opposed to switching but I would like to understand the concrete value. Simplicity, customization, speed are all good reasons and I'm interested to see a PR with these characteristics. One issue I have experienced with gradle (possibly pre 3.0) is order of execution between plugins/tasks can sometimes be less than intuitive.

Also who ever is willing to undertake this effort should conside

[2016-09-01 01:00] carl-mastrangelo opened #184 "Duplicate certificates returned Using Fork 21"
Running the gRPC SSL tests with fork 21 of netty TC native (and 4.1.5 netty)  results in duplicate certs being returned by `SSLSession.getPeerCertificates()`

These are not present (due to a different error) with Fork 20.

[2016-09-01 04:59] normanmaurer commented on #184
Will check

[2016-09-02 16:53] normanmaurer commented on #184
@carl-mastrangelo see https://github.com/netty/netty-tcnative/pull/185

[2016-09-05 10:54] pires opened #186 "Any reason why tags have now different name?"
It went from `netty-tcnative-1.1.33.Fork20` to `netty-tcnative-parent-1.1.33.Fork21`.

Since I have automated some stuff to use the first, I'm trying to figure out the reasoning behind this, if any to make sure I don't miss a thing when upgrading my stuff.

[2016-09-05 11:47] pires commented on #111
LibreSSL 2.4.2 doesn't compile on Alpine so Fork21 and Fork22 won't compile as well, with the following error:
[code]

Change introduced in https://github.com/netty/netty-tcnative/commit/fd95303caaeb02717821013d6bf86e537f085869.

Also, I spotted this from ~1yr ago, https://github.com/libressl-portable/portable/issues/96.

[2016-09-06 05:49] normanmaurer commented on #186
@pires no real reason beside that this is what the maven release plugin suggests when releasing.

[2016-09-06 05:49] #186 closed

[2016-09-06 05:50] #184 closed

[2016-09-06 07:46] pires commented on #186
Well, you said it, _suggests_. Thanks.

[2016-09-06 08:11] normanmaurer commented on #186
@pires yeah... seems like I should have payed more attention :(

[2016-09-06 16:26] alexlehm opened #187 "tcnative doesn't load in windows 64"
When using tcnative in windows64, I get a dll load error regardless of the version used. From the error message I would guess that the file is created in %TEMP% and the file is left open, which locks the file so that it cannot be loaded as dll.

I am currently using netty-tcnative-boringssl-static 1.1.33.Fork22 windows-x86_64, the same error shows when using the openssl dynamic version

[code]

[2016-09-06 16:52] normanmaurer commented on #187
@alexlehm duplicate of https://github.com/netty/netty/pull/5776

[2016-09-06 16:52] #187 closed

[2016-09-06 18:40] alexlehm commented on #187
thank you, I missed that since I only looked in the tcnative issue tracker
when changing the version to 4.1.6-snapshot, it works again.

[2016-09-08 06:25] carl-mastrangelo opened #188 "Unable to load on windows."
As seen here:

https://grpc-testing.appspot.com/job/gRPC-Java-PR-Windows/2178/testReport/junit/io.grpc.testing.integration/Http2NettyTest/classMethod/

@normanmaurer  I don't have a windows machine to test on, but perhaps since you changed that code recently you might know what could have caused this?

[code]

[2016-09-08 06:27] normanmaurer commented on #188
@carl-mastrangelo I think this is a duplicate of:
https://github.com/netty/netty/pull/5776

[2016-09-08 06:27] #188 closed

[2016-09-19 07:15] rohit321 commented on #151
Ran into this issue. We use spring-boot and grpc which requires netty-tcnative boring ssl. Is there any work around for this issue, as we are blocked on this

[2016-09-19 08:34] pires commented on #151
@rohit don't use Tomcat. Worked for me.

[2016-09-19 22:15] rohit321 commented on #151
Thanks @pires , Getting rid of tomcat did the trick!!

[2016-10-06 10:55] npanpaliya opened #194 "netty-tcnative not available for ppc64le on maven repository"
We want to port grpc-java on Power for which netty-tcnative jar built on Power is a pre-requisite.
Although I could build netty-tcnative on Power locally to satisfy the dependency of grpc-java, we would request to publish the jar for ppc64le platform too on maven's central repository. netty-tcnative does not have any porting issues on Power, so it should be easier.
Kindly let me know if any help i

[2016-10-10 12:30] Nayana-ibm opened #195 "Need netty-tcnative for s390x platform on maven repository"
We are building grpc-java master on s390x platform, however we were facing issue with netty-tcnative jar. This jar is not availble for s390x on maven repository. Hence build was failing.

We have built netty-tcnative on s390x by adding few changes in boringssl-static code.
Could you please publish the jar for s390x platform on maven central repository?

Kindly let us know if you need more informat

[2016-10-10 12:31] normanmaurer commented on #195
@Nayana-ibm we (netty core developers) have no s390x platform so I think this is not possible atm. That said if you want you can open a PR with the changes for boringssl-static and we can pull it in so you can more easily build it by yourself

[2016-10-10 13:23] WeirdBob commented on #151
Hi,
is there an update for this?
I switched from tomcat to jetty in order to be able to work but I should deploy with tomcat in production (corporate rules) so this one could become troublesome.

[2016-10-19 14:00] jprante opened #197 "1.1.33.Fork23 fails on Mac OS X 10.9.5 (Mavericks) using OpenSSL mode"
When using artifact `io.netty:netty-tcnative:1.1.33.Fork23:osx-x86_64` from Maven Central, the loading of the native library fails on Mac OS X 10.9.5 (Mavericks) with the exception given below.

1.1.33.Fork19 does work on Mac OS X 10.9.5 (Mavericks).

Suggestion: the wiki http://netty.io/wiki/forked-tomcat-native.html should contain a note about what released artifacts support what OS releases, or

[2016-10-20 23:29] Scottmitch commented on #197
agreed our docs could use some improvement in this area. However the exception indicates an issue with the apr library ... does updating this library solve your issue?

[2016-10-21 08:39] jprante commented on #197
There is no known method to me how to update `/usr/lib/libapr-1.0.dylib` on Mac OS X Mavericks without breaking the system. I assume the error will disappear using macOS Sierra.

[2016-10-21 21:22] Scottmitch commented on #197
IIUC the latest artifact was built on macOS Sierra with a apr obtained from `brew` ... ( @normanmaurer - correct me if I'm wrong)

[2016-10-21 21:23] Scottmitch commented on #197
@jprante - Have you tried building your own APR?

[2016-10-23 00:20] jprante commented on #197
Installing APR 1.5.2 by `brew install apr` works.

[code]

I'm not sure how netty-tcnative prefers `/usr/local/opt/apr/libexec/lib/libapr-1.0.dylib` but it seems to work somehow. Anyway, documentation would be much welcome.

[2016-10-23 01:20] normanmaurer commented on #197
Yes you need to install apr via brew as sierra not ships it anymore. I will update the docs soon

[2016-10-28 00:45] hzariv commented on #151
I filed #5948 on netty and it was closed as dup of this one. I am also using Spring Boot and Google gRPC and I am currently blocked as I need to use tomcat and gRPC together (I don't have the option of getting ride of Tomcat :-()

[2016-11-09 09:42] normanmaurer commented on #197
Updated details here:

https://github.com/netty/netty/wiki/Forked-Tomcat-Native

[2016-11-09 09:42] #197 closed

[2016-11-16 18:02] Scottmitch opened #203 "Lzma Dependency No Longer Supported"
Our LZMA dependency is no longer maintained [1] and has outstanding issues. Should we fork it, or find another project?

[code]

[1] https://github.com/jponge/lzma-java/issues/14#issuecomment-260933387

[2016-11-16 18:05] normanmaurer commented on #203
Let us move this to Netty issue tracker

[2016-11-16 18:11] Scottmitch commented on #203
whoops 😓

https://github.com/netty/netty/issues/6031

[2016-11-16 18:11] #203 closed

[2016-12-20 13:01] normanmaurer commented on #194
@npanpaliya if we want to support it we would need to have access to systems which are ppc64le which is currently not the case.

[2016-12-20 13:02] normanmaurer commented on #152
@ejona86 ^^

[2016-12-20 13:03] normanmaurer commented on #51
Actually this was fixed in the master branch. Closing this now

[2016-12-20 13:03] #51 closed

[2016-12-20 13:03] normanmaurer commented on #136
This is already fixed in the master branch as we renamed the package etc.

[2016-12-20 13:03] #136 closed

[2016-12-20 13:04] normanmaurer commented on #151
Fixed in master branch and will be part of 2.0

[2016-12-20 13:04] #151 closed

[2016-12-20 13:04] normanmaurer commented on #80
Seems like this can be closed. You can also use "netty-tcnative-boringssl-static" if you not want to worry about all of this

[2016-12-20 13:04] #80 closed

[2016-12-20 13:07] normanmaurer commented on #195
@Nayana-ibm ping... can you please let us know which changes you need for tcnative ? Best would be a PR.... That said we have currently no access to such a platform so we can not include it in the release cycle.

[2016-12-20 14:45] npanpaliya commented on #194
@normanmaurer I'll get back to you tomorrow on this.

[2016-12-20 14:56] flozano commented on #80
Yes, boringssl is much more convenient and works well in centos 6. Thanks!

On Dec 20, 2016 14:04, "Norman Maurer" <notifications@github.com> wrote:

[2016-12-20 21:59] Scottmitch commented on #195
even if a PR was submitted ... since we don't support this platform (we don't have access to one) there are no compatibility guarantees in the future.

[2016-12-21 06:03] normanmaurer commented on #195
+1... it's just an best effort thingy

[2016-12-21 13:21] npanpaliya commented on #194
Hi @normanmaurer,

Could you please check this and try https://openpowerfoundation.org/blogs/openpower-cognitive-cup/?

[2016-12-21 14:30] normanmaurer commented on #194
@npanpaliya what you mean with trying ?

[2016-12-21 15:05] npanpaliya commented on #194
@normanmaurer , you could check this link. https://ptopenlab.com/cloudlabconsole/index.html. Here, he can register and then apply for VM and then you can use that VM to build netty-tcnative jar for ppc64le. I've not tried it myself but it works.

[2016-12-21 21:08] normanmaurer commented on #130
@sunrenjie we fixed the docs and also re-added a windows slave

[2016-12-21 21:08] #130 closed

[2016-12-22 13:55] jorgheymans opened #214 "consider shading the org.tomcat classes"
I ran into an issue with a spring-boot enabled grpc server and TLS, using netty-tcnative-boringssl-static:1.1.33.Fork24.

Basically the problem was that my project included the spring-boot-starter-web dependency, which brings in spring-boot-starter-tomcat, which depends on tomcat-embed-core.  And this jar contains the same tomcat/jni classes used in openssl-dynamic, causing things to break.

[2016-12-27 17:17] Scottmitch commented on #214
This is a duplicate of https://github.com/netty/netty-tcnative/issues/136.

We have re-namespaced netty-tcnative into a different package on the `master` branch. This change will take effect in `netty-tcnative-2.0.0` and the next release of Netty should depend upon this new `netty-tcnative`.

[2016-12-27 17:17] #214 closed

[2016-12-29 14:09] npanpaliya commented on #194
Hi @normanmaurer , did you get a chance to try this SuperVessel stuff to get Power VM?

[2016-12-30 21:11] Scottmitch commented on #195
I feel the same way. We don't have access to this platform so we won't be able to effectively support it. The diff you submitted above for Netty doesn't look sufficiently generic either.

[2016-12-30 21:14] Scottmitch commented on #194
I would recommend building the artifact locally in the mean time. I don't think this will happen near term. If there are any special changes/build steps necessary please list them here so we may be able to use them in the future, or anyone else using this platform can also reap the benefits.

[2017-01-17 22:26] floragunncom opened #218 "Compile errors with Fork23 and OpenSSL 1.1.0c"
Try to statically compile netty tcnative 1.1.33.Fork23 with OpenSSL 1.1.0c on ubuntu 14.04 but it fails. With OpenSSL 1.0.2j its working.

So i assume the dynamically linked version will also not work with OpenSSL 1.1.0c?

gcc version 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.3)
<pre>
libtool: compile:  gcc -DHAVE_CONFIG_H -I. -I./src -O3 -Werror -DHAVE_OPENSSL -I/home/ubuntu/search-guard-nettytcnative-s

[2017-01-17 22:32] floragunncom commented on #218
Fork 25 does also fail with

<pre>
[INFO] libtool: compile:  gcc -DHAVE_CONFIG_H -I. -I./src -O3 -Werror -fno-omit-frame-pointer -DHAVE_OPENSSL -I/home/ubuntu/search-guard-nettytcnative-static/netty-tcnative/openssl-static/target/ssl/include -I/home/ubuntu/search-guard-nettytcnative-static/netty-tcnative/openssl-static/target/apr/include/apr-1 -D_LARGEFILE64_SOURCE -I/usr/lib/jvm/jdk1.8.0/include

[2017-01-18 03:03] Scottmitch commented on #218
Please try building against the `master` branch. Netty will be transitioning to the `master` branch soon and that is where we will support `1.1.x` OpenSSL APIs.

[2017-01-18 15:45] floragunncom commented on #218
Also no luck with master branch (on cbd38f31f250bd5329b3dfd535c89e4ae7b1c431)

<pre>
lib/jvm/jdk1.8.0/include -I/usr/lib/jvm/jdk1.8.0/include/linux -c -o src/sslcontext.lo src/sslcontext.c
[INFO] libtool: compile:  gcc -DHAVE_CONFIG_H -I. -I./src -O3 -Werror -fno-omit-frame-pointer -Wunused-variable -DHAVE_OPENSSL -I/home/ubuntu/search-guard-nettytcnative-static/netty-tcnative/openssl-static/targe

[2017-01-18 15:47] normanmaurer commented on #218
Will have a look

[2017-01-30 20:04] rkapsi opened #223 "Linux distros phasing out OpenSSL builds with SSL support"
It seems Linux distros are phasing out OpenSSL builds with SSL support and netty-tcnative is no longer working with it. In my case its on Arch Linux. I haven't looked yet but I think we need a build option for netty-tcnative to build without SSL support (i.e. TLS only).

netty-tcnative: 1.1.33.Fork26

[code]

[code]

[2017-01-30 20:09] normanmaurer commented on #223
@rkapsi interesting never saw this before. Let me check over the next days.

[2017-01-30 21:38] rkapsi commented on #223
It's possibly some other issue that manifests in a misleading (?) error. I was on Kernel 4.8 and OpenSSL 1.0.2j and there hadn't been any changes. And indeed, openssl itself didn't say anything about SSLv3 not being available.

[code]

I just upgraded to Kernel 4.9 and OpenSSL 1.0.2k and the problem persisted with 1.1.33.Fork26. I then went ahead and built my own tcnative (Fork27-SNAP) and that wo

[2017-01-31 00:34] Scottmitch commented on #223
@rkapsi - IIRC I have compiled my own OpenSSL (1.0.2.h) with config options only building >= TLS1 and I was able to link successfully (even to with versions of netty-tcnative). However I needed to include my own `openssl.ld` file to ensure linking went smoothly. See https://gist.github.com/Scottmitch/71a89d98b3af272aab6ae6bfed122c5a#gistcomment-1851752.

[2017-02-03 15:19] rkapsi commented on #223
@normanmaurer OK, I think I got to the bottom of the mystery. Kind of.

This [blog post](https://johnlane.ie/openssl-and-the-rails-breaking-arch-upgrade.html) gave me the clue.

Arch Linux (my distro) is as of `openssl-1.0.2.g` (March 1, 2016) no longer building with SSLv3 support and `openssl-1.0.2.f` (January 28, 2016) is the last version that works. I can repro by switching between these two ve

[2017-02-04 14:11] floragunncom opened #226 "No openssl/libressl static build on maven central"
Is there a special reason why netty-tcnative-openssl-static and netty-tcnative-libressl-static builds are not published to maven central? (according to http://netty.io/wiki/forked-tomcat-native.html)

[2017-02-04 14:19] normanmaurer commented on #226
@floragunncom yes, we not want to be responsible doing a new release each time a new libressl / OpenSSL version is out. At least not yet

[2017-02-04 14:28] floragunncom commented on #226
But why you have one for boringssl?

[2017-02-04 14:31] normanmaurer commented on #226
Because we have people of google working on netty-tcnative and they signed up for it

[2017-02-04 14:32] floragunncom commented on #226
thx

[2017-02-04 14:32] #226 closed

[2017-02-08 12:06] normanmaurer commented on #52
Let me fix this

[2017-02-14 19:49] Scottmitch opened #235 "LibreSSL 2.5.x updates"
A hack was introduced for LibreSSL 2.4.x to work around LibreSSL not supporting `X509_V_ERR_UNSPECIFIED` [1]. This hack should be removed when we updated to LibreSSL 2.5.x.

[1] https://github.com/netty/netty-tcnative/pull/234

[2017-03-01 14:54] anuraaga commented on #111
Hello - was wondering, is the current release process for tcnative documented anywhere? Checked the wiki and couldn't find it so wondering if it's "start up a bunch of VMs on the build machine and manually do things".

I think using docker for linux versions would make the build simpler, while also making it easy to add more linux variants like alpine. If this makes sense, I'd be happy to help con

[2017-03-01 14:55] anuraaga commented on #152
Sorry to spam - came across this issue while looking up info related to alpine linux, and wondering if it could be closed as a duplicate of #111? They seem to be the same issue, and #111 has progressed further it seems.

[2017-03-03 08:57] Scottmitch opened #243 "investigate enabling enable-ec_nistp_64_gcc_128 for our static builds"
https://wiki.openssl.org/index.php/Compilation_and_Installation

Use on little endian platforms when GCC supports __uint128_t. ECDH is about 2 to 4 times faster. Not enabled by default because Configure can't determine it. Enable it if your compiler defines __SIZEOF_INT128__, the CPU is little endian and it tolerates unaligned data access.

[2017-03-08 10:10] trustin commented on #111
@anuraaga Sounds like a great idea to me, although we will have to deal with Windows as well as a part of the process. I'm not actually familiar with the current netty-tcnative release process, so @normanmaurer could provide some guide here.

[2017-03-08 10:21] trustin commented on #111
Had a chance to talk to @anuraaga and it seems like Alpine Linux is not using GLIBC but [musl libc](https://www.musl-libc.org/) interestingly, and that's why our static builds do not work with it.

[2017-03-09 11:04] jorgheymans opened #246 "access violation in netty-tcnative-windows-x86_642806087707745240906.dll"
Hi,

I am encountering a reproducible core dump during grpc service calls between two java services.. Not sure how to troubleshoot this, or which information would be useful for you to guess what could be going on here.  We are using netty-tcnative-boringssl-static version 1.1.33.Fork26

[code]

[2017-03-09 11:12] normanmaurer commented on #246
@jorgheymans is this netty-tcnative-boringssl-static ?

[2017-03-09 11:17] jorgheymans commented on #246
@normanmaurer yes it is

[2017-03-09 17:24] Scottmitch commented on #246
Can you confirm which version of Netty you are using?

[2017-03-09 17:40] Scottmitch commented on #246
Can you share this reproducer?

[2017-03-09 18:04] jorgheymans commented on #246
Not easily no. The scenario is as follows: app A makes grpc call to app B,
and during the processing of this call, app B makes a grpc call back to app
A. Do you think the nested reverse call could have something to do with it
?

The version of netty we're using is what comes with grpc 1.1.2, so that
would be 4.1.8.Final.

On Thu, Mar 9, 2017 at 6:40 PM Scott Mitchell <notifications@github.com>
wro

[2017-03-09 18:37] Scottmitch commented on #246
Not sure. This doesn't seem like an unusual use case. The more interesting part on the surface is windows + boringssl ... I don't have any experience running this combination. Are you able to reproduce this on linux or macOS? This will be difficult to track down without a reproducer. We have also made a bunch of changes in this area (tcnative + netty's openssl engine) and should release *soon* ...

[2017-03-09 19:33] jorgheymans commented on #246
ok i will try with two basic apps calling each other over grpc in the same
way to see if i can isolate it. Will post back sometime tomorrow (GMT)

On Thu, Mar 9, 2017 at 7:37 PM Scott Mitchell <notifications@github.com>
wrote:

[2017-03-10 07:34] jorgheymans commented on #246
I was not able to reproduce it with a basic scenario, no luck. For the moment we have simplified our service interaction and we no longer get the error so I will leave it at that. I'll report back if it appears again.

[2017-03-24 11:47] snazy opened #256 "Update to openssl 1.1.1 with TLS 1.3"
OpenSSL 1.1.1 is about to add support for TLS 1.3 according to this [blog post](https://www.openssl.org/blog/blog/2016/10/24/f2f-roadmap/).
Would be great to have TLS 1.3 in Netty via OpenSSL!

[2017-03-24 15:27] nename0 commented on #256
Related to #249 , as 1.1.1 will be have equal api as 1.1.0:

**If you have  applications that use OpenSSL, start migrating to OpenSSL 1.1.0 now. Then, when the version supporting TLS 1.3 is available, you can just "drop it in."**  If you don't have applications to migrate, then follow along on the GitHub repository; same basic interop is already working.  Let the countdown to global TLS 1.3 enable

[2017-03-25 13:00] nename0 commented on #218
Related to #249

[2017-03-28 08:27] normanmaurer commented on #218
Fixed by https://github.com/netty/netty-tcnative/pull/249

[2017-03-28 08:27] #218 closed

[2017-03-28 17:48] Scottmitch opened #257 "io.netty.handler.ssl.OpenSsl#doesSupportProtocol may not produce expected results with openssl 1.1.0+"
As of PR https://github.com/netty/netty-tcnative/pull/249 `io.netty.handler.ssl.OpenSsl#doesSupportProtocol` may not produce the expected results. We should either find an alternative/more reliable way to determine supported protocols, or revert code from PR https://github.com/netty/netty-tcnative/pull/249 which always forces using the new `TLS_*method` if the version of OpenSSL is >= 1.1.0, and a

[2017-03-28 17:49] Scottmitch commented on #257
Related: https://github.com/netty/netty-tcnative/pull/249#discussion_r108459111

[2017-03-28 17:57] normanmaurer commented on #257
Thanks for open this

[2017-04-06 16:20] snazy opened #263 "Remove usage of SSL_set_state"
According to the [OpenSSL changelog](https://www.openssl.org/news/changelog.html), _SSL_set_state() has been removed altogether._ in 1.1.0.

Therefore, compiling netty-tcnative against 1.1.0e results in a compile error.

This is related to https://github.com/netty/netty/issues/6320

[code]

[2017-04-06 23:33] Scottmitch commented on #263
Removal of `setState` from `netty-tcnative` should be trivial. The implications on Netty and as it relates to renegotiation may be more involved and will be handled in netty/netty#6320.

[2017-04-19 15:52] mkw opened #264 "Native libraries fail to load in Docker when `--tmpfs /tmp` set due to "noexec" flag on /tmp"
Docker containers are frequently created with `--tmpfs /tmp` set to make the temp directory writeable even when the rest of the filesystem is read only (or just because someone is paranoid about security).  Unfortunately, it appears that the default mounting flags include "noexec" in Docker.

So, there is no bug, but if there's any sort of pattern to work around having noexec set on /tmp, it would

[2017-04-19 21:58] rkapsi opened #265 "2.0.1.Final built with TCN_OCSP_NOT_SUPPORTED ?"
When I try to use the netty-tcnative 2.0.1.Final artifact from maven central I'm getting this Exception when trying to enable OCSP on the context. As if it was built with `TCN_OCSP_NOT_SUPPORTED`.

[code]

https://github.com/netty/netty-tcnative/blob/master/openssl-dynamic/src/main/c/sslcontext.c#L1615

https://github.com/netty/netty-tcnative/blob/master/openssl-dynamic/src/main/c/ssl_private.h#L1

[2017-04-20 02:08] normanmaurer commented on #265
Which OS and which artifact?

[2017-04-20 12:34] rkapsi commented on #265
[code]

[code]

[2017-04-24 20:40] rkapsi commented on #263
Officially stuck with this as well. I'm temporarily working around it by excluding the `openssl-dynamic` module and using the `netty-tcnative-openssl-static` artifact.

[code]

[2017-04-26 16:40] flozano opened #266 "IncompatibleClassChangeError in 2.0.1 / netty 4.1.9"
[code]

Using netty 4.1.9, netty-tcnative-boringssl-static-2.0.1.Final-osx-x86_64.jar, netty-tcnative-boringssl-static-2.0.1.Final.jar (but also reproduceable in Linux in our CI )

With 2.0.0 it doesn't seem to happen.

[2017-04-26 16:45] normanmaurer commented on #266
Yes you can only use it with 4.0.10

[2017-04-26 17:10] flozano commented on #266
Oh, ok...

[2017-04-26 17:10] #266 closed

[2017-04-27 02:23] Scottmitch commented on #265
@normanmaurer - IIRC you build with OpenSSL 1.0.1 when you release? We have discussed building with 1.0.2 and using weak linking techniques to accommodate older versions at link time.

https://github.com/netty/netty-tcnative/blob/master/openssl-dynamic/src/main/c/ssl_private.h#L166
[code]

So we can either:
1. update how we release (may require code changes and testing)
2. relax this version check

[2017-04-27 02:28] Scottmitch commented on #264
Netty should log when we are unable to load the library [1] and you can change where Netty writes to the file system [2]. Feel free to suggest an alternative approach with a PR/issue in Netty though.

[1] https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/NativeLibraryLoader.java#L174
[2] https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/in

[2017-04-27 02:28] #264 closed

[2017-04-27 15:25] rkapsi commented on #265
@Scottmitch nice, I didn't realize the dynamic lib is linked against 1.0.1 and thought they all target the same version what's configured in the POM.

I think No. 2 makes sense in this context unless you want to make a statement and shoot down 1.0.1 for the greater good (which is cool too).

[2017-04-27 15:38] normanmaurer commented on #265
@rkapsi @Scottmitch 2) makes sense.

@rkapsi want to do a pr ?

[2017-04-27 16:05] rkapsi commented on #265
on it

[2017-04-27 16:48] Scottmitch commented on #265
For the static libraries the version should match, but for the libraries which require dynamic linking they are compiled against whatever is on the host machine. IIRC we currently only release a statically built BoringSSL. So you should be able to use this artifact as a temporary work around (if you are OK with using BoringSSL).

[2017-05-05 08:50] floragunncom opened #269 "2.0.0.Final openssl dynamic build with 1.0.1"
Looks like 2.0.0.Final openssl dynamic (non-fedora) was build somehow against 1.0.1 openssl because i get the following error though i have 1.0.2 installed (reported by `OpenSsl.version()`)

<pre>
java.lang.Exception: hostname verification requires OpenSSL 1.0.2+
	at io.netty.internal.tcnative.SSL.setHostNameValidation(Native Method)
	at io.netty.internal.tcnative.HostnameVerifierTest.testVerifier

[2017-05-16 14:20] floragunncom opened #271 "Compatibility Matrix"
Ist there a matrix (or other kind of documentation) where i can see which tcnative version is compatible with which netty version?

[2017-05-17 21:08] Scottmitch commented on #271
Duplicate of https://github.com/netty/netty/issues/4808. Currently there is nothing but lets continue the discussion there. We have considered moving the netty-tcnative project into the netty project which would alleviate version mismatch ambiguities, but have not fully investigated the feasibility of this approach yet.

[2017-05-17 21:08] #271 closed

[2017-05-17 21:12] Scottmitch commented on #269
Yes the release process currently compiles against 1.0.1 and this is an issue. See https://github.com/netty/netty-tcnative/issues/265#issuecomment-297593386. Temporary work around is to re-build tcnative with the desired version of OpenSSL, or use the static BoringSSL library in maven central.

[2017-05-17 21:14] Scottmitch opened #273 "Use weak linking to enable 1.0.2 features for dynamically linked released artifacts"
Currently we compile the dynamically linked artifacts against OpenSSL 1.0.1, and we have compile time flags which limit the available feature set. We should consider building against OpenSSL 1.0.2 and/or using weak linking so that folks that link with a newer version of OpenSSL at runtime can use these features supported by the newer version.

[2017-05-17 21:14] Scottmitch commented on #269
Related: https://github.com/netty/netty-tcnative/issues/273

[2017-05-17 21:14] Scottmitch commented on #273
Related:
https://github.com/netty/netty-tcnative/issues/265#issuecomment-297593386
https://github.com/netty/netty-tcnative/issues/269

[2017-05-31 12:34] johnou commented on #40
https://github.com/netty/netty-tcnative/commit/abded8736ac28d6044d1cd8439187f5af0ede0ce

[2017-05-31 17:40] #265 closed

[2017-05-31 20:46] Scottmitch commented on #40
FWIW I don't think abded8736ac28d6044d1cd8439187f5af0ede0ce is necessary and may be confusing (openssl will not take ownership of these elements).

[2017-06-07 15:23] normanmaurer opened #280 "2.0.3.Final"

[2017-06-07 15:24] #280 closed

[2017-06-23 23:24] carl-mastrangelo opened #291 "netty-tcnative-boringssl-static 2.0.4 missing native deps"
Not sure why, but the shared objects normally present in the maven jar are missing.
Before:
[code]

After:
[code]

[2017-06-24 04:30] normanmaurer commented on #291
Seems like I missed something during release process :/ will do another release, 😐

[2017-06-25 07:11] normanmaurer commented on #291
@carl-mastrangelo sorry... released 2.0.5.Final which fixes this

[2017-06-25 07:11] #291 closed

[2017-06-30 23:18] AshleyByeUK opened #292 "Static and Dynamic libraries working on macOS but not on Ubuntu and Fedora"
I've an app which runs absolutely fine with both the dynamically and statically linked libraries on macOS using `1.1.33.Fork26` against `OpenSSL 1.0.21` and `APR 1.6.2` (both through homebrew). However, on both Ubuntu 17.04 and and Fedora 25 I get the following exception (it looks like a Vert.x exception which obfuscates the original, so probably not much help to you guys):
[code]
On both Ubuntu a

[2017-07-03 15:30] Scottmitch commented on #292
From a Netty perspective http://netty.io/wiki/forked-tomcat-native.html should provide enough information for you to use netty-tcnative (and even compile it your self). Have you tried using the most recently released versions of Netty and netty-tcnative? Can you provide a minimal Netty-only reproducer for your issue and describe any additional relevant configuration on the host machines?

[2017-08-15 17:36] matejsp opened #297 "Support to Tomcat"
I understood that this is a fork from tomcat native with additional support for couple of very nice features like mavenization, non static compilation and support for other crypto libraries. However when I tried it using tomcat it was not working. Can you add it or at least preserve it from upstream.

If this is not the goal of this project then perhaps rename is in order (netty-native instead of

[2017-08-15 17:38] normanmaurer commented on #297
Yeah sorry this is not the scope... we PLB to merge this code base into netty directly

[2017-08-15 17:38] #297 closed

[2017-08-15 20:58] Scottmitch commented on #297
My preference is to move netty-tcnative into Netty. There at one time was little semblance to tomcat, and since this time IIUC they have actually taken our changes into tcnative 2.0. This will help avoid confusion from versioning, relationship to tomcat, and allow for more shared JNI / native library loading code.

[2017-08-25 02:21] perezd commented on #114
Any movement on this? Has this died? I'm trying to personally make sense of how all these dependencies currently fit into netty:
https://stackoverflow.com/questions/45852625/design-architecture-of-nettys-handler-ssl-package

[2017-08-25 03:13] ejona86 commented on #114
@perezd, yes, there's been progress. There's been Conscrypt support added to Netty and Conscrypt [has a website](http://conscrypt.org/) and the performance of the SSLEngine was improved a lot (based on tcnative; Android doesn't use SSLEngine much).

Conscrypt now has [artifacts on Maven Central](http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.conscrypt%22), and is _very_ close to a 1.0 relea

[2017-08-25 04:34] perezd commented on #114
Thanks for the update!

I'm not sure if this is really the right place to ask this question, but I'm kinda stumped: How does one compile netty properly if tc-native AND conscrypt are both statically including their own versions of BoringSSL. Doesn't this cause some kind of runtime collision/conflict?

[2017-08-25 04:47] ejona86 commented on #114
I've been able to include tcnative and Conscrypt at runtime, and use each in the same process. The static BoringSSL doesn't cause any problem. Runtime detection is annoying, but if you know exactly what your binary will include it is pretty straight-forward. You mainly just configure Netty's SslContextBuilder to use JDK for Conscrypt or TCNATIVE for tcnative, and specify Conscrypt (`Conscrypt.newP

[2017-08-25 18:56] dineshappavoo opened #301 "Netty tcnative build for Mac fails"
I followed the http://netty.io/wiki/forked-tomcat-native.html#building-on-mac-os-x wiki to build netty-tcnative with a static openssl. I got some error with the build,

[code]

Could you help me with this issue?

[2017-08-25 21:19] Scottmitch commented on #301
can you run `./configure` manually, or is the output captured in a log file ... if would be helpful to know why configure failed.

[2017-08-25 22:59] dineshappavoo commented on #301
@Scottmitch  Thanks for looking into this issue. It looks like I was in the wrong directory to run the `mvn clean install`. I ran from the top level netty-tcnative folder. Then I moved to `netty-tcnative/openssl-static` folder and ran mvn clean install, it worked.

Also it would be helpful add a note in the wiki to switch to the folder {openssl-static, openssl-dynamic etc} before running `mvn clea

[2017-08-26 05:09] Scottmitch commented on #301
you should be able to run from the top level directory. If `configure` is failing it is likely your environment is not setup correctly. It is possible the readme is out of date ... I haven't verified from a fresh setup in a while.

[2017-09-14 16:36] stresler commented on #111
@pires I'm trying to compile your alpine version (thanks!) apr has moved to 1.6.2 and I can make that change, but then I stumbled across this https://github.com/netty/netty-tcnative/pull/255

I don't have time to delve into that, but will that glibc dependency kill musl compatibility in the future?

[2017-09-15 22:56] dineshappavoo opened #303 "Getting `NPN_AND_ALPN` support error for netty-tcnative with openssl-static"
I built the openssl-static by following this wiki http://netty.io/wiki/forked-tomcat-native.html#building-on-mac-os-x . I am getting `NPN_AND_ALPN` protocol error when I send a http2 request for this server.

`channel: java.lang.UnsupportedOperationException: JDK provider does not support NPN_AND_ALPN protocol`

Could someone help me with this?

[2017-09-17 19:21] Scottmitch commented on #303
This means you are using the JDK's SslProvider ... which as indicated doesn't support this mode. I would expect OPENSSL to be used by default it you are not explicitly specifying an SslProvider and we are able to load the JNI libraries. What does `OpenSsl.unavailabilityCause()` return, and how do you configure your `SslContextBuilder`?

[2017-09-25 14:11] nmittler opened #306 "Build with MSVC 2017"
BoringSSL (and chromium) are switching to MSVC 2017. Probably a good idea to get ahead of this.

[2017-09-26 07:28] normanmaurer commented on #306
@nmittler go for it :)

[2017-09-27 16:19] doom369 opened #307 "Netty OpenSsl.isAvailable() check doesn't handle lib loading issue on 32bit JVM"
Details are here : https://github.com/netty/netty/issues/7150#issuecomment-332542876

Brief summary:

Right now `tcnative` library has name `libnetty_tcnative.so` and this name doesn't include OS classifier that prevents netty from loading this library if system architecture doesn't match with packed version. For example, epoll native library name look like this `libnetty_transport_native_epoll_x8

[2017-10-05 21:41] odaira commented on #194
Hi, @normanmaurer

I hit the same problem.  I can provide you with the binaries built on ppc64le, but I guess you would like to build them yourself, correct?

[2017-10-09 19:18] dineshappavoo commented on #303
It looks like my openssl-static jar wasn't fetched properly that's the reason if falls back to JDK's SSLProvider. That was an error in our application.

Thanks for helping on this. Resolving.

[2017-10-09 19:18] #303 closed

[2017-10-09 20:08] dineshappavoo opened #308 "netty-tcnative-parent-2.0.5.Final build issue"
I am trying to build netty-tcnative-parent-2.0.5.Final with openssl-static. I am getting build error while fetching apr 1.5.2

[code]

It looks like pom file has apr `1.5.2` version [ https://github.com/netty/netty-tcnative/blob/netty-tcnative-parent-2.0.5.Final/pom.xml#L52 ] from `http://www.us.apache.org/dist/apr/${aprArchiveFile}` URL. [ ref: https://github.com/netty/netty-tcnative/blob/7a72db5

[2017-10-13 01:49] vrozov opened #309 "Publish uber netty-tcnative jar that supports all platforms to maven"
Currently, consumers of netty-tcnative jar make a build time decision what jar to include into dependency using classifier. By providing uber netty-tcnative jar this decision may be deferred to run-time when the actual platform is known.

[2017-10-13 02:11] normanmaurer commented on #309
netty-tcnative-boringssl-static does exactly this. Include it without specify the classifier and you have support on macOS, Linux and windows

[2017-10-13 02:11] #309 closed

[2017-10-13 03:58] vrozov commented on #309
The request is for the default netty-tcnative library that dynamically links to openSSL.

[2017-10-13 15:27] vrozov commented on #309
@normanmaurer Any specific reason that uber jar is not provided for the default library that dynamically links with openssl.

[2017-10-16 18:35] vrozov commented on #309
@normanmaurer Any update on this? Any project that wants to utilize openssl-dynamic netty-tcnative library has to
1. Use maven extension that is not well supported by Eclipse IDE
2. Has to include all {os_arch} into distribution and change startup script to select a proper library at startup.

[2017-10-19 10:01] floragunncom opened #311 "AUFS docker filesystem not working"
* netty 4.1.13
* on dockerized ubuntu 14.04 with openssl 1.1.0f and libapr1 1.5.2
* OpenJDK Runtime Environment (build 1.8.0_141-8u141-b15-1~deb9u1-b15)
* netty-tcnative-2.0.5.Final-linux-x86_64.jar

When /tmp is mounted on AUFS like

`none on / type aufs (rw,relatime,si=357364fc583ca134,dio,dirperm1)`

it results in

<pre>
[2017-10-19T11:00:05,733][DEBUG][i.n.u.i.NativeLibraryLoader] -Dio.netty.t

[2017-10-19 13:57] floragunncom opened #312 "java.lang.UnsatisfiedLinkError: io.netty.internal.tcnative.Library.aprMajorVersion()I"
* netty 4.1.13
* on ubuntu 14.04 with openssl 1.1.0f and libapr1 1.5.2
* OpenJDK Runtime Environment (build 1.8.0_141-8u141-b15-1~deb9u1-b15)
* netty-tcnative-2.0.5.Final-linux-x86_64.jar

APR was installed with `sudo apt-get -y update && sudo apt-get -y install libapr1`

<pre>
[2017-10-19T13:52:24,549][DEBUG][i.n.u.i.NativeLibraryLoader] Successfully loaded the library: netty-tcnative-linux-x86_6

[2017-10-19 20:06] floragunncom opened #313 "Unable to build tcnative 2.0.6.Final against openssl 1.1.0f (static)"
Static build of tcnative 2.0.6.Final against openssl 1.1.0f fails (Ubuntu):
<pre>
...
[INFO]  /bin/bash ./config.status
[INFO] config.status: creating Makefile
[INFO] config.status: creating src/config.h
[INFO] config.status: src/config.h is unchanged
[INFO] config.status: executing libtool commands
[INFO] /bin/bash ./libtool  --tag=CC   --mode=compile gcc -DHAVE_CONFIG_H -I. -I./src     -O3 -Werr

[2017-10-19 20:07] floragunncom commented on #308
See https://mail-archives.apache.org/mod_mbox/apr-dev/201710.mbox/%3cCACsi2532W69+QrKoYUwB--pqOF1f_OfmzY6A8u2AybsWYVdDyg@mail.gmail.com%3e

[2017-10-21 04:06] lagrangian-mech commented on #308
Since archive.apache.org appears to have both the current version and past versions, perhaps the pom should be changed from http://www.us.apache.org/... to http://archive.apache.org/...

Then both builds of the latest version of netty-tcnative and past versions will be able to find what they need.

[2017-10-23 09:36] normanmaurer commented on #308
@lagrangian-mech https://github.com/netty/netty-tcnative/pull/314

[2017-10-23 17:29] normanmaurer commented on #308
Fixed

[2017-10-23 17:29] #308 closed

[2017-10-23 23:37] Scottmitch commented on #313
Duplicate:

https://github.com/netty/netty-tcnative/issues/263

[2017-10-23 23:37] #313 closed

[2017-10-23 23:39] Scottmitch commented on #312
We don't yet support 1.1.x. Related:

https://github.com/netty/netty-tcnative/pull/249
https://github.com/netty/netty/issues/6320

[2017-10-24 13:07] normanmaurer commented on #312
Please check https://github.com/netty/netty/issues/6320#issuecomment-338983404

[2017-10-24 13:54] normanmaurer commented on #307
@doom369 PTAL https://github.com/netty/netty-tcnative/pull/315

[2017-10-25 05:32] normanmaurer commented on #306
@nmittler any update ?

[2017-10-27 17:49] normanmaurer commented on #309
@vrozov while we may could do this this also will complicate releasing etc. I am not feeling very strong to really need this honestly.

 @ejona86 @Scottmitch @carl-mastrangelo @Scottmitch what is your take on this ?

[2017-10-27 18:19] vrozov commented on #309
@normanmaurer why will it complicate the release if you already do it for netty-tcnative-boringssl-static?

[2017-10-27 22:38] ejona86 commented on #309
@vrozov, could you explain a bit more about your environment/use-case?

boringssl-static doesn't have the problem with Fedora vs Debian. Right now the dynamic version uses the same name between those two. But [I _think_](https://github.com/netty/netty/blob/0fffc844d6d4c8e196a8448a45e7ff542446f708/handler/src/main/java/io/netty/handler/ssl/OpenSsl.java#L414) that may be solved by just renaming the

[2017-10-27 23:05] vrozov commented on #309
Consider a project (for example Apache Drill) that wants to enable SSL using openssl instead of JDK for the same reason why netty provides openssl/netty-tcnative library and does not always rely on JDK. Now to consume netty-tcnative, it is necessary to complicate maven pom dependency and it still does not solve run-time dependency as during drill build, we do not know run-time OS.

Requiring opens

[2017-10-27 23:32] ejona86 commented on #309
@normanmaurer, given that you can't necessarily upgrade netty-tcnative without also upgrading netty, I think it can make sense to provide something here. Note that with something like Conscrypt, updating in face of vulnerability would be easier.

It would _mostly_ work (assuming fedora .so was renamed) for an application to depend on each of the variations of netty-tcnative, as the .class files wi

[2017-11-01 00:01] dineshappavoo commented on #308
@normanmaurer Thanks for taking care of this. I think the next release `2.0.7` should be fine with this change. But for the current release 2.0.6 it is failing now because apache released a new version 1.6.3 and they removed 1.6.2 from http://www.us.apache.org/dist/apr/ .

I understand your change is in master. Is it possible to update your change at least in the current release 2.0.6.Final? It wo

[2017-11-01 07:48] normanmaurer commented on #308
@dineshappavoo its a bad-practise to change code in a tag that was released. We will release 2.0.7.Final this week which will have the fix.

[2017-11-06 23:20] dineshappavoo opened #321 "netty-tcnative-parent-2.0.7.Final openssl-static build issue"
I am trying to run openssl-static with netty-tcnative-parent-2.0.7.Final release. I am getting the following error while opening `netty-tcnative/openssl-static/target/old/1.0.2/openssl-1.0.2l.tar.gz`

[code]

Do I need to make any changes to fix this? I am following this [wiki](http://netty.io/wiki/forked-tomcat-native.html#building-on-mac-os-x)

Could someone help me with this?

[2017-11-07 00:10] nhnFreespirit commented on #321
This only seems to be an issue when building from the 2.0.7 tag, not when building from latest master (which includes the bump to openssl 1.0.2m)

[2017-11-13 07:44] normanmaurer commented on #321
We should adjust the build so we can also build old tags.

[2017-11-13 08:23] normanmaurer commented on #321
Will be fixed by https://github.com/netty/netty-tcnative/pull/322

[2017-11-14 08:53] normanmaurer commented on #321
Fixed in https://github.com/netty/netty-tcnative/pull/322

[2017-11-14 08:53] #321 closed

[2017-11-17 15:35] vrozov commented on #309
@normanmaurer Is there a final word on the issue?

[2017-11-17 16:28] normanmaurer commented on #309
Sorry had no time yet to investigate

[2017-11-20 08:34] chzhong opened #323 "netty-tcnative library file name error leads java.lang.IllegalArgumentException: Failed to load any of the given libraries"
Recent builds (2.0.4, 2.0.5 and 2.0.6) leads an native library load error from maven repo.

Trace:

Discovered reason:
2.0.4.Final: The native library is not packaged in the deployed jar.
2.0.5 & 2.0.6: The native library used a different name as netty-handler-4.1.x.

Accroding to codes is netty-handler-4.1.x:

The library name should be something like **netty-tcnative-linux-x86_64** (words are co

[2017-11-20 08:36] normanmaurer commented on #323
@chzhong you need to update your netty version as well which uses `_`

[2017-11-30 07:22] #246 closed

[2017-11-30 07:25] normanmaurer commented on #246
Did you figure it out?

[2017-11-30 08:41] jorgheymans commented on #246
not really no, the error did not occur anymore since then so i assumed it was ok to close the issue.

[2017-11-30 08:41] normanmaurer commented on #246
ok thanks

[2017-12-13 17:01] gyndav commented on #111
@pires do you still publish the built versions somewhere? Didn't not managed to compile it entirely tho.

[2017-12-13 17:57] pires commented on #111
gyndav yes https://github.com/pires/netty-tcnative-alpine/releases 2.0.6 is the latest but one can easily change that.

[2017-12-15 02:30] zeewane opened #324 "netty-tcnative build on centos 5.11 failure : Could not find artifact io.netty:netty-tcnative-openssl-static:zip"
I try to build tcnative-2.0.8-final-snapshot on centos 5.11,I follow the "build on linux tips" in readme wiki,but it doesn`t work.

System : **centos5.11**

[root@localhost openssl-static]# uname -a
Linux localhost.localdomain **2.6.18-398.el5** #1 SMP Tue Sep 16 20:50:52 EDT 2014 x86_64 x86_64 x86_64 GNU/Linux

[root@localhost openssl-static]# java -version
java version "**1.8.0_144**"
Java(TM) S

[2017-12-19 02:06] Scottmitch commented on #324
Did you see this error?

[2017-12-19 02:14] zeewane commented on #324
Yes I notice this error and I update my autoconf version to 2.69, but it`s still not work yet....  @Scottmitch

[2018-01-02 18:34] #263 closed

[2018-01-03 05:29] zeewane commented on #324
I solved this problem by updating the automake version 1.9.6->1.14,and there has other error logs...
I will try again...

[2018-01-04 02:29] Scottmitch commented on #324
Sounds like your environment is not correctly configured, and/or the required dependencies are not up to date. Please refer to https://netty.io/wiki/forked-tomcat-native.html#how-to-build.

[2018-01-12 01:06] nasica88 opened #327 "error during FTP transfer"
I encountered error while doing 'mvn clean install'.   The error says FTP connection was reset.

I find that openssl-static/target/antrun/build-main.xml contains wrong name of the file to be downloaded.  It contains 7~8 entries of openssl-1.0.2m.tar.gz, but the actual site of ftp.openssl.org/source contains none with that name, but openssl-1.0.2n.tar.gz  (n, not m).

  <ftp server="ftp.openssl.org

[2018-01-12 01:23] normanmaurer commented on #327
Which branch you try to build?

[2018-01-12 02:04] nasica88 commented on #327
@normanmaurer

I tried netty-tcnative-parent-2.0.5.Final, netty-tcnative-parent-2.0.6.Final, and netty-tcnative-parent-2.0.7.Final.  All had similar issues.

By the way, I found a work-around by editing openssl-static/pom.xml as below.

                        <include name="**/openssl-1.0.2.n.tar.gz" />

[2018-01-12 03:02] normanmaurer commented on #327
I think it is fixed when building master

[2018-01-16 20:42] adprocas opened #328 "Failed to load any of the given libraries: [netty-tcnative-windows-x86_64, netty-tcnative]"
Hello,

I'm getting the following error when trying to use **2.0.7.Final**

I'm on **Windows 7 64-bit**.

Here's my netty-tcnative dependency:

`<dependency org="io.netty" name="netty-tcnative-boringssl-static" rev="1.1.33.Fork26" conf="core->default" />`

I also have the following related dependencies (I probably need to clean a few of these up):

[code]

I'm using **Ant** and **Wicket** on Glass

[2018-01-17 02:53] Scottmitch commented on #328
It looks like you are using Netty `4.1.12` which requires [netty-tcnative 2.0.3](https://github.com/netty/netty/blob/netty-4.1.12.Final/pom.xml#L191). The versions of Netty and netty-tcnative must be kept in sync as the netty-tcnative is treated as an internal package and breaking changes maybe made.

[2018-01-17 02:54] Scottmitch commented on #328
Please re-open this issue if correcting the version doesn't resolve this issue.

[2018-01-17 02:54] #328 closed

[2018-01-17 13:22] adprocas commented on #328
Thanks @Scottmitch,

I didn't think to look that way for the requirements.  I'm wondering if it might be good to write something up about what versions are required?

[2018-01-17 22:13] Scottmitch commented on #328
@adprocas - Agreed the relationship / dependency structure is not documented very well. I would like to pull netty-tcnative into the Netty project since there is such tight coupling and the way it is treated as an internal dependency. In this case it should resolve the versioning conflicts.

[2018-01-17 22:13] Scottmitch commented on #328
/cc @normanmaurer - we have discussed this in the past. was there any obstacle to doing this (other than time)?

[2018-02-02 03:28] perezd commented on #114
Hi there, any progress on this front?

[2018-02-02 09:15] normanmaurer commented on #114
@perezd nope

[2018-02-05 15:34] s-gheldd opened #330 "libnetty-tcnative-linux-x86_64 SIGSEGV "Register to memory mapping:""
# libnetty-tcnative-linux-x86_64 SIGSEGV "Register to memory mapping:"

Hi,

we are repeatedly seeing a segfault in the libnetty-tcnative-linux-x86_64 library, pertaining to memory mapped files.

If you had any pointers to what the problem might be, we would be very grateful.

### Expected behavior

Continously running netty with tcnative.

### Actual behavior

Segfault and OOM.

### Steps to repr

[2018-02-10 02:27] Scottmitch commented on #114
The current relationship is Conscrypt generally takes changes we make in netty-tcnative and hopefully we are notified if any issues are discovered (hint hint @nmittler). However maybe consolidation is more viable now that Conscrypt is 1.0.

[2018-02-10 02:29] Scottmitch commented on #330
Please update to the latest release of netty-tcnative (2.0.7) and Netty (4.1.21) and report back if the issue still persists.

[2018-02-28 10:54] mingxing47 opened #331 "java.lang.UnsatisfiedLinkError: no netty_tcnative_osx_x86_64 in java.library.path"
hi
When I add netty-tcnative-boringssl-static 2.0.7.Final in the pom file, and run my program, the console shows that:

`
java.lang.UnsatisfiedLinkError: no netty_tcnative_osx_x86_64 in java.library.path
	at java.lang.ClassLoader.loadLibrary(ClassLoader.java:1867)
	at java.lang.Runtime.loadLibrary0(Runtime.java:870)
	at java.lang.System.loadLibrary(System.java:1122)
	at io.netty.util.internal.Nati

[2018-03-10 13:39] floragunncom commented on #256
Now it seems the final openssl 1.1.1 is imminent (after 2 pre-releases) and i think it would be great if we get TLS 1.3 support with netty any time soon.

[2018-03-10 13:41] floragunncom commented on #263
I looks like this not released yet?

[2018-03-10 13:50] normanmaurer commented on #263
No yet

[2018-03-11 06:53] dfeng99 commented on #312
Hi,

I have the same issue. It seems that aprMajorVersion() evaluation failed in Library.java at line 149.

My environment:
netty 4.1.19
on ubuntu 16.04 with openssl 1.0.2g and libapr1 1.5.2-3
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.16.04.2-b12)
netty-tcnative-2.0.7.Final-linux-x86_64

[2018-03-11 07:31] dfeng99 commented on #312
Oh, I found I had an old libnetty-tcnative 1.1.33 which installed by apt-get, after remove, it works.

[2018-03-13 01:48] dfeng99 commented on #331
Well, I found that netty-tcnative will automatically extract a shared library so file into a tmp dir if it eventually can't find the shared library. Just curious about why not simply copy the so into the right path?

[2018-03-14 08:01] ChristianSchwarz opened #332 "Update the tutorial: Building on windows."
http://netty.io/wiki/forked-tomcat-native.html#building-on-windows

The tutorial is outdated some of the links don't work or where redirected to newer version that break the tutorial.

Some examples:
 *  The Visual C++ 2013 Express link redirects to the latest Visual Studio, it doesn't contain the vcvarsall.bat as described in the tutorial. The correct link is [http://download.microsoft.com/downlo

[2018-03-28 14:50] floragunncom opened #336 "Unable to build tcnative 2.0.8 statically against openssl 1.1.0h (on alpine)"
on alpine:
<pre>
[exec] make -f ./Makefile.shared -e \
     [exec] 	PERL="/usr/bin/perl" SRCDIR=. \
     [exec] 	APPNAME=apps/openssl OBJECTS="apps/app_rand.o apps/apps.o apps/asn1pars.o apps/ca.o apps/ciphers.o apps/cms.o apps/crl.o apps/crl2p7.o apps/dgst.o apps/dhparam.o apps/dsa.o apps/dsaparam.o apps/ec.o apps/ecparam.o apps/enc.o apps/engine.o apps/errstr.o apps/gendsa.o apps/genpkey.o apps/

[2018-04-10 12:02] meghalidhoble commented on #321
I am getting similar problem with latest source code as well. I am trying to build it for my platform on Ubuntu 16.04 with ppc64le architecture and the gradle build is failing during compilation of openssl-static. The error I see is as below:
`
###       _[ftp] getting files
      [ftp] transferring old/1.0.2/openssl-1.0.2n.tar.gz to /home/test/netty-tcnative/openssl-static/target/old/1.0.2/openss

[2018-04-11 10:54] meghalidhoble opened #337 "Maven install fails during FTP openssl-1.0.2.tar.gz: Cannot open: No such file or directory"
I am trying to build the source for netty-tcnative, for my platform on Ubuntu 16.04 with ppc64le architecture and the "mvn clean install" is failing during compilation of openssl-static. The error I see is as below:
[code]

Source I am referring to , belongs to branch - 2.0.7.Final
[code]

I don't face this issue with master branch, however I need this version to be built for ppc64le.
Is there any

[2018-04-16 02:55] bm3780 commented on #269
Any idea when this "weak linking" option might happen?  I'm unable to use dynamically linked version with Openssl 1.0.2.  [This line](https://github.com/reactor/reactor-netty/blob/519b2b33e8bec8fcf917917158d864f8f04a98ea/src/main/java/reactor/ipc/netty/http/client/HttpClientOptions.java#L96) in Reactor gives me a `hostname verification requires OpenSSL 1.0.2+` error, so I'm reverting to JDK provid

[2018-04-18 10:21] meghalidhoble opened #339 "Need a binary at maven-central for ppc64le"
Hi,
As I was building "cassandra-driver-core" package on my linux machine having ppc64le platform, I faced issues saying the jar is not available at the required location "maven-central".
I went ahead and build netty-tcnative latest-stable release version 2.0.8 on ppc64le architecture and it built fine for me. Then further I also tested placing this locally generated jar at the ~/.m2/repository lo

[2018-04-26 16:50] sebtomba opened #340 "boringssl-static crashes on Elliptic Curve p256k1 certificate"
I'm using `netty-tcnative-boringssl-static` version `2.0.8.Final`.

### Example code
[code]

### Elliptic Curve `p256k1` certificate
[code]

[code]

### Exception
[code]

### Counter example
`netty-tcnative` version `2.0.8.Final` works as expected with the local environment `Apache apr` (1.6.3) and `openssl` (LibreSSL 2.2.7)

[2018-04-26 19:40] sebtomba commented on #340
👍🏼

[2018-05-18 18:32] normanmaurer commented on #324
Let me close this as there was no more details added.

[2018-05-18 18:32] #324 closed

[2018-05-18 18:33] #307 closed

[2018-05-18 18:33] #323 closed

[2018-05-18 18:35] #327 closed

[2018-05-18 18:36] normanmaurer commented on #337
This is fixed in 2.0.8.Final

[2018-05-18 18:36] #337 closed

[2018-05-18 18:37] #301 closed

[2018-05-29 08:19] lijiawen opened #343 "Caused by: java.io.FileNotFoundException: META-INF/native/libnetty_tcnative.jnilib"
Caused by: java.lang.IllegalArgumentException: Failed to load any of the given libraries: [netty_tcnative_osx_x86_64, netty_tcnative_x86_64, netty_tcnative]
	at io.netty.util.internal.NativeLibraryLoader.loadFirstAvailable(NativeLibraryLoader.java:93)
	at io.netty.handler.ssl.OpenSsl.loadTcNative(OpenSsl.java:421)
	at io.netty.handler.ssl.OpenSsl.<clinit>(OpenSsl.java:89)
	... 26 common frames omi

[2018-05-29 08:57] normanmaurer commented on #343
@lijiawen This is just a debug message that tells you that it could not load netty-tcnative via some mechanism (and to be clear we try multiple of these). So thats no an issue really.

[2018-05-29 08:57] #343 closed

[2018-05-29 10:08] lijiawen commented on #343
@normanmaurer ,i have import the dependency in maven,but when i run the project ,Netty hints not found the lib,is there any other lib should import?
this is the depends i import:
<dependency>
        <groupId>io.netty</groupId>
        <artifactId>netty-tcnative</artifactId>
        <version>2.0.7.Final</version>
      </dependency>

[2018-05-29 10:09] normanmaurer commented on #343
@lijiawen please show the full debug output.

[2018-05-29 11:30] lijiawen commented on #343
@normanmaurer

java.lang.UnsatisfiedLinkError: failed to load the required native library
	at io.netty.handler.ssl.OpenSsl.ensureAvailability(OpenSsl.java:327)
	at io.netty.handler.ssl.ReferenceCountedOpenSslContext.<init>(ReferenceCountedOpenSslContext.java:202)
	at io.netty.handler.ssl.OpenSslContext.<init>(OpenSslContext.java:43)
	at io.netty.handler.ssl.OpenSslServerContext.<init>(OpenSslServe

[2018-05-29 11:47] normanmaurer commented on #343
The whole log please

[2018-05-30 13:36] normanmaurer opened #345 "Prepare to be able to link against openssl 1.1.1"
OpenSSL 1.1.1 will be the new LTS release, so we should be able to link against it:

https://www.openssl.org/blog/blog/2018/05/18/new-lts/

[2018-05-30 13:37] normanmaurer commented on #345
@carl-mastrangelo @ejona86 @Scottmitch @trustin FYI

[2018-05-30 14:06] normanmaurer commented on #256
Related to https://github.com/netty/netty-tcnative/issues/345

[2018-05-30 14:08] normanmaurer commented on #156
Actually I think we should not do this at all anymore and we even not support it anymore in netty with netty-tcnative

[2018-05-30 14:08] #156 closed

[2018-05-31 15:02] sebtomba commented on #273
Will you include this in release `2.0.9`?

[2018-05-31 15:08] normanmaurer commented on #273
No idea yet if I have time for this ... contributions welcome

[2018-05-31 15:28] sophokles73 opened #347 "What version of boringssl is used for tcnative 2.0.8?"
Hi,

is there any way of determining the commit ID of the upstream boringssl that is used for building the statically linked versions of netty-tcnative-boringssl-static?

Haven't found any hint ...

[2018-05-31 15:46] normanmaurer commented on #347
We use the chromium-stable branch which sha is used can be found in the MANIFEST that is included in the jar

[2018-05-31 15:46] #347 closed

[2018-06-01 06:30] sophokles73 commented on #347
Thanks, found it :+1:

[2018-06-02 12:58] hc-codersatlas commented on #256
Is it as simple as just updating OpenSSL or changes need to be made to support TLS 1.3?

[2018-06-02 13:05] hc-codersatlas opened #348 "Dropping support for SSLv2 / SSLv3"
SSLv2 / SSLv3 should be considered legacy. It's insecure and no longer supported. Dropping this would simplify the codebase.

[2018-06-03 09:52] pires commented on #111
@normanmaurer why docker-compose instead of multi-stage builds?

[2018-06-04 08:39] normanmaurer commented on #292
Let me close this as there was no followup with more infos.

[2018-06-04 08:39] #292 closed

[2018-06-07 11:43] lijiawen commented on #343
@normanmaurer :
the exception is thrown from here:
            SslContext  sslCtx = SslContextBuilder.forServer(certChainFile, keyFile,
                  keyPassword).sslProvider(SslProvider.OPENSSL).build();
the param value is:
certChainFile=/var/folders/4f/hvk6s3655l19bk5jb90ts_1c0000gn/T/keyutil_tigerbrokers_5172260194187379423.crt
keyFile=/var/folders/4f/hvk6s3655l19bk5jb90ts_1c0000gn/T/keyuti

[2018-06-08 03:18] lijiawen commented on #343
the problem is solved, add dependency:
<dependency>
      <groupId>io.netty</groupId>
      <artifactId>netty-tcnative-boringssl-static</artifactId>
    </dependency>

[2018-06-08 09:43] chzhong commented on #323
Thanks normanmaurer.
I've resolved this issue by upgrading netty version.

[2018-06-08 16:54] normanmaurer commented on #52
Just noticed I forgot to close this one.

[2018-06-08 16:54] #52 closed

[2018-06-09 23:23] normanmaurer opened #349 "netty-tcnative can not be build on solaris due missing strndup"
https://stackoverflow.com/questions/50362991/building-on-netty-tcnative-for-solaris

[2018-06-11 11:21] v6ak opened #351 "Allow 3rd party vulnerability scans by making clear what versions are being used"
## The hassles

The whole library can be somewhat security-critical. It consists of three native libraries:

* modified Tomcat Native
* APR (probably unless BoringSSL is used)
* OpenSSL/BoringSSL/LibreSSL

(APR and OpenSSL might be linked dynamically.)

All of those can contain vulnerabilities that are important to watch somehow. With Tomcat Native, it is possible. With netty-tcnative, it is hard:

[2018-06-11 17:48] #349 closed

[2018-06-11 20:52] rgs1 opened #353 "Possible memory leak in cert_requested()?"
We are seeing a pretty fast growing memory leak when using `clientAuth(ClientAuth.REQUIRE)` in the SSLServerContext.

A very simple self-contained repro (client & server included) can be found here:

https://github.com/rgs1/tlsleak

After looking around for a while, we found that we are leaking certificates (by inspecting the memory of the repro process). It's unclear which library is triggering t

[2018-06-11 20:58] normanmaurer commented on #353
Interesting... will need to look into it. So the leak is happen with tcnative used by Netty 4 ? Or is it with Netty 3

[2018-06-11 21:07] fishcakez commented on #353
@normanmaurer we are using netty 3 but we use netty 4's ssl handler with tcnative 2 to create the SSLEngine to be used by netty 3. However I believe we also tried the latest versions so that we were using netty4 to handle the channels (so no netty3) and still experienced the leak. If needed we can provide a version of the repro that uses the latest of all dependencies (netty/tcnative/finagle).

[2018-06-11 21:19] normanmaurer commented on #353
That would be awesome

[2018-06-11 22:05] normanmaurer commented on #353
@rgs1 actually after looking into the code a bit with @Scottmitch we think your fix is correct (doh!). Can you submit a PR ?

[2018-06-11 22:05] normanmaurer commented on #353
Please also sign our icla:

https://netty.io/s/icla

And check:

https://netty.io/wiki/writing-a-commit-message.html

[2018-06-11 22:08] Scottmitch commented on #353
+1. Looks like you found a leak. If we want to submit a PR also consider removing the `cert` [1] local variable and just directly assigning `*x509Out = sk_X509_value(chain, 0);` [2]

[1] https://github.com/netty/netty-tcnative/blob/master/openssl-dynamic/src/main/c/sslcontext.c#L1499
[2] https://github.com/netty/netty-tcnative/blob/master/openssl-dynamic/src/main/c/sslcontext.c#L1568

[2018-06-11 22:28] rgs1 commented on #353
@normanmaurer @Scottmitch great — thanks for the quick review/replies! I'll cook up a PR right away.

[2018-06-11 22:36] normanmaurer commented on #353
@nmittler @flooey FYI as conscrypt has a lot of code which is the same as tcnative (not sure if this is true for this one).

[2018-06-11 22:44] fishcakez commented on #353
I've updated the repro https://github.com/rgs1/tlsleak/pull/1/ to use latest versions and it still leaks. With https://github.com/rgs1/netty-tcnative/commit/00d20713924f34ac683e96cb2f5ef868593ed61f it does not leak. Seems we are getting this resolved :+1:. Thanks!

[2018-06-11 23:00] rgs1 commented on #353
@normanmaurer @Scottmitch here you go: https://github.com/netty/netty-tcnative/pull/354.

I've signed the ICLA as well. Thanks!

[2018-06-11 23:38] #353 closed

[2018-06-12 10:54] flooey commented on #353
@normanmaurer Thanks for the heads up!  We use SSL_CTX_set_cert_cb instead of SSL_CTX_set_client_cert_cb (and thus have our own code for it), so I think we avoided this specific issue.

[2018-06-19 09:28] normanmaurer commented on #311
I think this was "fixed" in netty by logging a warning and tell people to use a different directory:

https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/NativeLibraryLoader.java#L191

[2018-06-19 09:28] #311 closed

[2018-06-19 09:29] normanmaurer commented on #331
I think this is fixed in latest release of netty / netty-tcnative. Please reopen if you still think there is an issue

[2018-06-19 09:29] #331 closed

[2018-06-19 09:31] normanmaurer commented on #336
We just updated the version of the statically compiled openssl-static module to 1.1.0h and all works here:

https://github.com/netty/netty-tcnative/commit/e9913cb73d6942964c8bbf00ede6478d8f4050d6

I will close this for now. Please reopen if you still see issues.

[2018-06-19 09:31] #336 closed

[2018-06-19 09:33] normanmaurer commented on #345
https://github.com/netty/netty-tcnative/commit/35cd01cdffddb789ca56188a8c2a08dda33d54d8 is related to this

[2018-06-19 16:36] normanmaurer opened #359 "Don't strip libs to make debugging / profiling easier."
As of today we typically strip our static libs (like boringssl-static). I think this was mainly done in the past to make these smaller. I wonder if we should better not do this as this really makes it hard to debug / profile code once it ends up in a native method call. The only way how to do this atm is to have the user compile his own version and skip striping which I think is problematic as for

[2018-06-19 16:38] normanmaurer commented on #359
@Scottmitch @mosesn @bryce-anderson @ejona86 @carl-mastrangelo I would like to get you opinion here.

[2018-06-19 16:59] Scottmitch commented on #359
Assuming there is negligible performance/memory impact this sgtm. If the additional disk consumption becomes a problem in the future:

- folks can always build their own artifact with their desired options
- we can publish both versions (with and without symbols) if demand is high enough

[2018-06-20 12:10] mosesn commented on #359
Yeah, seems reasonable to me.  Do we know what the difference in lib size will be?

[2018-06-20 13:28] mosesn commented on #359
3MB isn't too big :shipit:

[2018-06-20 14:46] bryce-anderson commented on #359
sgtm. 3 MB is a drop in the bucket for the typical JVM app.

[2018-06-20 18:29] ejona86 commented on #359
I'd prefer for it to remain stripped:
* grpc does use it on clients, clients that may running on some sort of desktop machine (not a server)
* size is a proxy for the amount of code. For example, initially I was quite scared of tcnative when I noticed the large sizes, before I noticed the lack of stripping. Users who aren't aware of strip will likely think tcnative is a bit of a behemoth (3 MB is

[2018-06-21 01:49] carl-mastrangelo commented on #359
Personal preference is for more debug info.  Performance profiling is my main use case (and it's especially useful when asking other people to provide profiling for me to diagnose).  Space and bandwidth are cheap.

[2018-06-21 11:57] normanmaurer commented on #359
@ejona86 let me read up on the stuff you linked. At worse we could definitely ship a stripped and an non-stripped version but if possible I would like to keep it simple. I fully agree with @carl-mastrangelo here that we should make it easy to debug, have people build their own version just so they have symbols is a bit too much imho

[2018-06-21 12:29] normanmaurer opened #361 "Rename internal functions to not start with SSL_"
We currently named some of our internal functions SSL_ which is kind of confusing and may even clash with functions provided by OpenSSL in the future. We should rename these to start with TCN or something like that.

[2018-06-22 13:28] normanmaurer commented on #359
Please check https://github.com/netty/netty-tcnative/pull/363.... The jar is only slightly larger (~100k) while provide everything that is needed.

[2018-06-22 17:53] #359 closed

[2018-06-24 05:51] #361 closed

[2018-06-24 09:42] floragunncom opened #366 "tcnative compatibility"
* Is netty 4.1.13 compatible with tcnative 2.0.8, 2.0.10 and 2.0.11 ?
* Is netty 4.1.16 compatible with tcnative 2.0.8, 2.0.10 and 2.0.11 ?

[2018-06-24 10:32] normanmaurer commented on #366
@floragunncom generally speaking netty is compatible with the version that is used in the pom.xml when the release is cut.

So for 4.1.13 its 2.0.5.Final and for 4.1.16 its 2.0.6.Final. That said I "believe" it should also work with 2.0.8 and 2.0.10 but we in general we do not guarantee this as we treat netty-tcnative as an internal dependency for netty. In the future we will most likely merge it

[2018-06-24 10:32] #366 closed

[2018-06-24 10:34] floragunncom commented on #366
thx

[2018-06-24 10:46] normanmaurer commented on #312
Our static openssl build uses 1.1.1 now. Closing

[2018-06-24 10:46] #312 closed

[2018-06-24 10:47] normanmaurer commented on #269
@floragunncom @bm3780 could any of you verify this PR: https://github.com/netty/netty-tcnative/pull/365 ?

[2018-06-24 10:49] normanmaurer commented on #256
@hc-codersatlas sadly not ... But its on my to do list

[2018-06-24 10:50] normanmaurer commented on #194
@odaira correct... the problem is we do not have any infrastructure to support this during our release process.

[2018-06-24 10:52] normanmaurer commented on #195
closing as we do not have the infrastructure to support this

[2018-06-24 10:52] #195 closed

[2018-06-24 10:52] normanmaurer commented on #194
Closing as we do not have the infrastructure to support this

[2018-06-24 10:52] #194 closed

[2018-06-24 10:52] normanmaurer commented on #339
We have no infrastructure to support this, so I will close this. Sorry

[2018-06-24 10:52] #339 closed

[2018-06-24 10:54] normanmaurer commented on #22
I think we can close this for now. Please reopen if you still think we need it

[2018-06-24 10:54] #22 closed

[2018-06-25 18:36] normanmaurer commented on #269
Fixed by https://github.com/netty/netty-tcnative/pull/365

[2018-06-25 18:36] #269 closed

[2018-06-26 14:30] normanmaurer commented on #273
https://github.com/netty/netty-tcnative/pull/368 should be last bit needed to close this 🎉

[2018-06-27 06:42] #273 closed

[2018-06-28 09:44] normanmaurer commented on #21
I think it should now be possible to at least build the static versions. Let me close this

[2018-06-28 09:44] #21 closed

[2018-06-28 11:20] timboudreau commented on #21
Well, the various components of netty-tcnative now fail in possibly fixable ways...

[2018-06-28 20:39] timboudreau commented on #21
Some seem to be related to tools such as cmake not being found under
/opt/local, and I need to look at whether that's my $PATH on the Jenkins
server, or if the build hard-codes that stuff.  I just shelled into
Jenkins' workspace and manually built each project.

Others are unavailability of tools (something called "ninja" that I might
have to build for SmartOS).

The Jenkins container that runs ev

[2018-06-29 08:38] meghalidhoble commented on #339
Hi @normanmaurer,
Alternatively I can also provide you help to access the Power infrastructure (a VM Or Jenkins), so as to be able to setup CI.
You can request access for power infra. here : http://osuosl.org/services/powerdev/request_hosting/
Please let me know your thoughts.
Thanks.

[2018-07-02 01:20] liuhea opened #371 "Failed to load any of the given libraries: [netty_tcnative_linux_aarch_64]"
[code]
### Expected behavior
     Caused by: java.lang.IllegalArgumentException: Failed to load any of the given libraries: [netty_tcnative_linux_aarch_64, netty_tcnative_linux_aarch_64_fedora, netty_tcnative]

### Netty version
    implementation group: 'io.netty', name: 'netty-handler', version: '4.1.15.Final'
    implementation group: 'io.netty', name: 'netty-tcnative-boringssl-static', version

[2018-07-07 06:16] injust commented on #243
`enable-ec_nistp_64_gcc_128` is no longer useful, as the optimization has been replaced by faster assembly code (on x86-64 and armv8).

[2018-07-07 06:36] normanmaurer commented on #243
Cool do you have a link to the commit by any chance ?

[2018-07-07 08:30] injust commented on #243
@normanmaurer The assembly optimizations are in [openssl/crypto/ec/asm](https://github.com/openssl/openssl/tree/master/crypto/ec/asm).
Initial commit was back in 2014, see https://github.com/openssl/openssl/commit/4d3fa06fce52682bfbc503c7ded2d0289e3f8cde.

[2018-07-09 12:33] liuhea commented on #371
link https://github.com/netty/netty/issues/8101

[2018-07-09 12:33] #371 closed

[2018-07-18 09:35] philicious commented on #111
I would like to express strong interest in an alpine-version available from maven.
Its just to cumbersome building it yourself if you do wanna use alpine images

[2018-07-23 15:01] rkapsi opened #373 "TCN 2.0.12: error:00000000:lib(0):func(0):reason(0)"
... in conjunction with Netty 4.1.27

We're observing a small drop in successful TLS handshakes and a proportional increase in failed handshakes when upgrading from previous TCN/Netty to current version. At the same time the OpenSSL `error:00000000:lib(0):func(0):reason(0)` error makes an appearance and seems to match the drop.

Digging a bit on the Internet (e.g. [1](https://github.com/openssl/op

[2018-07-27 15:19] theangrydev opened #374 "Why is 64 bit windows trying to load 32 bit libraries?"
Windows 10 64 bit
Java 8 Update 144

For some reason I see the following:
[code]

Why is it attempting to load the 32 bit libraries?

[2018-07-31 10:26] NickNYU opened #375 "Issue: fail to load the required native library"
Hi,
I'm currently trying to leverage "boring-ssl-static" instead of JDK's SSL stuff, but the program keeping failing retrieving JNI libs(seems like).

I was wondering if there's an wonderful 'combo' for netty and netty-tcnative, because I'v tried three versions netty playing with 4(maybe) different versions tcnative

netty-4.0.37
netty-4.0.44
netty-4.0.46

tcnative
tcnative-boring-ssl

The last ve

[2018-08-01 02:29] NickNYU commented on #375
I finally somehow figure it out, to whom might be concerned about this problem:

Netty 4.1.(27|28).Final matches tcnative-boring-ssl 2.0.12.Final (got this combo from grpc project)

Netty 4.0.(36|37).Final matches tcnative-boring-ssl 1.1.33.Fork26

[2018-08-01 02:29] #375 closed

[2018-08-01 04:39] normanmaurer commented on #375
@NickNYU just for the record you can easily find out which tcnative version to use with which netty version by checking the pom.xml of the release. For example:

https://github.com/netty/netty/blob/netty-4.1.28.Final/pom.xml#L224

[2018-08-01 14:01] NickNYU commented on #375
Thank you @normanmaurer , that works

And to make it easier for others understanding the relationship between these two, would you please update the netty [wiki](http://netty.io/wiki/forked-tomcat-native.html) page?

Thanks

[2018-08-05 04:56] oubiwann commented on #331
@normanmaurer wrt "latest", are you referring to `2.0.12.Final`?

I have that version in my dependencies but am still seeing this error on my Mac (and last I checked, not on my Linux machine).

I'm going to run with `-versbose:class` to make sure I'm not pulling in an older version; if that looks okay, I'll reopen this issue ...

[2018-08-05 05:02] oubiwann commented on #331
Ah ... there are two stack traces in the logs (one preceded by
[code]
and the other preceded by
[code]

However, after those, I do see a successful load:
[code]

(Seems like it might be more appropriate to have those in a `TRACE` log rather than `DEBUG` ...)

Not reopening ticket ...

[2018-08-07 14:37] rtdavies commented on #375
It would be great if that information was in release notes, on the wiki, or somewhere else slightly more searchable. Maybe it's just me (I'm new to netty) but I spent hours looking for it. Nonetheless, thanks for the great library!

[2018-08-08 00:25] rtdavies commented on #332
The maven build for openssl-static is broken on tag netty-tcnative-parent-2.0.12.Final

[code]

Apparently, building openssl no longer uses ms/do_win64a.bat.

https://stackoverflow.com/questions/39076244/why-there-is-no-ms-do-ms-bat-after-perl-configure-vc-win64a#39247560

[2018-08-16 19:45] rkapsi commented on #373
@normanmaurer

[code]

[2018-08-29 15:15] rkapsi commented on #373
@normanmaurer my original assessment regards increased handshake errors was due to DHE (but I didn't know that yet). With that fixed there seems to be a 1 to 1 shift from one set of errors to a different set of errors. When I do a `sumSeries(...)` over the graph below it looks exactly the same between 1.0.2 and 1.1.0.

![screenshot from 2018-08-29 11-03-23](https://user-images.githubusercontent.co

[2018-08-29 15:28] normanmaurer commented on #373
Ok that’s good... do still see the same kind of errors as reported here tho ?

[2018-08-29 15:37] rkapsi commented on #373
Yea, still present. It's the purple line on the right hand side of the graph (the most frequent error). It seems to have been `error_140940e5_ssl_routines_ssl3_read_bytes_ssl_handshake_failure` (baby blue) under 1.0.2.

[2018-08-29 15:40] rkapsi commented on #373
(pay no attention to the harmonicity of the errors; it's some pesky/badly written bot that keeps coming back every couple of minutes)

[2018-08-29 15:45] normanmaurer commented on #373
And this has the „error:00000000:lib(0):func(0):reason(0)“ ?

[2018-08-29 15:47] normanmaurer commented on #373
Would be interesting to see the log after this is applied https://github.com/netty/netty/pull/8236

[2018-08-29 15:49] rkapsi commented on #373
Correct.

The names in the legend of the graph are simply normalized versions of the OpenSSL error strings (all `:()` replaced with `_` just so that the time series db doesn't get a hiccup)

[2018-08-29 16:11] rkapsi commented on #373
Shouldn't be a problem to get netty/netty#8236 deployed on our end.

[2018-09-07 19:32] rtdavies opened #385 "openssl-static libnetty_tcnative.jnilib missing symbols"
I built libnetty-tcnative.jnilib from the openssl-static directory at release 2.0.14 and got a linking error trying to use it:

When I repeated my build at release 2.0.12, the error was gone. Upon investigation I found that the 2.0.14 library was missing all the openssl symbols. I was able to fix the build by remove a recently added argument to the maven-hawtjni-plugin configuration.

## Details

[2018-09-07 19:36] normanmaurer commented on #385
@rtdavies hmm thats very strange as in fact that is exactly what we want as we do not want to expose any openssl symbols from our static lib because it may cause strange side-effects when using multiple shaded versions of tcnative. I tested it locally here and it worked without any problems. Can you please provide the exact steps that caused the error for you ?

[2018-09-07 19:43] rtdavies commented on #385
I suspected maybe this was intentional. I should have mentioned that to get the above linking error I'm using JNA to load the library.

[code]

[2018-09-07 19:45] rtdavies commented on #385
And the stacktrace:
[code]

[2018-09-07 19:47] normanmaurer commented on #385
@rtdavies yes that is completely by propose due the problem stated before and stated in the commit message of the change. We dont want to export any openssl functions, if the user want to use any they will need to link against their own openssl version. What we could do if its helpful would be to disable this new configure option with a flag tho.

[2018-09-07 19:48] normanmaurer commented on #385
Also as a side note you may want to use 2.0.15.Final which fixes some problems with DH ciphers ;)

[2018-09-07 19:56] rtdavies commented on #385
I talked to my architect and we have a preference for loading with JNA and don't know of a way to accomplish that without the symbols. Assuming that we aren't missing some technique, it would be nice to have an option to build with or without symbols, but without it, we can simply modify the pom.xml. Thanks!

[2018-09-07 20:44] rtdavies commented on #385
I readily admit that we are probably doing something unnatural so if it doesn't make sense to maintain a build option, I'd say just go ahead and close this issue.

Netty-tcnative, JNA and JNI are all new to me and I'm trying to maintain inherited code that, as you point out, is using using openssl functions via netty-tcnative library. I will look into improving how the code is structured and how l

[2018-09-09 08:59] floragunncom opened #386 "Unable to build 2.0.15 statically against 1.1.1-pre9 on alpine"
Building tcnative 2.0.15 statically against openssl 1.1.1-pre9 on alpine fails (It works well on ubuntu and fedora):

<pre>
     [exec] rm -f apps/openssl
     [exec] ${LDCMD:-gcc} -pthread -m64 -Wa,--noexecstack -Wall -O3 -O3 -fno-omit-frame-pointer -fPIC -L.   \
     [exec] 	-o apps/openssl apps/asn1pars.o apps/ca.o apps/ciphers.o apps/cms.o apps/crl.o apps/crl2p7.o apps/dgst.o apps/dhparam.o ap

[2018-09-09 09:32] normanmaurer commented on #386
@floragunncom can you build openssl 1.1.1-pre9 by itself. This looks more like a build failure in openssl itself then in netty-tcnative.

[2018-09-10 12:32] theangrydev commented on #374
For the record, this happened because of running the 32bit JVM on a 64bit OS

[2018-09-11 00:16] jonafer11 commented on #331
I think it's because it can not load the full name. The error says that it does not load netty_tcnative_osx_x86_64 but the file it generates is called netty_tcnative_osx_x86_646414635283876674468.dylib

[2018-09-11 13:35] floragunncom commented on #345
OpenSSL 1.1.1 is now finally released

[2018-09-11 13:35] floragunncom commented on #256
OpenSSL 1.1.1 is now finally released

[2018-09-12 09:44] normanmaurer opened #387 "Make use of CRYPTO_BUFFER when using BoringSSL"
We should check if we can make use of CRYPTO_BUFFER when compiling against BoringSSL to improve performance / memory usage:

https://boringssl.googlesource.com/boringssl/+/HEAD/PORTING.md#crypto_buffer

[2018-09-12 09:45] normanmaurer commented on #387
/cc @ejona86 @carl-mastrangelo @davidben @Scottmitch @trustin

[2018-09-12 13:43] normanmaurer commented on #345
@floragunncom will look into it the next weeks

[2018-09-12 13:43] normanmaurer commented on #256
Will look into it.

[2018-09-14 19:33] normanmaurer commented on #256
@snazy @hc-codersatlas @floragunncom @nename0 just for the record I have everything working here locally and just need to do some more cleanup etc but will provide some PRs within the next 1-2 weeks.

[2018-09-20 00:14] #345 closed

[2018-09-20 00:15] #256 closed

[2018-09-23 16:51] MariaSS88 opened #393 "Failed to load any of the given libraries: [netty_tcnative_windows_x86_32, netty_tcnative_x86_32, netty_tcnative]"
Windows x64
java version "1.8.0_181"
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)

I am trying to call Google AutoML Vision model.
I have this dependency in my project
<dependency>
            <groupId>io.netty</groupId>
            <artifactId>netty-tcnative</artifactId>
            <version>2.0.0.Final</version>

[2018-09-23 19:11] normanmaurer commented on #243
@injust thanks a lot

[2018-09-23 19:11] #243 closed

[2018-09-23 19:12] normanmaurer commented on #121
This was fixes by https://github.com/netty/netty-tcnative/pull/390

[2018-09-23 19:12] #121 closed

[2018-09-25 02:51] master-starcloud commented on #331
yeah, thanks for oubiwann and I read the source code io.netty.util.internal.NativeLibraryLoader#load.
it solved my problem

[2018-09-25 06:31] #120 closed

[2018-09-25 19:15] #118 closed

[2018-09-29 22:44] #393 closed

[2018-10-08 14:01] #385 closed

[2018-10-12 19:03] ejona86 opened #400 "SNI may incorrectly send hostname with trailing dot"
Hostnames like `example.com` may also be written as `example.com.` Technically those are different because the trailing dot denotes it is an absolute name and not relative (so it would disable using the `search` path in `/etc/resolv.conf`, for example).

When using encryption, the user is always expected to provide the absolute name. SNI requires the absolute name, but _without_ the trailing dot.

[2018-10-12 19:05] ejona86 commented on #400
FWIW, in the same case Go still sends SNI, but trims the trailing dot.

[2018-10-13 04:27] normanmaurer commented on #400
@ejona86 this should be easy to fix... let me do this.

[2018-10-13 04:42] normanmaurer commented on #400
@ejona86 https://github.com/netty/netty-tcnative/pull/401

[2018-10-15 13:11] normanmaurer commented on #386
Closing due inactivity... please re-open if you still think there is anything we should do

[2018-10-15 13:11] #386 closed

[2018-10-15 13:12] normanmaurer commented on #348
I think we should just keep it for now even when it is considered legacy. If you do not want to support it you can compile the openssl version without support easily. (that's what we do for the static one).

[2018-10-15 13:12] #348 closed

[2018-10-15 13:12] normanmaurer commented on #223
@rkapsi any idea what we should do with this one ?

[2018-10-16 21:24] luengnat opened #403 "netty-tcnative jar should contains netty_tcnative library for all platforms"
Is there any reason why netty-tcnative jar does not contain netty_tcnative library for all platforms. The baseline netty_tcnative does not contain any dynamic library while the os-specific version only contains the library for the target platform. This makes it a little difficult to make a single app package which will work across platforms without doing something magic with classpath as the libra

[2018-10-17 09:55] normanmaurer commented on #403
@luengnat that's unfortunately a bit tricky as centos and debian based linux distros use a different naming shaming for the included ssl installation. that said our static compiled version (against boringssl) includes all platforms.

[2018-10-18 15:58] manikantag opened #404 "Client certificate signature issue when using netty-tcnative-boringssl-static with IBM J9 JDK"
Hi,

I'm using **`netty-tcnative-boringssl-static` with IBM J9 JDK (websphere)** for client cert auth to connect to Apple APNS (HTTP2), and getting this error (with `System.setProperty("javax.net.debug", "all");`):

    ssl: Ignoring alias kes: signature does not conform to negotiated signature algorithms

- Netty 4.1.30.Final
- netty-tcnative-boringssl-static 2.0.18.Final
- IBM JDK details:

		ja

[2018-10-18 16:18] normanmaurer commented on #404
Can you provide a minimal reproducer I can run ?

[2018-10-18 16:26] nicktrav opened #405 "Enable TLS v1.3 when using BoringSSL"
Currently, when using the borringssl-static variant of netty-tcnative for TLS, it is not possible to use version 1.3 of the protocol.

This is due to it being disabled at compile time:
https://github.com/netty/netty-tcnative/blob/4eac818deb1816758c329602511bfc1798099792/openssl-dynamic/src/main/c/ssl_private.h#L143-L148

so we end up with a runtime exception when starting up a server with TLS v1.3

[2018-10-18 16:34] normanmaurer commented on #405
@nicktrav Are you sure it’s in chromium-stable yet ?

[2018-10-18 18:55] manikantag commented on #404
@normanmaurer, excuse me for the delay. I faced issue while extracting minimal repro code. Initially, I didn't added BouncyCastly dependency in the repro pom (it was there in our main project pom) and facing `KeyManagerFactory not supported` error). I had to debug to see the BouncyCastle requirement, especially for non Oracle JDKs.

Please find the repro code here: https://github.com/manikantag/ne

[2018-10-18 19:09] manikantag commented on #404
I've downloaded IBM JDK 8.0.5.22 from here: https://developer.ibm.com/javasdk/downloads/sdk8/

[2018-10-18 19:17] normanmaurer commented on #405
@nicktrav just talked to @davidben and he pushed everything to the chromium-stable branch so we should be able to support it. Will have a look soon :)

[2018-10-18 20:32] nicktrav commented on #405
Ah, apologies @normanmaurer! I was being presumptuous. I just noticed a bunch of commits on the branch we're building BoringSSL off of (we build internally), and assumed it was on chromium-stable.

Thanks for following up, and thanks @davidben for pushing 🙏

[2018-10-19 15:42] manikantag commented on #404
@normanmaurer did you get a chance to look into this issue?

[2018-10-19 15:43] normanmaurer commented on #404
@manikantag sorry not yet and it may take me a few days as I am preparing for some business travel etc.

[2018-10-19 15:44] normanmaurer commented on #404
@manikantag also I am confused... Bouncycastle is not required at all. Why you think it is ?

[2018-10-19 15:49] normanmaurer commented on #404
Also I guess you will not be able to create a reproducer only using netty (without vertx) ? This would make it a lot easier .

[2018-10-20 05:48] manikantag commented on #404
Yes, BouncyCastle is being used for IBM JDK.

In [OpenSsl.java#L165](https://github.com/netty/netty/blob/netty-4.1.30.Final/handler/src/main/java/io/netty/handler/ssl/OpenSsl.java#L165), **`cert = new SelfSignedCertificate()`** is checking for `BouncyCastle` in [SelfSignedCertificate#L154](https://github.com/netty/netty/blob/netty-4.1.30.Final/handler/src/main/java/io/netty/handler/ssl/util/SelfSi

[2018-10-20 07:28] manikantag commented on #404
Yeah, I couldn't at this time. Learning netty is my next plan and I assuming your book on Netty is a good starting point :)

[2018-10-20 12:16] manikantag commented on #404
@normanmaurer Till the time we have a fix for this, is there any better alternative way to support all OS versions (Windows, Linux & Oracle JDK, IBM JDK)?

I tried using **netty-tcnative-openssl-static-xxx** on Linux, but getting below error:

[code]
But I can see the **libnetty_tcnative.so** in **netty-tcnative-2.0.18.Final-linux-x86_64.jar\META-INF\native\libnetty_tcnative.so**. I've installed O

[2018-10-20 13:18] manikantag commented on #404
I tried compiling `netty-tcnative-openssl-static-{os_arch}` for Linux CentOS, but getting but is asking for directories for APR & OpenSSL. Should I give OpenSSL & APR installed dirs?

[2018-10-20 18:36] normanmaurer commented on #404
@manikantag sorry like I said I am a bit busy atm to fully investigate... You should be able to build it by just doing:

./mvnw -pl openssl-static clean package

That said if the boringssl does not work this will not work as well.

Also if you want to use netty-tcnative directly on centos you will need to use:

[code]

[2018-10-21 08:51] normanmaurer commented on #404
@manikantag can you please also share the cert stuff so I can reproduce it via email if you can not do here:

norman dot maurer at googlemail dot com

[2018-10-21 09:32] manikantag commented on #404
@normanmaurer Shared the test cert & pass over email. Thanks

[2018-10-22 06:10] manikantag commented on #404
I tried using `netty-tcnative-2.0.18.Final-linux-x86_64-fedora`, and the previous problem is gone. But, now getting different issue about OpenSSL version: **ALPN is not available for OpenSSL SSL/TLS engine**

**Although my server has `OpenSSL 1.0.2k-fips  26 Jan 2017`, but netty is somehow picking `OpenSSL 1.0.1e-fips 11 Feb 2013`**.

Just to verify, I've removed OpenSSL and verified `openssl vers

[2018-10-22 10:55] manikantag commented on #404
@normanmaurer I've updated the repro program to remove Vert.x usage. Now the test program just uses Netty _(I've used Netty's HttpClient example program)_.

Usage: `/ibmjava_home/bin/java com.manikanta.netty.Http2Client cert-path.p12 cert-pass`

_You can use the DevCert.p12 & pass I've mailed._

Let me know if this helps.

[2018-10-22 14:57] nicktrav commented on #405
@normanmaurer I think we're all good here, so I'll close this one out 👍.

Linking to #406, which is merged now.

[2018-10-22 14:57] #405 closed

[2018-10-22 16:35] normanmaurer commented on #404
Can you show me the content of /use/lib/ and /usr/lib64 ?

[2018-10-22 18:17] manikantag commented on #404
Please find the attachments.

`[root@localhost ~]# ls /usr/lib > lib.txt`: [lib.txt](https://github.com/netty/netty-tcnative/files/2502553/lib.txt)

`[root@localhost ~]# ls /usr/lib64 > lib64.txt`: [lib64.txt](https://github.com/netty/netty-tcnative/files/2502556/lib64.txt)

**CentOS distro details**:

[code]

[code]

[code]

[code]

Please let me know if you any more details.

[2018-10-24 15:12] manikantag commented on #404
@normanmaurer is there anything I can do to stipulate the fix for this? Can you give me a clue where could be an issue? As long as it is in Java code, I could try it _(I'm not much into C/C++)_

[2018-10-25 10:01] manikantag commented on #404
Update: I've compiled latest 4.1 code to see if any new PRs (esp https://github.com/netty/netty/pull/8415) fixes it.

Luckily it is working with OpenSSL static combination (same is **not** working with 4.1.30-Final artifacts). But not working with BoringSSL static though. I've compiled both OpenSSL static & BoringSSL static on master branch.

[2018-10-25 10:52] manikantag commented on #404
I can see some differences in the way the alogs got loaded (OpenSSL Cipher suite mapping has more entries in same IBM J9 JDK).

openssl debug log: [openssl.txt](https://github.com/netty/netty-tcnative/files/2514483/openssl.txt)

boringssl debug log: [boringssl.txt](https://github.com/netty/netty-tcnative/files/2514484/boringssl.txt)

[2018-10-25 15:54] normanmaurer commented on #404
@manikantag thats most likely due the fact that `BoringSSL` does not support some of the ciphers that `OpenSSL` does. Can you tell me what cipher you require and can you check if this is supported by `BoringSSL` ?

[2018-10-26 07:34] manikantag commented on #404
But the same BoringSSL is working with Oracle JDK with same cert & server, and the cipher suites loaded are exactly same with both JDKs.

Please find the debug logs for both IBM & Oracle JDKs.

BoringSSL + Oracle JDK: [boringssl-oraclejdk.txt](https://github.com/netty/netty-tcnative/files/2518197/boringssl-oraclejdk.txt)
Boring SSL + IBM JDK: [boringssl-ibmjdk.txt](https://github.com/netty/netty-t

[2018-10-26 07:35] manikantag commented on #404
I'm trying to see what exact algo is causing this, but so far no luck. I'll be working on that.

[2018-10-31 20:20] normanmaurer commented on #404
@manikantag any update ? I hope to be able to also have a look very soon.

[2018-10-31 20:25] normanmaurer commented on #404
@manikantag also did you see https://www-01.ibm.com/support/docview.wss?uid=swg22003076 ?

[2018-11-01 06:11] manikantag commented on #404
Yes. In fact I've removed all the algos in the `ibm_sdk80\jre\lib\security\java.security` file _(shown below)_

    jdk.certpath.disabledAlgorithms=MD2
    jdk.tls.disabledAlgorithms=SSLv3
    jdk.jar.disabledAlgorithms=MD2

Removed everything else. But still the same error is coming

**And I can confirm that without removing any algos from ibmjdk' `java.security`, client cert auth is working fine

[2018-11-01 06:12] manikantag commented on #404
I'm not able to figure out which algo is causing this issue, and in my observation as stated in my previous comment, cipher suites are same with both JDKs.

[2018-11-01 06:32] manikantag commented on #404
Both Oracle & IBM have same `jdk.certpath.disabledAlgorithms` & `jdk.jar.disabledAlgorithms`.
[code]

But `jdk.tls.disabledAlgorithms` differ: `DESede` is not there in Oracle JDK. I tried removing that from IBM JDK, but didn't worked.

IBM:
[code]

Oracle:
[code]

[2018-11-03 10:12] strongmanwj opened #410 "how can i use the early-data interface of openssl in tcnative-boringstatic-2.0.19 ?"
i want to user early-data in netty tcnative, but i can not find the interface. 3Q

[2018-11-03 10:14] normanmaurer commented on #410
We have none yet....

[2018-11-03 10:14] #410 closed

[2018-11-06 10:37] normanmaurer commented on #404
@manikantag sorry but I think I will not be able to help here... I have no license for IBM JDK and I can not reproduce it with OpenJ9 (java11) .  Maybe if you can send me the log when it fails I get a better idea.

[2018-11-06 10:44] manikantag commented on #404
@normanmaurer I didn't get what do you mean by IBM JDK license? I've downloaded IBM JDK 8.0.5.22 from here: https://developer.ibm.com/javasdk/downloads/sdk8/ and just unzipped the jdk and it is working fine. In fact I don't have any license either.

I've attached Netty debug logs for different combinations in my previous comment: https://github.com/netty/netty-tcnative/issues/404#issuecomment-4333

[2018-11-06 10:46] manikantag commented on #404
@normanmaurer If needed I can provide you screen sharing and remote debug that way. Please let me know your preference.

[2018-11-06 10:49] normanmaurer commented on #404
@manikantag this one
http://www14.software.ibm.com/cgi-bin/weblap/lap.pl?popup=Y&la_formnum=&li_formnum=L-SMKR-AVSEUH&title=IBM%20SDK,%20Java%20Technology%20Edition,%20Version%208&accepted_url=http://public.dhe.ibm.com/ibmdl/export/pub/systems/cloud/runtimes/java/8.0.5.25/linux/i386/ibm-java-sdk-8.0-5.25-i386-archive.bin ?

[2018-11-06 10:51] manikantag commented on #404
@normanmaurer The moment I click 'I agree', `ibm-java-sdk-8.0-5.25-i386-archive.bin` is downloading. Isn't that the JDK bin? Am I missing something?

[2018-11-06 11:01] manikantag commented on #404
@normanmaurer I've downloaded the JRE from the link you've given and able to install it in CentOS. It didn't asked me any license file. Ok, I think I get it.

[2018-11-06 18:56] normanmaurer commented on #404
@manikantag so after some more debugging I can say that the KeyManagerFactory that is provided by the IBM JDK does return no alias when calling chooseEngineClientAlias(...) while the JDK one does. The problem here really is that I have no idea why as I can not see the implementation of the IBM JDK. So I am not sure how I should debug this any further. I can only say that the same call against Open

[2018-11-07 15:05] luengnat opened #411 "netty-tcnative should contain more implementations to crypto library e.g. EVP API"
@normanmaurer I'm not sure whether it is the right place to ask. But openssl already has a much more efficient implementation of cipher and digest which can be useful for an application that uses Netty. Do you think it worths to expose OpenSSL's EVP API out via netty-tc-native JNI so that the application can use those apis easily instead of having to write another JNI library to do so?

[2018-11-07 19:16] normanmaurer commented on #411
@luengnat honestly I think it a bit out of scope of what we try to do here and I think we are currently not ready to support it.

[2018-11-07 19:16] #411 closed

[2018-11-07 23:36] luengnat commented on #411
fair enough.

[2018-11-08 09:04] manikantag commented on #404
@normanmaurer I tried to debug and struck at IBM JDK's `chooseEngineClientAlias()` as I'm not able to decompile that method.

In another trail, I changed the `io.netty.handler.ssl.OpenSslKeyMaterialManager.chooseClientAlias()` implementation like below:

[code]

I'm returning the `chooseEngineClientAlias()` response only if it is not null, which will be case with Oracle JDK. In case of IBM, `manag

[2018-11-08 09:43] normanmaurer commented on #404
@manikantag sure you could do the change  but this is really just a workaround and not 100 % correct imho. That said for this you don't need to adjust Netty at all but you could just wrap the KeyManagerFactory (and so the `X509ExtendedKeyManager` to do this.

Its interesting that OpenSSL works, I suspect it uses different signature algorithms. I will check soon and verify if this is the case.

[2018-11-08 10:02] manikantag commented on #404
@normanmaurer I didn't get what do you mean by

Does that mean a custom implementation of `KeyManagerFactory` and `X509ExtendedKeyManager` to select the alias correctly?

[2018-11-08 18:11] normanmaurer commented on #404
@manikantag good news... I think I found the problem and working on a fix as we speak now.

[2018-11-08 19:48] normanmaurer commented on #404
@manikantag alright I figured it out... Once these two PRS are in all works:

https://github.com/netty/netty-tcnative/pull/412
https://github.com/netty/netty/pull/8481

Thanks again for all the details :)

[2018-11-08 23:52] manikantag commented on #404
@normanmaurer great news, thanks for your efforts. Will check after PR merges.

[2018-11-15 09:09] manikantag commented on #404
@normanmaurer Now that the 2 PRs are merged into 4.1 branch, when can we expect the 4.1.32 release? Thanks.

[2018-11-15 10:26] #403 closed, assigned to nobody

[2018-11-18 11:20] floragunncom opened #414 "Is tcnative 2.0.20.Final compatible with netty 4.1.30?"
Is tcnative 2.0.20.Final compatible with netty 4.1.30?

If not, what is the latest compatible version? (I know that 2.0.15 is in the pom of 4.1.30 but i like to have at least 2.0.16 because of TLSv13 and i cannot upgrade netty to anything else than 4.1.30)

[2018-11-18 11:36] normanmaurer commented on #414
Sorry but the latest is what is in the pom.xml. Also you will need Netty 4.1.31.Final for TLS1.3

[2018-11-18 11:36] #414 closed

[2018-11-19 08:15] xinln commented on #331
java.lang.UnsatisfiedLinkError: no org_apache_pulsar_shade_netty_tcnative_windows_x86_64 in java.library.path

我出现了这个错， 请问楼主解决了么

[2018-11-19 14:09] oubiwann commented on #331
@xinln Be sure to read all the log output ... after the error you mentioned, do you see a line a little bit later in the log output that says `Successfully loaded the library`?

In the past, when I've had problems starting one of my apps that used netty, the error above was not the cause ... the errors in the logs are easy to misinterpret. I'm not saying the same is true for you, but it _might_ be

[2018-11-20 20:07] rkapsi opened #415 "Next dev iteration commit missing"
The usual `[maven-release-plugin] prepare for next development iteration` commit is missing, and the version in the pom file is subsequently 2.0.20.Final instead of 2.0.21-SNAPSHOT.